<template>
  <div class="container">
    <SearchWindow
        title="РЕАЛИЗАЦИЯ ГК"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-1 mt-3"><label>Статья</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option selected value="НИОКР">НИОКР</option>
          </select>
        </div>
        <div class="col-1 mt-3"><label>Статус</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="status" id="status" name="status" class="form-select">
            <option></option>
            <option>Вновь начинаемые</option>
            <option>Переходящие</option>
          </select>
        </div>
        <div class="col-1 mt-3"><label>Вид НТД</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="typeNTD" id="typeNTD" name="typeNTD" class="form-select">
            <option></option>
            <option>ГОСТ</option>
            <option>ГОСТ Р</option>
            <option>ПНСТ</option>
            <option>ОДМ</option>
            <option>ПРОЕКТ НТД</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Год формирования Плана с:</label></div>
        <div class="form-group col-1 gy-2">
          <select v-model="yearPlanFrom" id="yearPlanFrom" name="yearPlanFrom" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-3"><label>по:</label></div>
        <div class="form-group col-1 gy-2">
          <select v-model="yearPlanTo" id="yearPlanTo" name="yearPlanTo" class="form-select">
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-3"><label>Номер</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-3"><label>Состояние</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="condition" id="condition" name="condition" class="form-select">
            <option></option>
            <option>Выполняется</option>
            <option>Завершен</option>
            <option>Расторгнут</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Наименование</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
        <div class="col-1 mt-3"><label>Заказчик</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="customer" id="customer" name="customer" class="form-select">
            <option selected :value="null">Все заказчики</option>
            <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-12">
            <BaseIcon name="alert" class="text-warning h1"/>&nbsp;
            <i>Поиск по дате утверждения актуален только для ГОСТ, ГОСТ Р, ПНСТ и ОДМ, разработанных по заказу ФДА</i>
          </div>
        </div>
        <div class="col-6 mt-1"><label>Дата утверждения НТД с:</label></div>
        <div class="col-6 mt-1"><label>По дату утверждения НТД:</label></div>
        <div class="form-group col-6">
          <input v-model="dateApprovalFrom" id="dateApprovalFrom" type="date" name="dateApprovalFrom"
                 class="form-control">
        </div>
        <div class="form-group col-6">
          <input v-model="dateApprovalTo" id="dateApprovalTo" type="date" name="dateApprovalTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения ГК с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения ГК:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения ГК с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения ГК:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateStartFrom" id="dateStartFrom" type="date" name="dateStartFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateStartTo" id="dateStartTo" type="date" name="dateStartTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishFrom" id="dateFinishFrom" type="date" name="dateFinishFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishTo" id="dateFinishTo" type="date" name="dateFinishTo" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      :aggregate="aggregate"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import BaseIcon from "@/components/BaseIcon";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";

export default {
  name: "TheRealizationSearch",
  components: {
    SearchWindow,
    BaseIcon,
    TableView,
    DetailModal,
    TheBlocksDetail
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      customers: list.customers,
      budgetItem: "НИОКР",
      status: null,
      typeNTD: null,
      yearPlanTo: new Date().getFullYear(),
      yearPlanFrom: new Date().getFullYear(),
      number: null,
      condition: null,
      name: null,
      executor: null,
      customer: null,
      dateApprovalFrom: null,
      dateApprovalTo: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      rows: null,
      aggregate: null,
      blocks: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Год плана',
          field: 'year'
        },
        {
          title: 'Наименование ГК',
          field: 'title'
        },
        {
          title: 'Исполнитель',
          field: 'executor'
        },
        {
          title: 'Номер ГК',
          field: 'number'
        },
        {
          title: 'Дата заключения ГК',
          field: 'date_sign'
        },
        {
          title: 'Дата завершения ГК',
          field: 'date_finish'
        },
        {
          title: 'Стоимость всего (тыс. ₽)',
          field: 'price'
        },
        {
          title: 'Состояние ГК',
          field: 'status'
        },
        {
          title: 'Документ',
          field: 'context'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      const data = {
        allSearchQuery: allSearchQuery,
        budgetItem: this.budgetItem,
        status: this.status,
        typeNTD: this.typeNTD,
        yearPlanTo: this.yearPlanTo,
        yearPlanFrom: this.yearPlanFrom,
        number: this.number,
        condition: this.condition,
        name: this.name,
        executor: this.executor,
        customer: this.customer,
        dateApprovalFrom: this.dateApprovalFrom,
        dateApprovalTo: this.dateApprovalTo,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo
      }
      privateApi
          .post('/api/private-search/information/realization', data)
          .then(res => {
                let rawRows = res.data.rows
                this.aggregate = res.data.aggregate
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        year: rawRows[i].year,
                        title: rawRows[i].title,
                        executor: rawRows[i].executor,
                        number: rawRows[i].number,
                        date_sign: rawRows[i].date_sign,
                        date_finish: rawRows[i].date_finish,
                        price: rawRows[i].price,
                        status: rawRows[i].status,
                        context: rawRows[i].context
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.budgetItem = "НИОКР"
      this.status = null
      this.typeNTD = null
      this.yearPlanTo = new Date().getFullYear()
      this.yearPlanFrom = new Date().getFullYear()
      this.number = null
      this.condition = null
      this.name = null
      this.executor = null
      this.customer = null
      this.dateApprovalFrom = null
      this.dateApprovalTo = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
    }
  }
}
</script>

<style scoped>

</style>
