<template>
  <div class="container">
    <div class="row mb-2 mt-2">
      <div class="col-12 text-left">
        <span class="main-header"><strong>ИДЕОЛОГИЯ ОБЪЕДИНЕННОГО ПОИСКА ИНФОРМАЦИИ ПО РАЗРОЗНЕННЫМ БАЗАМ ДАННЫХ СВОДИТСЯ К СЛЕДУЮЩИМ ВАРИАНТАМ:</strong></span>
      </div>
    </div>
    <div class="row">
      <div class="col-2 text-center">
        <router-link :to="{name: 'global-search'}"><img class="icon-info" src="img/newdesign/icons_nto-33.png">
        </router-link>
        <!-- <img  class = "back" src="img/newdesign/kvadrat_big17.png" /> -->
      </div>
      <div class="col-10 text-left">
        <span class="blue-text">
          <router-link :to="{name: 'global-search'}"><strong>ГЛОБАЛЬНЫЙ ПОИСК</strong></router-link>
          <br><strong>Одновременный поиск по всем базам данных, входящим в ЕПС НТО, с соответствующей
                      идентификацией в результирующем окне тех ОИС, где нашлась информация по запросу.</strong>
          <br>Искать можно:<br><strong>по завершенным контрактам</strong>
              — наименование, номер и дата заключения контракта, наименование результата интеллектуальной деятельности (РИД);<br>
          <strong>по изданным научно-техническим документам</strong> — наименование, номер документа;<br>
          <strong>по изобретениям</strong> — наименование, номер изобретения;<br>
          <strong>по организациям дорожного хозяйства</strong> — административная единица, группа организаций,
              сокращенное/полное наименование организации, вид деятельности.</span>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-2 text-center">
      </div>
      <div class="col-10 text-left">
        <span class="blue-text"><strong>РАСШИРЕННЫЙ ПОИСК</strong><br>Поиск по выбранным группам ОИС:<br></span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 text-center">
        <router-link :to="{name: 'nioktr-search'}"><img class="icon-info" src="img/newdesign/icons_nto-46.png">
        </router-link>
      </div>
      <div class="col-10 text-left">
        <span class="blue-text">1. <router-link :to="{name: 'nioktr-search'}"><strong>НИОКТР</strong></router-link>: ОИС «ОФАП», ОИС «Архив НТР», ОИС «Оперативный учет НТР», ОИС «Учет РНТД», ОИС «Конкурс НТР»
                                - поиск информации по научно-техническим, опытно-конструкторским и технологическим работам.<br>
                                Искать можно:<br>
          <strong>по завершенным контрактам</strong> — наименование, номер и дата заключения контракта, год завершения, разработчик, номер в отраслевом Архиве НТР.</span>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-2 text-center">
        <router-link :to="{name: 'eb-ntd-search'}"><img class="icon-info" src="img/newdesign/icons_nto-47.png">
        </router-link>
        <br> <br>
        <router-link :to="{name: 'eb-patents-search'}"><img class="icon-info" src="img/newdesign/icons_nto-48.png">
        </router-link>

      </div>
      <div class="col-10 text-left">
        <span class="blue-text">2. <strong>ЭБ (<router-link :to="{name: 'eb-ntd-search'}">НТД</router-link>/
          <router-link :to="{name: 'eb-patents-search'}">Патенты</router-link>)</strong>: поиск информации по документам, содержащимся в Библиотеке научно-технических документов и Отраслевом фонде технических регламентов и стандартов / по патентам на изобретения и полезные модели в области дорожного хозяйства;<br>Искать можно в ЭБ НТД:<br><strong>по изданным научно-техническим документам</strong> — наименование, номер документа, тип документа, организация-разработчик, год издания, цифровой код разделов/подразделов отраслевого классификатора НТД, тематике ЭБ НТД.<br>Искать можно в ЭБ ПАТЕНТЫ:<br><strong>по изобретениям</strong> — наименование, номер патента, дата публикации, цифровой код разделов/подразделов МПК.</span>
      </div>
    </div>
    <div class="row mt-3 mb-2">
      <div class="col-2 text-center">
        <router-link :to="{name: 'ats-dh-search'}"><img class="icon-info" src="img/newdesign/icons_nto-49.png">
        </router-link>
      </div>
      <div class="col-10 text-left">
        <span class="blue-text">3. <router-link :to="{name: 'ats-dh-search'}"><strong>АТС ДХ</strong></router-link>: поиск информации по организациям, задействованным в дорожном хозяйстве.<br>Искать можно:<br><strong>по организациям дорожного хозяйства</strong> — административная единица, группа организаций, сокращенное/полное наименование организации, вид деятельности, почтовый адрес, сайт, электронная почта организации, телефон организации/контактного лица, Ф.И.О. контактного лица.</span>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "BodyHelper"
}
</script>

<style scoped>

</style>
