<template>
  <table class="table table-striped table-bordered table-sm">
    <thead>
    <tr class="text-center">
      <th>Краткое наименование</th>
      <th>Полное наименование</th>
      <th>Хранимые сведения</th>
    </tr>
    </thead>
    <tbody class="text-left">
    <tr>
      <th>Архив НТР</th>
      <td>Автоматизированный архив научно-технических разработок дорожного хозяйства</td>
      <td>Отчеты по выполненным этапам государственных контрактов</td>
    </tr>
    <tr>
      <th>Оперативный учет НТР</th>
      <td>Отраслевой программный комплекс по мониторингу выполнения работ в ходе
          реализации тематических планов НИОКР и информационного обеспечения</td>
      <td>Государственные контракты, выполнение Календарного плана</td>
    </tr>
    <tr>
      <th>Конкурс НТР</th>
      <td>Конкурсы научно-технических разработок</td>
      <td>Конкурсная документация и протоколы</td>
    </tr>
    <tr>
      <th>Учет РНТД</th>
      <td>Отраслевой банк данных по государственному учету результатов научно-технической
          деятельности в дорожном хозяйстве</td>
      <td>Учет результатов интеллектуальной деятельности (изобретения, патенты, формы
          отчетности)</td>
    </tr>
    <tr>
      <th>ФТРиС</th>
      <td>Отраслевой информационный фонд технических регламентов, стандартов и
          методических документов дорожного хозяйства</td>
      <td>ГОСТ, ПНСТ, ОДМ</td>
    </tr>
    <tr>
      <th>АТС</th>
      <td>Адресно-телефонный справочник организаций дорожного хозяйства</td>
      <td>Контактные данные организаций</td>
    </tr>
    <tr>
      <th>ОФАП</th>
      <td>Отраслевой фонд алгоритмов и программ дорожного хозяйства</td>
      <td>Информация по используемым в отрасли программным продуктам (информационные
          системы, базы данных)</td>
    </tr>
    <tr>
      <th>ЭБ НТД</th>
      <td>Электронная библиотека отраслевых справочных научно-технических документов
          дорожного хозяйства</td>
      <td>Научно-техническая литература, книги, справочники</td>
    </tr>
    <tr>
      <th>ЭБ Патенты</th>
      <td>Электронная библиотека патентов на изобретения в области дорожного хозяйства
      </td>
      <td></td>
    </tr>
    <tr>
      <th>НИОКТР</th>
      <td>Научно-исследовательские, опытно-конструкторские и технологические работы</td>
      <td></td>
    </tr>
    <tr>
      <th>ГК</th>
      <td>Государственный контракт</td>
      <td></td>
    </tr>
    <tr>
      <th>РИД</th>
      <td>Результат интеллектуальной деятельности</td>
      <td></td>
    </tr>
    <tr>
      <th>ОР</th>
      <td>Отраслевой реестр</td>
      <td></td>
    </tr>
    <tr>
      <th>ОИС</th>
      <td>Отраслевая информационная система</td>
      <td></td>
    </tr>
    <tr>
      <th>ОД</th>
      <td>Открытые данные</td>
      <td>Выгрузка из БД в установленном формате *.CSV</td>
    </tr>
    <tr>
      <th>НТД</th>
      <td>Научно-техническая документация</td>
      <td></td>
    </tr>
    <tr>
      <th>БД</th>
      <td>База данных</td>
      <td></td>
    </tr>
    <tr>
      <th>ИЗ</th>
      <td>Изобретения</td>
      <td></td>
    </tr>
    <tr>
      <th>ПМ</th>
      <td>Полезная модель</td>
      <td></td>
    </tr>
    <tr>
      <th>ПЭ</th>
      <td>Программа для ЭВМ</td>
      <td></td>
    </tr>
    <tr>
      <th>ОДМ</th>
      <td>Отраслевая дорожная методика</td>
      <td></td>
    </tr>
    <tr>
      <th>ГОСТ</th>
      <td>Государственный стандарт</td>
      <td></td>
    </tr>
    <tr>
      <th>МПК</th>
      <td>Международная патентная классификация</td>
      <td></td>
    </tr>
    <tr>
      <th>РК</th>
      <td>Регистрационная карта в системе Минобрнауки ЕГИСУ НИОКР</td>
      <td></td>
    </tr>
    <tr>
      <th>КТ</th>
      <td>Критические технологии</td>
      <td>Перечень КТ утвержден Указом Президента РФ от 07.06.2011 г. №899</td>
    </tr>
    <tr>
      <th>ПН</th>
      <td>Приоритетные направления науки, технологий и техники в РФ</td>
      <td>Перечень ПН утвержден Указом Президента РФ от 07.06.2011 г. №899</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "GlossaryHelper"
}
</script>

<style scoped>

</style>
