<template>
  <div class="container mb-2">
    <div class="row mb-2 mt-2">
      <div class="col-6 text-left">
        <span class="main-header"><strong>Единая поисковая система<br>научно-технического обеспечения
          <router-link
              :to="{name: 'landing'}" target="_blank" data-bs-placement="top" data-bs-toggle="popover"
              data-bs-trigger="hover"
              title="" data-bs-content="Единая поисковая система научно-технического обеспечения дорожного хозяйства"
              data-bs-original-title="ЕПС НТО">ЕПС НТО</router-link></strong></span>
      </div>
      <div class="col-6 text-left">
        <span class="main-header"><strong>В состав
          <router-link
              :to="{name: 'landing'}" target="_blank" data-bs-placement="top"
              data-bs-toggle="popover" data-bs-trigger="hover" title=""
              data-bs-content="Единая поисковая система научно-технического обеспечения дорожного хозяйства"
              data-bs-original-title="ЕПС НТО">ЕПС НТО</router-link>
                                          вошли следующие отраслевые информационные системы:</strong></span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 text-left">
        <span class="blue-text">предоставляет пользователям удобный интерфейс для работы в среде объединенных баз данных Отраслевых информационно-поисковых систем, функционирующих в настоящее время в системе Росавтодора.</span>
      </div>
      <div class="col-6 text-left">
        <span class="blue-text">ОИС «ЭБ НТД» (действующая с 2001 г.);<br></span> <span class="blue-text">ОИС «ОФАП» (действующая с 2003 г.);<br></span>
        <span class="blue-text">ОИС «Архив НТР» (действующая с 2003 г.);<br></span> <span class="blue-text">ОИС «Оперативный учет НТР» (действующая с 2004 г.);<br></span>
        <span class="blue-text">ОИС «АТС ДХ» (действующая с 2005 г.);<br></span> <span class="blue-text">ОИС «Учет РНТД» (действующая с 2008 г.);<br></span>
        <span class="blue-text">ОИС «Конкурс НТР» (действующая с 2010 г.);<br></span>
      </div>
    </div>
  </div>
  <div>
    <img src="img/eps_nto_info.png" style="height: 100%; width: 100%; object-fit: contain">
  </div>
</template>

<script>
import {Popover} from 'bootstrap'

export default {
  name: "TheHeadHelper",
  mounted() {
    //init Popover
    Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'))
        .forEach(popoverNode => new Popover(popoverNode, {}))
  }
}
</script>

<style scoped>

</style>
