<template>
  <div class="container">
    <SearchWindow
        title="поиск по конкурсу"
        extended-title=" "
        :alt-button="altButton"
        all-search=true
        :search-helper="rows===null"
        ref="searchWindow"
        @search="search"
        @clean="clean"
    >
      <div class="row">
        <div class="col-2 mt-0"><label>Год Плана</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="yearPlan" id="yearPlan" name="yearPlan" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-2 mt-0"><label>Статья бюджета</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option :value="null"></option>
            <option value="1">НИОКР</option>
            <option value="3">Информационное обеспечение</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-4 mt-0"><label>Конкурс с единственным поставщиком </label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="singleExecutor" id="singleExecutor" name="singleExecutor" class="form-select">
            <option></option>
            <option value="true">Да</option>
          </select>
        </div>
        <div class="col-4 mt-0"><label>Конкурс с единственным участником </label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="singleParticipant" id="singleParticipant" name="singleParticipant" class="form-select">
            <option></option>
            <option value="true">Да</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-0"><label>Номер закупки</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="numberPurchase" id="numberPurchase" type="search" name="numberPurchase" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>Номер лота</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="numberLot" id="numberLot" type="search" name="numberLot" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>Номер контракта</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="numberContract" id="numberContract" type="search" name="numberContract" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <hr>
        </div>
        <div class="col-3"><label><strong>Дата размещения закупки:</strong></label></div>
        <div class="col-2">
          <hr>
        </div>
        <div class="col-4"><label><strong>Дата рассмотрения первых частей заявок:</strong></label></div>
        <div class="col-1">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата размещения с:</label></div>
        <div class="col-3 mt-1"><label>По дату размещения:</label></div>
        <div class="col-3 mt-1"><label>Дата рассмотрения с:</label></div>
        <div class="col-3 mt-1"><label>По дату рассмотрения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="datePurchaseFrom" id="datePurchaseFrom" type="date" name="datePurchaseFrom"
                 class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="datePurchaseTo" id="datePurchaseTo" type="date" name="datePurchaseTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateReviewFrom" id="dateReviewFrom" type="date" name="dateReviewFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateReviewTo" id="dateReviewTo" type="date" name="dateReviewTo" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
      @clipboard="clipboard"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

const currentYear = new Date().getFullYear();

export default {
  name: "TheTenderSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    DetailTable
  },
  data() {
    let currentListYear = [];
    for (let i = 1999; i < currentYear; i++) {
      currentListYear.push(i + 1);
    }
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы и информации в Базе Данных КОНКУРСНОЙ ДОКУМЕНТАЦИИ',
      listYear: currentListYear.reverse(),
      detailTr: null,
      yearPlan: null,
      budgetItem: null,
      singleExecutor: null,
      singleParticipant: null,
      numberPurchase: null,
      numberLot: null,
      numberContract: null,
      datePurchaseTo: null,
      datePurchaseFrom: null,
      dateReviewFrom: null,
      dateReviewTo: null,
      rows: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Статья буджета',
          field: 'budgetItem'
        },
        {
          title: 'Год плана',
          field: 'yearPlan'
        },
        {
          title: 'Номер закупки',
          field: 'numberPurchase'
        },
        {
          title: 'Дата размещения закупки:',
          field: 'datePurchase'
        },
        {
          title: 'Дата рассмотрения первых частей заявок:',
          field: 'dateReview'
        },
        {
          title: 'Название лота',
          field: 'name'
        },
        {
          title: 'Победитель',
          field: 'organization'
        },
        {
          title: 'Номер контракта',
          field: 'numberContract'
        },
        {
          title: 'Дата заключения контракта',
          field: 'dateContract'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        yearPlan: this.yearPlan,
        budgetItem: this.budgetItem,
        singleExecutor: this.singleExecutor,
        singleParticipant: this.singleParticipant,
        numberPurchase: this.numberPurchase,
        numberLot: this.numberLot,
        numberContract: this.numberContract,
        datePurchaseTo: this.datePurchaseTo,
        datePurchaseFrom: this.datePurchaseFrom,
        dateReviewFrom: this.dateReviewFrom,
        dateReviewTo: this.dateReviewTo
      }
      privateApi
          .post('/api/private-search/tender', data)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    name: rawRows[i].name,
                    yearPlan: rawRows[i].yearPlan,
                    budgetItem: rawRows[i].budgetItem,
                    numberPurchase: rawRows[i].numberPurchase,
                    datePurchase: rawRows[i].datePurchase,
                    dateReview: rawRows[i].dateReview,
                    organization: rawRows[i].organization,
                    numberContract: rawRows[i].numberContract,
                    dateContract: rawRows[i].dateContract,
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/tender/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.yearPlan = null
      this.budgetItem = null
      this.singleExecutor = null
      this.singleParticipant = null
      this.numberPurchase = null
      this.numberLot = null
      this.numberContract = null
      this.datePurchaseTo = null
      this.datePurchaseFrom = null
      this.dateReviewFrom = null
      this.dateReviewTo = null
    }
  }
}
</script>

<style scoped>

</style>
