<template>
  <table class="table table-striped">
    <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Наименование IB</th>
      <th scope="col">Наименование PG</th>
      <th scope="col">Соответствие полей</th>
      <th scope="col">Кол-во записей</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in listRows" :key="index">
      <th scope="row">{{ index + 1 }}</th>
      <TableRowName
          :id="'ib' + item.id"
          :fields="item.fieldsIb"
          :title="item.title"
      />
      <TableRowName
          :id="'pg' + item.id"
          :fields="item.fieldsPg"
          :title="item.title"
      />
      <TableRowCompare
          :isEqual="item.checkFields"
          :ibCountField="item.fieldsIb.length"
          :pgCountField="item.fieldsPg.length"
      />
      <TableRowCount
          :countRow="listCountRow[item.id]"
          @readCount="this.$emit('readCount', item.id, item.title)"
      />
      <TableRowAction
          :id="item.id"
          :title="item.title"
          :list-import="listImport[item.id]"
          @updateTable="this.$emit('updateTable', item.id, item.title)"
          @importTable="this.$emit('importTable', item.id, item.title)"
          @truncate="this.$emit('truncate', item.id, item.title)"
          :progressBar="progressBar(item.id)"
      />
    </tr>
    </tbody>
  </table>
</template>

<script>
import TableRowCompare from "@/components/admin/migration/TableRowCompare";
import TableRowName from "@/components/admin/migration/TableRowName";
import TableRowCount from "@/components/admin/migration/TableRowCount";
import TableRowAction from "@/components/admin/migration/TableRowAction";

export default {
  name: "DbFields",
  emits: ['readCount', 'updateTable', 'importTable', 'truncate'],
  components: {
    TableRowName,
    TableRowCompare,
    TableRowCount,
    TableRowAction
  },
  props: ['listRows', 'listImport', 'listCountRow'],
  computed: {
    progressBar() {
      return (id) => {
        if (this.listImport[id] === null) return
        let listImport = this.listImport[id]
        return 'width:' + listImport.index / listImport.countRow * 100 + '%'
      }
    },
  }
}
</script>

<style scoped>

</style>
