<template>
  <ul class="list-group">
    <li
        :class="['list-group-item', item.id===activeId ? 'active' : '']"
        v-for="item in db"
        :key="item.id"
        :id="'db-select-' + item.id"
        @click.prevent="this.$emit('changeDb',item.id)"
        style="cursor: pointer">
      {{ item.title }} <span class="badge bg-secondary" v-if="item.id===activeId">{{ statusWork }}</span>
    </li>
  </ul>
</template>

<script>
export default {
  name: "DbList",
  emits: [
    'changeDb'
  ],
  props: [
    'db',
    'activeId',
    'statusWork'
  ]
}
</script>

<style scoped>

</style>
