<template>
  <td :class="['text-center', isEqual ? 'text-success' : 'text-danger']">
    {{ isEqual ? 'Соответствует' : 'Расхождение' }} ({{ ibCountField }}/{{ pgCountField }})
  </td>
</template>

<script>
export default {
  props: [
    'isEqual',
    'ibCountField',
    'pgCountField'
  ],
  name: "TableRowCompare"
}
</script>
