<template>
  <td class="align-middle text-center">
    <div class="btn-group" role="group" v-if="!listImport">
      <button type="button" class="btn btn-sm btn-primary"
              @click.prevent="this.$emit('updateTable')">Догрузить
      </button>
      <button type="button" class="btn btn-sm btn-success"
              @click.prevent="this.$emit('importTable')">Импорт
      </button>
      <button type="button" class="btn btn-sm btn-danger"
              @click.prevent="this.$emit('truncate')">Очистить PG
      </button>
    </div>
    <div class="text-primary text-center" v-else>
      {{ listImport.action + ': ' + listImport.index + '/' + listImport.countRow }}
      <div class="progress" style="height: 3px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100"
             :style="progressBar"></div>
      </div>
    </div>
  </td>
</template>

<script>
export default {
  name: "TableRowAction",
  emits: [
    'updateTable', 'importTable', 'truncate'
  ],
  props: [
    'listImport', 'progressBar'
  ]
}
</script>

<style scoped>

</style>
