<template>
  <td class="text-center">
    <button type="button" class="btn btn-sm btn-secondary" v-if="countRow === null"
            @click.prevent="this.$emit('readCount')">Считать
    </button>
    <button type="button" v-else
            :class="['btn', 'btn-sm', 'btn-success', ib !== pg ? 'btn-warning':'btn-success']"
            @click.prevent="this.$emit('readCount')">
      {{ ib }} / {{ pg }} Обновить
    </button>
  </td>
</template>

<script>
export default {
  name: "TableRowCount",
  emits: [
    'readCount'
  ],
  props: ['countRow'],
  computed:{
    ib() {
      return this.countRow ? this.countRow.ib : null
    },
    pg() {
      return this.countRow ? this.countRow.pg : null
    }
  }
}
</script>

<style scoped>

</style>
