<template>
  <table class="table table-striped">
    <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Наименование IB</th>
      <th scope="col">Наименование PG</th>
      <th scope="col">Соответствие полей</th>
      <th scope="col">Кол-во записей</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <DbFields
        v-for="(item,index) in listRow" :key="index"
    />
    </tbody>
  </table>
</template>

<script>
import DbList from "@/components/admin/migration/DbList";
import DbFields from "@/components/admin/migration/DbFields";

export default {
  name: "TableList",
  props: [
    'listRow'
  ],
  components: [
    DbFields,
    DbList
  ]
}
</script>

<style scoped>

</style>
