<template>
  <td class="text-primary">
    <a href="#" @click.prevent="toggleDetail">{{ fields.length > 0 ? title : '-' }}</a>
    <Transition name="slide-fade">
      <div v-show="detail">
        <div class="card">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование</th>
              <th scope="col">Тип</th>
              <th scope="col">Размер</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(field,index) in fields" :key="index">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ field.name }}</td>
              <td>{{ field.type }}</td>
              <td>{{ field.size }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </Transition>
  </td>
</template>

<script>
export default {
  name: "TableRowName",
  props: ['id', 'fields', 'title'],
  data() {
    return {
      detail: false
    }
  },
  methods: {
    toggleDetail() {
      this.detail = !this.detail
    }
  }
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
