<template>
  <div class="container-fluid p-2">
    <div class="row">
      <div class="col-2">
        <db-list
            :db="db"
            :activeId="selectDbItem"
            :statusWork="statusWork"
            @changeDb="changeDb"
        />
      </div>
      <div class="col-10" id="list_table">
        <div class="btn-group w-100" role="group" v-if="listRow != null">
          <button type="button" class="btn btn-outline-warning p-2" @click="readCountAll">
            Считать размеры
          </button>
          <button type="button" class="btn btn-outline-success p-2" @click="updateAll">
            Догрузить все
          </button>
          <button type="button" class="btn btn-outline-primary p-2" @click="importAll">
            Импорт общий
          </button>
          <button type="button" class="btn btn-outline-danger p-2" @click="truncateAll">
            Очистить все таблицы PG
          </button>
        </div>
        <DbFields
            :listRows="listRow"
            :listImport="listImport"
            :listCountRow="listCountRow"
            @updateTable="updateTable"
            @importTable="importTable"
            @truncate="truncate"
            @readCount="readCount"
        />
      </div>
    </div>
  </div>
</template>

<script>
import DbFields from "@/components/admin/migration/DbFields";
import DbList from "@/components/admin/migration/DbList";
import * as migration from '@/plugins/migration'

export default {
  name: "TheMigration",
  emits: ['loader'],
  components: {
    DbFields,
    DbList
  },
  data() {
    return {
      db: [
        {id: 1, title: 'IK_NIOKR'},
        {id: 2, title: 'ARXIV'},
        {id: 3, title: 'RNTD'},
        {id: 4, title: 'BIBL'},
        {id: 5, title: 'OFAP'},
        {id: 6, title: 'TERMS'},
      ],
      selectDbItem: 0,
      listRow: null,
      listCountRow: [],
      listImport: [],
      statusImport: null,
      statusTruncate: null,
    }
  },
  computed: {
    statusWork() {
      return this.listImport.filter(item => item != null).length || null;
    }
  },
  methods: {
    async changeDb(id) {
      this.$emit('loader', true)
      let db = this.db.filter(item => item.id === id)[0];
      this.selectDbItem = id
      let tempResult = []
      let index = 0
      this.listRow = [];
      this.listCountRow = [];

      let result = await migration.readIb('all', db.title);

      for (let i = 0; i < result.length; i++) {
        let table = result[i].TABLE_NAME.toLowerCase();
        if (tempResult[table] === undefined) {
          tempResult[table] = migration.createItem(table, ++index)
        }
        tempResult[table].fieldsIb.push(
            migration.createField(
                result[i].FIELD_NAME.toLowerCase(),
                migration.typeFieldToStr(result[i].FIELD_TYPE),
                Number(result[i].FIELD_LENGTH))
        )
      }

      let resultPg = await migration.readPg(migration.sqlPgStructure(db.title));
      for (let i = 0; i < resultPg.length; i++) {
        let table = resultPg[i].table_name.slice(db.title.length + 1).trim();
        if (tempResult[table] === undefined) {
          tempResult[table] = migration.createItem(table, ++index)
        }
        tempResult[table].fieldsPg.push(migration.createField(
                resultPg[i].column_name,
                resultPg[i].udt_name,
                resultPg[i].character_maximum_length ? Number(resultPg[i].character_maximum_length) : '-'
            )
        )
      }
      for (let key in tempResult) {
        let item = tempResult[key]
        item.checkFields = migration.checkFields(item.fieldsIb, item.fieldsPg)
        this.listCountRow[item.id] = null
        this.listImport[item.id] = null
        this.listRow.push(item)
      }
      this.$emit('loader', false)
    },
    async readCount(id, table) {
      let db = this.db.filter(item => item.id === this.selectDbItem)[0];
      this.listImport[id] = {
        action: 'count',
        index: 0,
        countRow: 2
      }
      let countIb = await migration.readIb(table.trim(), db.title, null, true);
      this.listImport[id] = {
        action: 'count',
        index: 1,
        countRow: 2
      }
      let countPg = await migration.countPg(db.title.toLowerCase() + '_' + table.trim());
      this.listCountRow[id] = {
        ib: countIb.SIZETABLE,
        pg: countPg.count,
        max: countPg.max
      }
      this.listImport[id] = null
    },
    async updateTable(id, table) {
      await this.readCount(id, table)
      let db = this.db.filter(item => item.id === this.selectDbItem)[0];
      this.listImport[id] = {
        action: 'update',
        index: 0,
        countRow: this.listCountRow[id].ib - this.listCountRow[id].pg
      }
      await this.migration(id, db, table, this.listCountRow[id].max)
    },
    async truncate(id, table) {
      let db = this.db.filter(item => item.id === this.selectDbItem)[0];
      this.listImport[id] = {
        action: 'truncate',
        index: 1,
        countRow: 1
      }
      await migration.truncatePg(db.title.toLowerCase() + '_' + table)
      await this.readCount(id, table)
      this.listImport[id] = null
    },
    async importTable(id, table) {
      let db = this.db.filter(item => item.id === this.selectDbItem)[0];
      let countIb = await migration.readIb(table.trim(), db.title, null, true);
      await this.truncate(id, table)
      this.listImport[id] = {
        action: 'import',
        index: 0,
        countRow: countIb.SIZETABLE
      }
      await this.migration(id, db, table, null)
    },
    async migration(id, db, table, idStart) {
      let idIteration = idStart
      let index = 0
      while (this.listCountRow[id].ib - this.listCountRow[id].pg > 0) {
        let rows = await migration.readIb(table.trim(), db.title, idIteration)
        let data = []
        rows = Object.entries(rows).map(([key, value]) => [key.toLowerCase(), value])
        if(rows.length === 0) break
        for (let i = 0; i < rows.length; i++) {
          let row = Object.fromEntries(Object.entries(rows[i][1])
              .map(([key, value]) => [key.toLowerCase(), value.trim().length === 0 ? null : value.trim()])
              .map(([key, value]) => [key.toLowerCase(), value === '+' || value === 'п' ? 'y' : value])
              .map(([key, value]) => [key.toLowerCase(), value === '-' || value === 'о' ? 'n' : value]))
          data.push(row)
          this.listImport[id].index = index + i + 1
          if (data.length >= migration.migrationCount) {
            await migration.insertPg(db.title.toLowerCase() + '_' + table, data)
            data = []
          }
        }
        index = this.listImport[id].index
        if (data.length >= 0) {
          await migration.insertPg(db.title.toLowerCase() + '_' + table, data)
          data = []
        }
        let countIb = await migration.readIb(table.trim(), db.title, null, true);
        let countPg = await migration.countPg(db.title.toLowerCase() + '_' + table.trim());
        this.listCountRow[id] = {
          ib: countIb.SIZETABLE,
          pg: countPg.count,
          max: countPg.max
        }
        idIteration = this.listCountRow[id].max
      }
      this.listImport[id] = null
      await this.readCount(id, table)
    },
    async readCountAll() {
      for (let i = 0; i < this.listRow.length; i++) {
        this.readCount(i + 1, this.listRow[i].title)
      }
    },
    async updateAll() {
      for (let i = 0; i < this.listRow.length; i++) {
        this.updateTable(i + 1, this.listRow[i].title)
      }
    },
    async importAll() {
      for (let i = 0; i < this.listRow.length; i++) {
        this.importTable(i + 1, this.listRow[i].title)
      }
    },
    async truncateAll() {
      for (let i = 0; i < this.listRow.length; i++) {
        this.truncate(i + 1, this.listRow[i].title)
      }
    }
  },
  async updateTable() {

  }
}
</script>

<style scoped>

</style>
