<template>
  <li class="dropdown-item">
    <div class="form-check form-switch">
      <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          :id=`column${index}`
          v-model="isChecked">
      <label class="form-check-label" for="flexSwitchCheckChecked">
        {{ title }}
      </label>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    title: String,
    index: Number,
    checked: Boolean
  },
  data () {
    return {
      isChecked: this.checked
    }
  },
  name: "ColumnVisibilityItem"
}
</script>

<style scoped>

</style>
