<template>
  <div class="dropdown btn-group btn-sm">
    <button
        ref="el"
        class="btn btn-outline-primary btn-sm dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false">
      Столбцы
    </button>
    <ul class="dropdown-menu" style="z-index: 999;">
      <li class="dropdown-item"
          v-for="(column, index) in columns"
          :key="index"
      >
        <div class="form-check form-switch">
          <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              :value="column.field"
              id="column"
              @change="check($event)"
              v-model="checkedColumns"/>
          <label class="form-check-label" for="flexSwitchCheckChecked">
            {{ column.title }}
          </label>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import 'bootstrap/dist/js/bootstrap.bundle'

function checkedColumns(columns) {
  let checked = []
  if (columns != null) {
    for (let i = 0; i < columns.length; i++) {
      checked.push(columns[i].field)
    }
  }
  return checked;
}

export default {
  name: "ColumnVisibility",
  emits: [
    'viewColumns'
  ],
  props: {
    columns: Array
  },
  data() {
    return {
      checkedColumns: checkedColumns(this.columns)
    }
  },
  methods: {
    check() {
      this.$emit('viewColumns', Object.values(this.checkedColumns))
    }
  },
  watch: {
    columns: function (newVal) { // watch it
      this.checkedColumns = checkedColumns(newVal)
    }
  }
}
</script>

<style scoped>

</style>
