<template>
  <table class="table table-striped table-hover">
    <table-header-view :columns="columns" :aggregate="aggregate" @filter-column="filterColumn"/>
    <table-body-view :columns="columns" :rows="rows" @getDetail="getDetail"/>
  </table>
</template>

<script>
import TableHeaderView from "@/components/table/TableHeaderView";
import TableBodyView from "@/components/table/TableBodyView";

export default {
  name: "BodyTable",
  emits: [
    'getDetail',
    'filter-column'
  ],
  components: {TableBodyView, TableHeaderView},
  props: {
    aggregate: Array,
    columns: Array,
    rows: Array,
  },
  methods: {
    getDetail(id) {
      this.$emit('getDetail', id)
    },
    filterColumn(title, field) {
      this.$emit("filter-column", title, field)
    }
  }
}
</script>

<style>

</style>
