<template>
  <div class="row m-1 border-bottom">
    <div class="col-4">
      <div class="btn-group btn-sm">
        <ColumnVisibility
            :columns="columns"
            @viewColumns="viewColumns"
        />
        <download-excel
                        v-if="this.columns"
                        class="btn btn-sm btn-outline-primary"
                        :data="visibleRowForPage"
                        :fields="jsonFields"
                        type="xlsx"
                        worksheet="My Worksheet"
                        name="filename.xlsx"
        >
          Excel
        </download-excel>
        <!--<button type="button" class="btn btn-sm btn-outline-primary" @click.prevent="this.$emit('clipboard')">-->
        <!--  Буфер-->
        <!--</button>-->
        <button type="button" class="btn btn-sm btn-primary text-light" @click.prevent="this.$emit('add_record')"
                v-if="admin">
          Добавить запись
        </button>
        <div class="btn-group btn-sm">
          <button
              class="btn btn-sm btn-outline-primary dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true">
            Строк: {{ pageSize }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="#" @click="setCountRecord(10)">10</a></li>
            <li><a class="dropdown-item" href="#" @click="setCountRecord(50)">50</a></li>
            <li><a class="dropdown-item" href="#" @click="setCountRecord(100)">100</a></li>
            <li><a class="dropdown-item" href="#" @click="setCountRecord(250)">250</a></li>
            <li><a class="dropdown-item" href="#" @click="setCountRecord(500)">500</a></li>
            <li><a class="dropdown-item" href="#" @click="setCountRecord(1000)">1000</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-2 text-center text-primary">
      стр: {{ page }} из {{ pageCount }} (Записей: {{ viewRow }}{{ (rows !== viewRow ? ' из ' + rows : '') }})
      <div class="progress" style="height: 3px;">
        <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"
             :style="progressbar">
        </div>
      </div>
    </div>
    <div class="col-3">
      <nav aria-label="navigation">
        <ul class="pagination pagination-sm justify-content-center">
          <li v-for="(item,index) in pageCountCalc" :key="index" :class="isSelectedPage(item.id)">
            <a class="page-link" href="#" @click="changePageNumber(item.id)" v-html="item.title"/>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-3">
      <div class="input-group mb-1">
        <span class="input-group-text" id="basic-addon1">
          <BaseIcon
              name="search"
              height="16"
              width="16"
          />
        </span> <input
          type="text"
          class="form-control"
          placeholder="Поиск в таблице"
          aria-label="Поиск в таблице"
          aria-describedby="basic-addon1"
          @change="search"
          v-model="searchValue"
      >
      </div>
    </div>
  </div>
</template>

<script>
import ColumnVisibility from "@/components/table/ColumnVisibility";
import BaseIcon from "@/components/BaseIcon";
import 'bootstrap/dist/js/bootstrap';
import 'bootstrap/dist/css/bootstrap.css'
import JsonExcel from "vue-json-excel3";

export default {
  emits: [
    'search',
    'excel',
    'clipboard',
    'add_record',
    'changePage',
    'changeSize',
    'viewColumns',
  ],
  name: "HeaderTable",
  components: {
    BaseIcon,
    ColumnVisibility,
    downloadExcel: JsonExcel
  },
  props: [
    'visibleRowForPage',
    'jsonFields',
    'columns',
    'admin',
    'page',
    'pageSize',
    'pageCount',
    'viewRow',
    'rows'
  ],
  methods: {
    viewColumns(columns) {
      this.$emit('viewColumns', columns)
    },
    search() {
      this.$emit('search', this.searchValue)
      setTimeout(() => {
        let el = document.querySelectorAll('.highlight')
        if (el !== null && el !== undefined && el.length > 0)
          el[0].parentElement.scrollIntoView({behavior: "smooth", block: "center", inline: "start"});
      }, 100);
    },
    setCountRecord(count) {
      this.$emit('changeSize', count)
    },
    changePageNumber(id) {
      this.$emit('changePage', id)
    },
    isSelectedPage(n) {
      let clazz = ['page-item'];
      if (n === ((this.page === undefined || this.page === Infinity) ? 1 : this.page)) {
        clazz.push('active')
      }
      return clazz;
    }
  },
  data() {
    return {
      searchValue: ''
    }
  },
  computed: {
    progressbar() {
      return 'width:' + this.page / this.pageCount * 100 + '%'
    },
    pageCountCalc() {
      let result = [];
      if (this.pageCount == null || this.pageCount === Infinity) {
        result.push({
          id: 1,
          title: '1'
        })
      } else {
        if (this.page > 1) {
          result.push({
                id: 1,
                title: '&lArr;'
              },
              {
                id: this.page - 1,
                title: '&leftarrow;'
              })
        }
        let min = Math.max(1, this.page - 3)
        let max = Math.min(this.pageCount, min + 6)
        if (max - min < 7) {
          min = Math.min(min, this.page + 7 - min)
        }
        for (let i = min; i < max + 1; i++) {
          result.push({
            id: i,
            title: i.toString()
          })
        }
        if (this.page < this.pageCount) {
          result.push(
              {
                id: this.page + 1,
                title: '&rightarrow;'
              },
              {
                id: this.pageCount,
                title: '&rArr;'
              }
          )
        }
      }
      return result
    }
  }
}
</script>

<style scoped>

</style>
