<template>
  <tbody class="table-group-divider align-top">
  <tr v-for="(row, rowNumber) in rows" :key="rowNumber" :data-id="row.id" @click="getDetail(row.id)"
      :class="row.fontBold ? 'fw-bold' : ''">
    <td v-for="(column, index) in columns" :key="index" v-html="row[column.field]??''"/>
  </tr>
  </tbody>
</template>

<script>

export default {
  emits: [
    'getDetail'
  ],
  props: {
    rows: Array,
    columns: Array
  },
  methods: {
    getDetail(id) {
      if (id) this.$emit('getDetail', id)
    }
  },
  name: "TableBodyView"
}
</script>

<style scoped>

</style>
