<template>
  <ul class="nav" v-if="column.subtitle">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle fs-6" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
         v-html="title"/>
      <ul class="dropdown-menu">
        <li v-for="(subtitle,index) in column.subtitle" :key="index">
          <a class="dropdown-item" href="#" @click="changeTitle(subtitle.title)">{{ subtitle.title }}</a></li>
      </ul>
    </li>
  </ul>
  <span v-else v-html="column.title"/>
</template>

<script>
import 'bootstrap/dist/js/bootstrap';
import 'bootstrap/dist/css/bootstrap.css'

export default {
  emits: [
    'filter-column'
  ],
  props: [
    'column'
  ],
  data() {
    return {
      title: this.column.subtitle ? this.column.subtitle[0].title : this.column.title
    }
  },
  name: "TableTitle",
  methods: {
    changeTitle(title) {
      this.title = title
      this.$emit('filter-column', title, this.column.field)
    }
  }
}
</script>

<style scoped>

</style>
