<template>
  <SettingTable
      :columns="columns"
      :admin="admin"
      :page="page"
      :pageSize="pageSize"
      :pageCount="pageCount"
      :rows="rows !== null ? rows.length : 0"
      :view-row="visibleRow !== null ? visibleRow.length : 0"
      :visibleRowForPage="visibleRowForPage"
      :jsonFields="jsonFields"
      @search="selectSearch"
      @add_record="this.$emit('add_record')"
      @changeSize="changePageSize"
      @changePage="changePage"
      @viewColumns="viewColumns"
  />
  <div class="vh-100 bg-secondary" id="table-view">
    <DataTable
        :columns="dataVisibleColumns"
        :aggregate="aggregate"
        :rows="visibleRowForPage"
        @getDetail="getDetail"
        @filter-column="filterColumn"
    />
  </div>
  <div id="back-top" @click="scrollToTop">
    <span></span>
    <div class="a">&nbsp;&nbsp;Вверх</div>
  </div>
</template>

<script>
import SettingTable from "@/components/table/SettingTable";
import DataTable from "@/components/table/DataTable";


export default {
  name: "TableView",
  emits: [
    'getDetail',
    'excel',
    'clipboard',
    'add_record',
    'filter-column'
  ],
  components: {
    SettingTable,
    DataTable
  },
  props: [
    'columns',
    'rows',
    'admin',
    'aggregate'
  ],
  data() {
    let excelColumn = "{" + this.columns.map(
        (item) => {
          return "\"" + item.title + "\":\"" + item.field + "\""
        }
    ) + "}"
    return {
      page: null,
      pageSize: null,
      pageCount: 1,
      dataRow: null,
      visibleRow: null,
      visibleColumns: null,
      jsonFields: JSON.parse(excelColumn),
      json_meta: [
        [
          {
            key: "charset",
            value: "utf-8",
          },
        ],
      ],
    }
  },
  computed: {
    dataVisibleColumns() {
      return this.visibleColumns === null
          ? this.columns
          : this.columns.filter(item => this.visibleColumns.has(item.field))
    },
    visibleRowForPage() {
      this.calcPageCount()
      return this.visibleRow === null
          ? null
          : this.visibleRow.slice((this.page - 1) * this.pageSize, this.page * this.pageSize)
    },
  },
  watch: {
    rows: function (newVal) { // watch it
      this.visibleRow = newVal
    },
    columns: function (newVal) {
      this.visibleColumns = new Set(newVal.map(item => item.field))
    }
  },
  methods: {
    filterColumn(title, field) {
      let rows = [];
      if (title !== "Все реализации") {
        rows = this.rows.filter(item =>
            item[field].split('<br>').includes(title)
        )
      } else {
        rows = this.rows
      }
      this.visibleRow = rows;
    },
    viewColumns(columns) {
      this.visibleColumns = new Set(columns)
    },
    changePage(id) {
      this.page = id
    },
    calcPageCount() {
      this.pageCount = this.visibleRow === null ? this.pageCount = 1 : Math.ceil(this.visibleRow.length / this.pageSize)
      if (this.page > this.pageCount) {
        this.page = this.pageCount
      }
    },
    changePageSize(count) {
      this.pageSize = count
    },
    selectSearch(query) {
      let rows = [];
      query = query.trim()
      for (let i = 0; i < this.rows.length; i++) {
        const entries = Object.entries(this.rows[i]);
        let dataRows = this.rows[i];
        entries.forEach(([key, value]) => {
          dataRows[key] = String(value).replaceAll(/<span class='highlight'>(.*?)<\/span>/g, '$1')
        })
        let searchFind = false
        if (query) {
          entries.forEach(
              ([key, value]) => {
                if (key === 'id') return
                let str = String(value).replaceAll(/<span class='highlight'>(.*?)<\/span>/g, '$1')
                dataRows[key] = query ? str.replaceAll(query, '<span class=\'highlight\'>' + query + '</span>') : str
                if (str.includes(query)) {
                  searchFind = true
                }
              }
          )
        }
        if (query) {
          if (searchFind) rows.push(dataRows)
        } else {
          rows.push(dataRows)
        }
      }
      this.visibleRow = rows;
    },
    getDetail(id) {
      this.$emit('getDetail', id)
    },
    scrollToTop() {
      document.getElementById('app').scrollIntoView();
      window.scrollTo({
        top: window.scrollX,
        left: window.scrollY - 15,
        behavior: 'smooth'
      });
    }
  },
  mounted() {
    document.getElementById('article').classList.remove('article-default')
    document.getElementById('article').classList.add('article-table')
    this.visibleColumns = new Set(this.columns.map(item => item.field))
    this.visibleRow = this.rows
    this.pageSize = 1000
    this.page = 1
  },
  unmounted() {
    document.getElementById('article').classList.remove('article-table')
    document.getElementById('article').classList.add('article-default')
  }
}
</script>

<style>
.highlight {
  background-color: blue;
  color: white;
}

.table td {
  cursor: pointer;
}
</style>
