<template>
  <thead>
  <tr class="table-info align-middle">
    <th class="text-center" scope="col" v-for="(column, index) in columns" :key="index">
      <table-title :column="column" @filter-column="filterColumn"/>
    </th>
  </tr>
  <tr v-if="aggregate">
    <th class="text-center" scope="col" v-for="(column, index) in columns" :key="index">
      <span v-html="aggregate[column.field]"/>
    </th>
  </tr>
  </thead>
</template>

<script>
import TableTitle from "@/components/table/TableTitle";

export default {
  emits: [
    "filter-column"
  ],
  components: {
    TableTitle
  },
  props: {
    columns: Array,
    aggregate: Array,
  },
  name: "TableHeaderView",
  methods: {
    filterColumn(title, field) {
      this.$emit("filter-column", title, field)
    }
  }
}
</script>

<style scoped>
th {
  cursor: pointer;
}

</style>
