<template>
  <li class="nav-item" role="presentation">
    <router-link
        :to="{name:`${linkRef}-search`}"
        class="nav-link"
        exact-active-class="active" append>
      <img :src="img" width="50"><br>
      {{ title.toUpperCase() }}
      <span class="badge bg-danger" id="indicator_count" v-if="count>0">{{ count }}</span>
    </router-link>
  </li>

</template>

<script>
export default {
  name: "TheNavSearchItem.vue",
  props: {
    img: String,
    title: String,
    linkRef: String,
    active: Boolean,
    count: Number
  },
  data() {
    return {
      classCss: ["nav-link", this.active ? 'active' : '']
    }
  }
}
</script>

<style scoped>

</style>
