<template>
  <div class="container-fluid mainbar-bg-color">
    <ul id="list-tab-search" class="nav nav-pills nav-fill" role="tablist">
      <TheNavSearchItem
          v-for="nav in navs"
          :key="nav.id"
          :link-ref="nav.id"
          :title="nav.title"
          :img="nav.img"
          :count="nav.count ? evenCount : 0"
      />
    </ul>
  </div>
</template>

<script>

import TheNavSearchItem from "@/components/search/TheNavSearchItem";
import users from "@/plugins/users";
import privateApi from "@/plugins/private";

export default {
  name: "TheNavSearch",
  components: {
    TheNavSearchItem
  },
  props: [
    'navs'
  ],
  data() {
    return {
      user: users,
      evenCount: null
    }
  },
  methods: {
    getEvents() {
      privateApi
          .get('/api/event/count')
          .then((response) => {
            this.evenCount = response.data.all;
          })
    }
  },
  mounted() {
    if (users != null) this.getEvents()
  }
}
</script>

<style scoped>

</style>
