<template>
  <div class="container">
    <SearchWindow
        title="СПРАВКА ПО КЛАССИФИКАЦИИ НИОКР"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-3 mt-0"><label>Год формирования Плана</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="year" id="year" name="year" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Основные направления Д/Х</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="directionDh" id="directionDh" name="directionDh" class="form-select">
            <option :value="null">Все направления</option>
            <option v-for="item in directionsDh" :key="item.id" :value="item.id">{{ item.title }}</option>
          </select>
        </div>
        <div class="col-2 mt-0"><label>Приоритетные технологии</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="priorityTechnology" id="priorityTechnology" name="priorityTechnology" class="form-select">
            <option :value="null">Все технологии</option>
            <option v-for="item in priorityTechnologies" :key="item.id" :value="item.id">{{ item.title }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Критические технологии</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="criticalTechnology" id="criticalTechnology" name="criticalTechnology" class="form-select">
            <option :value="null">Все технологии</option>
            <option v-for="item in criticalTechnologies" :key="item.id" :value="item.id">{{ item.title }}</option>
          </select>
        </div>
        <div class="col-2 mt-0"><label>Приоритетные направления</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="direction" id="direction" name="direction" class="form-select">
            <option :value="null">Все направления</option>
            <option v-for="item in directions" :key="item.id" :value="item.id">{{ item.title }}</option>
          </select>
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :aggregate="aggregate"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";

export default {
  name: "TheClassificationSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    TheBlocksDetail
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      directions: list.directions,
      directionsDh: list.directionsDh,
      priorityTechnologies: list.priorityTechnologies,
      criticalTechnologies: list.criticalTechnologies,
      year: null,
      direction: null,
      directionDh: null,
      priorityTechnology: null,
      criticalTechnology: null,
      rows: null,
      aggregate: null,
      blocks: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Год плана',
          field: 'year'
        },
        {
          title: 'Статья бюджета',
          field: 'budget_item'
        },
        {
          title: 'Наименование контракта',
          field: 'title'
        },
        {
          title: 'Исполнитель',
          field: 'executor'
        },
        {
          title: 'Номер контракта',
          field: 'number'
        },
        {
          title: 'Номер в архиве',
          field: 'archive_number'
        },
        {
          title: 'Дата заключения контракта',
          field: 'date_start'
        },
        {
          title: 'Дата заверщения контракта',
          field: 'date_finish'
        },
        {
          title: 'Стадия выполнения',
          field: 'status'
        },
        {
          title: 'Стоимость всего (тыс. ₽)',
          field: 'price_all'
        },
        {
          title: 'Реализации',
          field: 'types'
        },
        {
          title: 'РК',
          field: 'cart'
        },
        {
          title: 'КТ',
          field: 'technology'
        },
        {
          title: 'Приоритетные направления',
          field: 'direction'
        },
        {
          title: 'Основные направления Д/Х',
          field: 'direction_dh'
        },
        {
          title: 'Приоритетные технологии',
          field: 'priority_technology'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      const data = {
        year: this.year,
        direction: this.direction,
        directionDh: this.directionDh,
        priorityTechnology: this.priorityTechnology,
        criticalTechnology: this.criticalTechnology
      }
      privateApi
          .post('/api/private-search/information/classification', data)
          .then(res => {
                let rawRows = res.data.rows
                this.aggregate = res.data.aggregate
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        title: rawRows[i].title,
                        year: rawRows[i].year,
                        budget_item: rawRows[i].budget_item,
                        executor: rawRows[i].executor,
                        number: rawRows[i].number,
                        archive_number: rawRows[i].archive_number,
                        date_start: rawRows[i].date_start,
                        price_all: rawRows[i].price_all,
                        date_finish: rawRows[i].date_finish,
                        status: rawRows[i].status,
                        types: rawRows[i].types,
                        cart: rawRows[i].cart,
                        technology: rawRows[i].technology,
                        direction: rawRows[i].direction,
                        direction_dh: rawRows[i].direction_dh,
                        priority_technology: rawRows[i].priority_technology
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.year = null
      this.direction = null
      this.directionDh = null
      this.priorityTechnology = null
      this.criticalTechnology = null
    }
  }
}
</script>

<style scoped>

</style>
