<template>
  <div
      class="modal fade"
      id="ModalExtraInfo"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ModalExtraInfoTitle"
      aria-hidden="true" style="z-index:2000;"
      v-if="viewModal"
  >
    <div :class="['modal-dialog', modalSize]" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalExtraInfoTitle">{{ title }}</h5>
          <button type="button" class="btn-close" @click="closeModal" aria-label="Закрыть">
          </button>
        </div>
        <div class="modal-body">
          <div id="ModalContent" class="container-fluid">
            <slot name="body"></slot>
          </div>
        </div>
        <div class="modal-footer">
          <slot name="buttons"></slot>
          <button type="button" class="btn btn-secondary" @click="closeModal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle'

export default {
  props: ['title', 'size'],
  data() {
    return {
      viewModal: false,
      modal: null,
      modalSize: 'modal-'+(this.size ? this.size : 'lg'),
    }
  },
  methods: {
    openModal() {
      this.viewModal = true
      setTimeout(() => {
        this.modal = new bootstrap.Modal('#ModalExtraInfo', {})
        this.modal.show()
      }, 10);
    },
    closeModal() {
      this.modal.hide()
      setTimeout(() => {
        this.modal = null
        this.viewModal = false
      }, 10);
    },
  },
  mounted() {

  },
  name: "DetailModal"
}
</script>

<style scoped>

</style>
