<template>
  <div id="admin-view" class="container-fluid m-0">
    <div class="row">
      <div class="col-2 overflow-hidden p-0">
        <NavAdminPanel/>
      </div>
      <div class="col">
        <router-view @loader="this.$emit('loader')">
        </router-view>
      </div>
    </div>
  </div>
</template>

<script>
import NavAdminPanel from "@/components/admin/NavAdminPanel";

export default {
  name: "TheAdmin",
  components: {
    NavAdminPanel
  },
  methods: {
    viewLoader(view) {
      alert(view)
      this.$emit('loader', view)
    }
  }
}
</script>

<style scoped>

</style>
