<template>
  <div class="row mt-3">
    <div class="col-2">
      <left-nav-analytics @change-chart="setCurrentChart"></left-nav-analytics>
    </div>
    <div class="col-10 ">
      <transition name="component-fade" mode="out-in" duration="300">
        <component :is="this.currentChart"></component>
      </transition>
    </div>
  </div>
</template>

<script>
import LeftNavAnalytics from "@/components/analytics/LeftNavAnalytics";
import NIOKRAnalytics from "@/components/analytics/NIOKRAnalytics";
import ODMAnalytics from "@/components/analytics/ODMAnalytics";
import BasicGroupAnalytics from "@/components/analytics/BasicGroupAnalytics";
import PrioryGroupAnalytics from "@/components/analytics/PrioryGroupAnalytics";

export default {
  name: "TheAnalytics",
  params: {
    currentChart: String
  },
  components: {
    LeftNavAnalytics,
    NIOKRAnalytics,
    ODMAnalytics,
    BasicGroupAnalytics,
    PrioryGroupAnalytics
  },
  data() {
    return {
      currentChart: this.currentChart,
    }
  },
  methods: {
    setCurrentChart(chart) {
      this.currentChart = chart
    }
  },
  mounted() {
    this.currentChart = 'NIOKRAnalytics'
  }
}
</script>

<style scoped>

</style>
