<template>
  <head-helper></head-helper>
  <body-helper></body-helper>
</template>
<script>


import HeadHelper from "@/components/helper/HeadHelper";
import BodyHelper from "@/components/helper/BodyHelper";

export default {
  components: {
    HeadHelper,
    BodyHelper
  },
  name: "TheHelper",

  mounted() {
    document.getElementById('article').classList.remove('article-default')
    document.getElementById('article').classList.add('article-table')
  },
  unmounted() {
    document.getElementById('article').classList.remove('article-table')
    document.getElementById('article').classList.add('article-default')
  }
}
</script>

<style scoped>

</style>
