<template>
  <header-innovation></header-innovation>
  <body-innovation></body-innovation>
</template>

<script>
import HeaderInnovation from "@/components/innovation/HeaderInnovation";
import BodyInnovation from "@/components/innovation/BodyInnovation";

export default {
  name: "TheInnovation",
  components: {
    HeaderInnovation,
    BodyInnovation
  },
  mounted() {
    document.body.classList.add("bg-color")
  },
  unmounted() {
    document.body.classList.remove("bg-color");
  }

}
</script>

<style scoped>

</style>
