<template>
  <AboutBlock/>
  <AboutSearch/>
</template>

<script>
import AboutBlock from "@/components/landing/AboutBlock";
import AboutSearch from "@/components/landing/AboutSearch";

export default {
  name: "TheLanding",
  components: {
    AboutBlock,
    AboutSearch
  }
}
</script>

<style scoped>

</style>
