<template>
  <div class="ois-bg">
    <div class="row mb-3">
      <div class="col-12 text-center mt-5 mb-5">
        <span class="ois-header"><strong>ОТКРЫТЫЕ ДАННЫЕ ПО ОИС</strong></span>
      </div>
    </div>
    <div class="row">
      <open-data-item
          v-for="(item,index) in openDataItems"
          :key="index"
          :title="item.title"
          :href="item.href"
          :content="item.content"
          :img="item.img"
          :placement="item.placement"
      ></open-data-item>
    </div>
  </div>

</template>

<script>
import {Popover} from 'bootstrap'
import OpenDataItem from "@/components/open-data/OpenDataItem";

export default {
  components: {OpenDataItem},
  data() {
    return {
      openDataItems: [
        {
          href: "docs/OIS/ОИС 'ФТРиС'.csv",
          placement: "right",
          content: `Содержит информацию о документах отраслевого «Фонда Технических Регламентов и Стандартов» (ОИС «ФТРиС»):
                    Название НТД; Год издания; Дата введения в действие; Введен впервые (да/нет); Документ действует (да/нет);
                    Номер государственного контракта (разработка по заказу Росавтодора); Дата заключения государственного контракта
                    (разработка по заказу Росавтодора)`,
          img: "img/newdesign/icons_nto-37.png",
          title: "«ФТРиС»"
        },
        {
          href: "docs/OIS/ОИС 'Архив НТР'.csv",
          placement: "right",
          content: `Содержит информацию о документах «Архива научно-технических разработок» (ОИС «Архив НТР»):
                    Номер темы в Архиве НТР;	Номер этапа выполнения работ по Календарному плану;	Год сдачи;
                    Наименование темы; Номер государственного контракта;	Дата заключения государственного контракта;
                    Наименование организации - исполнителя государственного контракта; Руководитель работы`,
          img: "img/newdesign/icons_nto-38.png",
          title: "«Архив НТР»"
        },
        {
          href: "docs/OIS/ОИС 'Конкурс НТР'.csv",
          placement: "right",
          content: `Содержит информацию о документах «Конкурса научно-технических разработок» (ОИС «Конкурс НТР»):
                    Статья бюджета;	Дата конкурса; Номер лота; Наименование темы;
                    Наименование организации – победителя конкурса`,
          img: "img/newdesign/icons_nto-39.png",
          title: "«Конкурс НТР»"
        },
        {
          href: "docs/OIS/ОИС 'ОФАП'.csv",
          placement: "left",
          content: `Содержит информацию о документах «Отраслевого фонда алгоритмов и программ» (ОИС «ОФАП»):
                    Номер разработки в ОФАП; Наименование разработки; Разработчик; Назначение разработки;
                    Регистрация; Год разработки`,
          img: "img/newdesign/icons_nto-40.png",
          title: "«ОФАП»"
        },
        {
          href: "docs/OIS/ОИС 'Учет РНТД' Контракты.csv",
          placement: "right",
          content: `Содержит информацию о документах «Учета результатов научно-технической деятельности»
                    (ОИС «Учет РНТД»): Номер государственного контракта; Дата заключения государственного
                    контракта; Дата окончания работ; Номер государственного контракта в едином реестре
                    Казначейства России; Наименование государственного контракта; Наименование организации -
                    исполнителя государственного контракта`,
          img: "img/newdesign/icons_nto-41.png",
          title: "«Учет РНТД» Контракты"
        },
        {
          href: "docs/OIS/ОИС 'Учет РНТД' Объекты.csv",
          placement: "right",
          content: `Содержит информацию о документах «Учета результатов научно-технической деятельности»
                    (ОИС «Учет РНТД»): Наименование объекта РНТД; Номер государственного контракта;
                    Дата заключения государственного контракта; Наименование организации - исполнителя
                    государственного контракта; Категория свидетельства Роспатента (программа для ЭВМ,
                    база данных, патент на изобретение, патент на полезную модель); Номер регистрации
                    в Роспатенте; Дата регистрации в Роспатенте; Объем прав Российской Федерации`,
          img: "img/newdesign/icons_nto-42.png",
          title: "«Учет РНТД» Объекты"
        },
        {
          href: "docs/OIS/ОИС 'ЭБ НТД' Издания.csv",
          placement: "right",
          content: `Содержит информацию о документах «Отраслевой библиотеки научно-технических документов»
                    (ОИС «ЭБ НТД»): Вид издания; Название издания; Разработчик/автор; Год издания;
                    Место издания; Издатель; Количество страниц`,
          img: "img/newdesign/icons_nto-43.png",
          title: "«ЭБ НТД» Издания"
        },
        {
          href: "docs/OIS/ОИС 'ЭБ НТД' Патенты.csv",
          placement: "left",
          content: `Содержит информацию о документах «Отраслевой библиотеки научно-технических документов»
                    (ОИС «ЭБ НТД»): Номер патента; Раздел Международной патентной классификации (МПК);
                    Подраздел МПК; Наименование патента; Авторы; Заявитель, патентообладатель;
                    Дата публикации; Место публикации`,
          img: "img/newdesign/icons_nto-44.png",
          title: "«ЭБ НТД» Патенты"
        }
      ]
    }
  },
  mounted() {
    document.body.style.backgroundColor = 'rgb(74, 74, 88)';
    //inti Popover
    Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'))
        .forEach(popoverNode => new Popover(popoverNode, {

        }))
  },
  unmounted() {
    document.body.style.backgroundColor = '';
  },
  name: "TheOpenData",
}
</script>

<style scoped>

</style>
