<template>
  <div class="d-flex flex-column justify-content-center align-items-center pt-5">

    <div class="card text-center" style="width: 30rem;" id="card404">
      <div class="card-header text-bg-warning p-3 fw-bold">
        Ошибка 404
      </div>
      <div class="card-body">
        <h5 class="card-title">Страница не найдена</h5>
        <p class="card-text">Извините, страницы с данным адресом не существует</p>
        <router-link to="/" class="btn btn-primary">Перейти на главную</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ThePage404"
}
</script>

<style scoped>
</style>
