<template>
  <TableView
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
      @clipboard="clipboard"
      @add_record="add_record"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <RegistryModalBodyView
          v-if="modalDataView"
          :dataKey="dataKey"
          :dataName="dataName"
          :dataContractName="dataContractName"
          :dataContractNumber="dataContractNumber"
          :dataContractDate="dataContractDate"
          :dataPatentName="dataPatentName"
          :dataPatentNumber="dataPatentNumber"
          :dataPatentDate="dataPatentDate"
          :dataCertificateNumber="dataCertificateNumber"
          :dataCertificateDate="dataCertificateDate"
          :dataDescription="dataDescription"
      />
      <RegistryModalBodyEdit
          v-if="!modalDataView"
          v-model:dataKey="dataKey"
          v-model:dataName="dataName"
          v-model:dataContractName="dataContractName"
          v-model:dataContractNumber="dataContractNumber"
          v-model:dataContractDate="dataContractDate"
          v-model:dataPatentName="dataPatentName"
          v-model:dataPatentNumber="dataPatentNumber"
          v-model:dataPatentDate="dataPatentDate"
          v-model:dataCertificateNumber="dataCertificateNumber"
          v-model:dataCertificateDate="dataCertificateDate"
          v-model:dataDescription="dataDescription"
      />
    </template>
    <template v-slot:buttons>
      <button type="button" class="btn btn-danger" @click="deleteRecord" v-if="modalDataView&&admin">Удалить</button>
      <button type="button" class="btn btn-warning" @click="editRecord" v-if="modalDataView&&admin">Изменить</button>
      <a :href="mailTemplate" class="btn btn-primary" v-if="modalDataView">Заявка</a>
      <button type="button" class="btn btn-info" @click="saveRecord" v-if="!modalDataView&&admin">Записать</button>
    </template>
  </DetailModal>
</template>

<script>
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import RegistryModalBodyView from "@/components/registry/RegistryModalBodyView";
import RegistryModalBodyEdit from "@/components/registry/RegistryModalBodyEdit";
import privateApi from '@/plugins/private'

const prefixUrl = '/api/edit/registries'

export default {
  name: "TheRegistry",
  emits: ['show-alert', 'loader'],
  components: {
    RegistryModalBodyView,
    RegistryModalBodyEdit,
    DetailModal,
    TableView
  },
  data() {
    return {
      data: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Номер в ОР РИД',
          field: 'number'
        },
        {
          title: 'Наименование РИД, номер и дата ГК',
          field: 'name'
        },
        {
          title: 'Государственная регистрация',
          field: 'regInfo'
        }
      ],
      modalDataView: true,
      mailTemplate: 'mailto:admin@mail.ru?cc=admin@mail.ru&amp;' +
          'subject=ЕПС%20НТО%20//%20ОР%20РИД%20//%20Запрос%20на%20приобретение%20РИД:%20&amp;' +
          'body=Здравствуйте,%20УНТИ!%0D%0A%0D%0AМы%20хотели%20бы%20приобрести%20лицензию%20на%20РИД%20%0D%0A%0D%0AНаши%20контактные%20данные:',
      rows: null,
      dataId: null,
      dataKey: null,
      dataName: null,
      dataContractName: null,
      dataContractNumber: null,
      dataContractDate: null,
      dataPatentName: null,
      dataPatentNumber: null,
      dataPatentDate: null,
      dataCertificateNumber: null,
      dataCertificateDate: null,
      dataDescription: null
    }
  },
  methods: {
    add_record() {
      if (!this.admin) return
      this.modalDataView = false
      this.dataId = null
      this.dataKey = null
      this.dataName = null
      this.dataContractName = null
      this.dataContractNumber = null
      this.dataContractDate = null
      this.dataPatentName = null
      this.dataPatentNumber = null
      this.dataPatentDate = null
      this.dataCertificateNumber = null
      this.dataCertificateDate = null
      this.dataDescription = null
      this.$refs.detailModal.openModal()
    },
    dateForInput(dateInput) {
      if (dateInput !== null) {
        return dateInput.split('.').reverse().join('-')
      } else return null
    },
    deleteRecord() {
      if (!this.admin) return
      if (confirm(`Удалить "${this.dataKey} - ${this.dataName}"?`)) {
        privateApi.delete(prefixUrl + `/${this.dataId}`)
            .then(() => {
              this.rows = null
              this.$refs.detailModal.closeModal()
              this.getRegistries()
            })
      }
    },
    editRecord() {
      if (!this.admin) return
      this.modalDataView = false
    },
    saveRecord() {
      if (!this.admin) return
      const registriesData = {
        id: this.dataId,
        key: this.dataKey,
        name: this.dataName,
        contractName: this.dataContractName,
        contractNumber: this.dataContractNumber,
        contractDate: this.dataContractDate,
        patentName: this.dataPatentName,
        patentNumber: this.dataPatentNumber,
        patentDate: this.dataPatentDate,
        certificateNumber: this.dataCertificateNumber,
        certificateDate: this.dataCertificateDate,
        description: this.dataDescription,
      }
      if (this.dataId === null) {
        privateApi.put(prefixUrl + '', registriesData)
            .then(() => {
              this.rows = null
              this.$refs.detailModal.closeModal()
              this.getRegistries()
            })
      } else {
        privateApi.post(prefixUrl + '', registriesData)
            .then(() => {
              this.rows = null
              this.$refs.detailModal.closeModal()
              this.getRegistries()
            })
      }
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public/registries/' + id)
          .then(
              res => {
                this.getAdmin()
                this.modalDataView = true
                this.dataId = id
                this.dataKey = res.data.key
                this.dataName = res.data.name
                this.dataContractName = res.data.contractName
                this.dataContractNumber = res.data.contractNumber
                this.dataContractDate = this.dateForInput(res.data.contractDate)
                this.dataPatentName = res.data.patentName
                this.dataPatentNumber = res.data.patentNumber
                this.dataPatentDate = this.dateForInput(res.data.patentDate)
                this.dataCertificateNumber = res.data.certificateNumber
                this.dataCertificateDate = this.dateForInput(res.data.certificateDate)
                this.dataDescription = res.data.description
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    getRegistries() {
      this.$emit('loader', true)
      this.axios
          .get('/api/public/registries')
          .then(
              res => {
                let rawRows = res.data.data
                this.data = res.data.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  let regInfoTitle = `<strong>Роспатент:</strong><br>${rawRows[i].patentName} №&nbsp${rawRows[i].patentNumber} от&nbsp${rawRows[i].patentDate}`;
                  regInfoTitle += (rawRows[i].certificateNumber !== null)
                      ? `<hr><strong>Минобрнауки: Регистрационное свидетельство на объект учета</strong><br>№&nbsp;${rawRows[i].certificateNumber} от&nbsp${rawRows[i].certificateDate}`
                      : ''
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        number: rawRows[i].key,
                        name: `<strong>Наименование объекта:</strong><br>${rawRows[i].name}<hr><strong>Контракт:</strong><br>Номер контракта: ${rawRows[i].contractNumber}<br>Дата контракта: ${rawRows[i].contractDate}`,
                        regInfo: regInfoTitle
                      }
                  )
                }
                this.rows = rows
                this.$emit('loader', false)
              }
          )
    },
    excel() {
      this.axios
          .get('/api/public/registries/excel', { responseType: 'blob' })
          .then(response => {
            const disposition = response.headers['content-disposition'];
            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            var matches = filenameRegex.exec(disposition);
            let filename;
            if (matches != null && matches[1]) {
              filename = matches[1].replace(/['"]/g, '');
            }
            const blob = new Blob([response.data],
                { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
            const link = document.createElement('a')
            link.href = URL.createObjectURL(blob)
            link.download = filename;
            link.click()
            URL.revokeObjectURL(link.href)
          })
    },
    clipboard() {
      let data = ""
      let colNumber = 0
      for (let i = 0; i < this.data.length; i++) {
        data += (i + 1) + '\t' + this.data[i].key + '\t' +
            this.data[i].name + '\t' +
            this.data[i].contractName + '\t' +
            this.data[i].contractNumber + '\t' +
            this.data[i].contractDate + '\t' +
            this.data[i].patentName + '\t' +
            this.data[i].patentNumber + '\t' +
            this.data[i].patentDate + '\t' +
            this.data[i].certificateNumber + '\t' +
            this.data[i].certificateDate + '\t' +
            this.data[i].description + '\n'
        colNumber = i + 1
      }
      let textarea = document.createElement("textarea");
      textarea.textContent = data;
      textarea.style.position = "fixed";  // Prevent scrolling to bottom of page in Microsoft Edge.
      document.body.appendChild(textarea);
      textarea.select();
      try {
        return document.execCommand("copy");  // Security exception may be thrown by some browsers.
      } catch (ex) {
        console.warn("Copy to clipboard failed.", ex);
      } finally {
        document.body.removeChild(textarea);
        this.$emit('show-alert', `Скопировано в буфер, строк ${colNumber}`, 'info')
      }
    },
    getAdmin() {
      if (localStorage.getItem('user')) {
        const user = JSON.parse(localStorage.getItem('user'))
        this.admin = user.role === 'Admin'
      } else {
        this.admin = false
      }
    }
  },
  mounted() {
    this.getAdmin()
    this.getRegistries()
  }
}
</script>

<style scoped>

</style>
