<template>
  <TheNavSearch :navs="navs"></TheNavSearch>
  <router-view v-slot="{ Component, route}" name="searchView">
    <transition name="fade" mode="out-in">
      <div :key="route.path">
        <component :is="Component" @loader="viewLoader"></component>
      </div>
    </transition>
  </router-view>
</template>

<script>

import TheNavSearch from "@/components/search/TheNavSearch";
import LoaderComponent from "@/components/TheLoader";
import searchNavs from "@/plugins/searchNavs";
import termsNavs from "@/plugins/termsNavs";
import offerNavs from "@/plugins/offerNavs";
import ntdNavs from "@/plugins/ntdNavs";
import users from "@/plugins/users";

export default {
  name: "TheSearch",
  emits: [
    'loader'
  ],
  components: {
    LoaderComponent,
    TheNavSearch
  },
  data() {
    let navs = ''
    if (this.$route.path.includes('/search')) {
      navs = searchNavs.filter((item) => {
        return !item.access || item.access.includes(users.role)
      })
    }
    if (this.$route.path.includes('/terms')) {
      navs = termsNavs.filter((item) => {
        return !item.access || item.access.includes(users.role)
      })
    }
    if (this.$route.path.includes('/offer')) {
      navs = offerNavs.filter((item) => {
        return !item.access || item.access.includes(users.role)
      })
    }
    if (this.$route.path.includes('/ntd')) {
      navs = ntdNavs.filter((item) => {
        return !item.access || item.access.includes(users.role)
      })
    }
    return {
      navs: navs
    }
  },
  methods: {
    viewLoader(view) {
      this.$emit('loader', view)
    }
  }
}
</script>

<style scoped>

</style>
