<template>
  <div class="container">
    <SearchWindow
        title="МОНИТОРИНГ ГК"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-2 mt-1"><label>Статья</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option>НИОКР</option>
          </select></div>
        <div class="col-1 mt-1"><label>Статус</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="status" id="status" name="status" class="form-select">
            <option></option>
            <option>Вновь начинаемые</option>
            <option>Переходящие</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Претензии</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="claim" id="claim" name="claim" class="form-select">
            <option :value="null"></option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Год формирования Плана</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="yearPlan" id="yearPlan" name="yearPlan" class="form-select">
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Номер</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Состояние</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="condition" id="condition" name="condition" class="form-select">
            <option></option>
            <option>Выполняется</option>
            <option>Завершен</option>
            <option>Расторгнут</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Наименование</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Заказчик</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="customer" id="customer" name="customer" class="form-select">
            <option :value="null">Все заказчики</option>
            <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateStartFrom" id="dateStartFrom" type="date" name="dateStartFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateStartTo" id="dateStartTo" type="date" name="dateStartTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishFrom" id="dateFinishFrom" type="date" name="dateFinishFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishTo" id="dateFinishTo" type="date" name="dateFinishTo" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      :aggregate="aggregate"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import DetailModal from "@/components/DetailModal";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";
import TableView from "@/components/table/TableView";

export default {
  name: "TheMonitoringSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    TheBlocksDetail
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      customers: list.customers,
      budgetItem: 'НИОКР',
      status: null,
      claim: null,
      yearPlan: new Date().getFullYear(),
      number: null,
      condition: null,
      name: null,
      executor: null,
      customer: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      rows: null,
      aggregate: null,
      blocks: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Наименование контракта',
          field: 'title'
        },
        {
          title: 'Начало и окончание работ',
          field: 'working'
        },
        {
          title: 'Исполнитель<br/>Заказчик',
          field: 'executor_and_customer'
        },
        {
          title: 'Стоимость всего<br/>(тыс. ₽)',
          field: 'price_all'
        },
        {
          title: 'Стоимость  (тыс. ₽)',
          field: 'price_year0'
        },
        {
          title: 'Стоимость  (тыс. ₽)',
          field: 'price_year1'
        },
        {
          title: 'Стоимость  (тыс. ₽)',
          field: 'price_year2'
        },
        {
          title: 'Фактическая оплата за 2024 (тыс. ₽)',
          field: 'payment'
        },
        {
          title: 'Сумма штрафов по ГК (тыс. ₽)',
          field: 'claims'
        },
        {
          title: 'Этапы, сроки сдачи, стоимость этапов по КП, фактическая оплата',
          field: 'stage'
        },
        {
          title: 'Реализация',
          field: 'realization'
        },
        {
          title: 'Состояние',
          field: 'condition'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      const data = {
        budgetItem: this.budgetItem,
        status: this.status,
        claim: this.claim,
        yearPlan: this.yearPlan,
        number: this.number,
        condition: this.condition,
        name: this.name,
        executor: this.executor,
        customer: this.customer,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo
      }
      let columns = [];
      for (let i = 0; i < this.columns.length; i++) {
        let column = this.columns[i]
        if (column.field === 'payment') column.title = 'Фактическая оплата за ' + this.yearPlan + '<br/>(тыс. ₽)';
        if (column.field === 'price_year0') column.title = 'Стоимость ' + this.yearPlan + '<br/>(тыс. ₽)';
        if (column.field === 'price_year1') column.title = 'Стоимость ' + (this.yearPlan + 1) + '<br/>(тыс. ₽)';
        if (column.field === 'price_year2') column.title = 'Стоимость ' + (this.yearPlan + 2) + '<br/>(тыс. ₽)';
        columns.push(column)
      }
      this.columns = columns
      privateApi
          .post('/api/private-search/information/monitoring', data)
          .then(res => {
                let rawRows = res.data.rows
                this.aggregate = res.data.aggregate
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        title: rawRows[i].title,
                        working: rawRows[i].working,
                        executor_and_customer: rawRows[i].executor_and_customer,
                        price_all: rawRows[i].price_all,
                        price_year0: rawRows[i].price_year0,
                        price_year1: rawRows[i].price_year1,
                        price_year2: rawRows[i].price_year2,
                        payment: rawRows[i].payment,
                        claims: rawRows[i].claims,
                        stage: rawRows[i].stage,
                        realization: rawRows[i].realization,
                        condition: rawRows[i].condition
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.budgetItem = 'НИОКР'
      this.status = null
      this.claim = null
      this.yearPlan = new Date().getFullYear()
      this.number = null
      this.condition = null
      this.name = null
      this.executor = null
      this.customer = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
    }
  }
}
</script>

<style scoped>

</style>
