<template>
  <div class="container">
    <SearchWindow
        title="специальный поиск"
        extended-title=" "
        :alt-button="altButton"
        all-search=true
        :search-helper="rows == null"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-2 mt-1"><label>Статья бюджета</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option :value="null"></option>
            <option v-for="(item,index) in budgetItems" :key="index" :value="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Статус</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="status" id="status" name="status" class="form-select">
            <option :value="null"></option>
            <option>Вновь начинаемые</option>
            <option>Переходящие</option>
          </select>
        </div>
        <div class="col-3 mt-1"><label>Регистрационные карты ЦИТИС</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="registrationCart" id="registrationCart" name="registrationCart" class="form-select">
            <option :value="null"></option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-0"><label>Год Плана</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="yearPlan" id="yearPlan" name="yearPlan" class="form-select">
            <option :value="null"></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Номер</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Состояние</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="condition" id="condition" name="condition" class="form-select">
            <option></option>
            <option>Выполняется</option>
            <option>Завершен</option>
            <option>Расторгнут</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Реализация</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="implementation" id="implementation" name="implementation" class="form-select">
            <option></option>
            <option value="ntd">НТД</option>
            <option value="projectNtd">Проект НТД</option>
            <option value="bdis">БД/ИС</option>
            <option value="patent">Патент</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Наименование</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>Доп. соглашение</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="additional" id="additional" name="additional" class="form-select">
            <option></option>
            <option value="true">Есть</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Претензии</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="claim" id="claim" name="claim" class="form-select">
            <option></option>
            <option value="true">Есть</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Заказчик</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="customer" id="customer" name="customer" class="form-select">
            <option selected="" value="">Все заказчики</option>
            <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateStartFrom" id="dateStartFrom" type="date" name="dateStartFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateStartTo" id="dateStartTo" type="date" name="dateStartTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishFrom" id="dateFinishFrom" type="date" name="dateFinishFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishTo" id="dateFinishTo" type="date" name="dateFinishTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Критические технологии</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="technology" id="technology" name="technology" class="form-select">
            <option :value="null">Все технологии</option>
            <option :value="-1">Отсутствует</option>
            <option v-for="item in technologies" :key="item.id" :value="item.id">{{ item.id }} {{ item.title }}</option>
          </select>
        </div>
        <div class="col-2 mt-0"><label>Приоритетные направления</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="direction" id="direction" name="direction" class="form-select">
            <option :value="null">Все направления</option>
            <option :value="-1">Отсутствует</option>
            <option v-for="item in directions" :key="item.id" :value="item.id">{{ item.title }}</option>
          </select>
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from '@/plugins/private'
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";

export default {
  name: "TheSpecialSearch",
  components: {
    TableView,
    SearchWindow,
    DetailModal,
    TheBlocksDetail
  },
  data() {
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы и информации в Базе Данных НИОКТР',
      listYear: list.currentListYear.reverse(),
      budgetItems: list.budgetItem,
      customers: list.customers,
      technologies: list.technologies,
      directions: list.directions,
      budgetItem: null,
      status: null,
      registrationCart: null,
      yearPlan: null,
      number: null,
      condition: null,
      implementation: null,
      executor: null,
      name: null,
      customer: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      technology: null,
      direction: null,
      additional: null,
      claim: null,
      rows: null,
      admin: false,
      blocks: null,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Год плана',
          field: 'yearPlan'
        },
        {
          title: 'Статья бюджета',
          field: 'budgetItem'
        },
        {
          title: 'Наименование государственного контракта',
          field: 'title'
        },
        {
          title: 'Исполнитель',
          field: 'executor'
        },
        {
          title: 'Номер контракта',
          field: 'numberContract'
        },
        {
          title: 'Дата заключения контракта',
          field: 'dateStart'
        },
        {
          title: 'Дата завершения контракта',
          field: 'dataFinish'
        },
        {
          title: 'Состояние',
          field: 'condition'
        },
        {
          title: 'Стоимость всего',
          field: 'price'
        },
        {
          title: 'Реализации',
          field: 'implementation'
        },
        {
          title: 'Регистрация',
          field: 'card'
        },
        {
          title: 'КТ',
          field: 'technology'
        },
        {
          title: 'Приоритетные направления',
          field: 'direction'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        budgetItem: this.budgetItem,
        status: this.status,
        registrationCart: this.registrationCart,
        yearPlan: this.yearPlan,
        number: this.number,
        condition: this.condition,
        implementation: this.implementation,
        executor: this.executor,
        name: this.name,
        customer: this.customer,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo,
        technology: this.technology,
        direction: this.direction,
        additional: this.additional,
        claim: this.claim
      }
      privateApi
          .post('/api/private-search/special', data)
          .then((res) => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    yearPlan: rawRows[i].yearPlan,
                    budgetItem: rawRows[i].budgetItem,
                    title: rawRows[i].title,
                    executor: rawRows[i].executor,
                    numberContract: rawRows[i].numberContract,
                    dateStart: rawRows[i].dateStart,
                    dataFinish: rawRows[i].dataFinish,
                    condition: rawRows[i].condition,
                    price: rawRows[i].price,
                    implementation: rawRows[i].implementation.filter(item => item != null).join("<br>"),
                    card: rawRows[i].card.filter(item => item != null).join("<br>"),
                    technology: rawRows[i].technology,
                    direction: rawRows[i].direction
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.budgetItem = null
      this.status = null
      this.registrationCart = null
      this.yearPlan = null
      this.number = null
      this.condition = null
      this.implementation = null
      this.executor = null
      this.name = null
      this.customer = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
      this.technology = null
      this.direction = null
      this.additional = null
      this.claim = null
    }
  }
}
</script>

<style scoped>

</style>
