<!DOCTYPE html>
<html lang="">
  <head>
    <!-- Required meta tags -->
    <title>ЕПС НТО</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Informavtodor">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/css/main.css" media="all" rel="stylesheet" type="text/css">
    <link href="/css/blue-style.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Боковое меню CSS  -->
    <link href="/css/right-nav-style.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
