.button_x {
    z-index: 1001;
    position: absolute;
    right: 16px;
    top: 11px;
    width: 16px;
    height: 16px;
    opacity: 0.2;
}

.button_x:hover {
    opacity: 0.9;
}

.button_x:before,
.button_x:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 3px;
    background-color: #333;
}

.button_x:before {
    transform: rotate(45deg);
}

.button_x:after {
    transform: rotate(-45deg);
}