@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
table.dataTable tbody td {
    vertical-align: top;
}
body {
    /* background-color: #141281; */
    /* font-family: "Lato"; */
    font-family: "Lato";
    /* font-weight: 300;
    font-size: 16px;
    color: #555; */
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /* margin-top: 70px; */
    /* padding-top: 55px; */
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p {
    /* line-height: 28px; */
    /* margin-bottom: 35px; */
    padding: 5px;
    text-align: center;
    font-size: 1em;
}


/* Спойлер */

.opened {
    color: green;
}

.closed {
    color: blue;
}

.spoiler-body {
    display: none;
}

.spoiler-title:hover {
    cursor: pointer;
}

/* INPUT */
input.type:submit {
    width:100%;
}

/* Google charts div */

div.rounded {
    /* opacity: 0.9 !important; */
    background-color: white;
    /* rounded corners */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


/* Поменяем цвет выделенной строки и курсор в таблице, при наведении */

.table-hover>tbody>tr:hover {
    /* background-color: rgb(255, 255, 0);*/
    background-color: rgb(255, 247, 180) !important;
    cursor: pointer;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.normal {
    /*  position:fixed;
	top:400; left:200;	 */
    width: 100%;
}

.fix {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 0px solid #1c1c78;
    background: #d4e3e5;
    opacity: 0.8;
}


/* Вырезаем круг из картинки */

.round {
    width: 42px;
    border-radius: 8px;
    /* Радиус скругления */
    border: 2px solid #343a40;
    /* Параметры рамки */
    box-shadow: 0 0 3px #666;
    /* Параметры тени */
}


.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('/img/loader.png') 50% 50% no-repeat #212529;
    opacity: .8;
}


/* Стили для кнопки вверх */

#back-top {
    z-index: 100000;
    position: fixed;
    bottom: 30px;
    margin-left: 50px;
    cursor: pointer;
}

#back-top .a {
    width: 44px;
    display: block;
    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #bbb;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top .a:hover {
    color: #000;
}


/* arrow icon (span tag) */

#back-top span {
    width: 54px;
    height: 54px;
    display: block;
    margin-bottom: 7px;
    background: #ddd url(/img/icon_top.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}




/* Sticky footer styles
-------------------------------------------------- */




/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */


#demo-canvas2 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -2;
}

#x0,
#x1,
#x2,
#x3,
#x4,
#x5,
#x10 {
    display: none;
}


/* navbar */


/*
.navbar {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;  huvm gyg
} */


/* Толщина border для главного меню */

.border_on {
    /* border-bottom: 1px solid #ffc107; */
    background: #0275d8;
    border: 1px solid #0275d8;
    border-right: 1px solid #ffffff;

}

.border_off {
    /* border-bottom: 1px solid #343a40; */
    border: 1px solid #1a244c;
    border-right: 1px solid #ffffff;
    /* border-right: 1px solid #ffffff; */
}


/*DARKEN BLUR*/

.brighten img {
    /* -webkit-filter: brightness(80%) blur(1px); */
    -webkit-filter: brightness(75%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.brighten img:hover {
    -webkit-filter: brightness(100%);
}


/* Jumbotron */

.jumbotron {
    /* opacity: 0.9 !important; */
    overflow: hidden !important;
    word-wrap: break-word !important;
}


/* Текст фона */

#back-text {
    position: fixed;
    z-index: -3;
    top: 50%;
    left: 0%;
    margin-left: 0px;
    margin-top: -80px;
}

#back-text h1 {
    font-size: 10em;
    background-color: rgb(74, 74, 88);
    color: rgb(74, 74, 88);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.01), 0px -5px 35px rgba(255, 255, 255, 0.06);
    /* color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1); */
}


/* Делаем анимированные подписи к элементам витрины */


/* body
{
    background-color: #E5E5E5;
    font-family: Tahoma, Calibri, 'Trebuchet MS' , Arial;
    margin: 20px;
    color: #666666;
} */


/* h1, h2
{
    clear: both;
    font-weight: normal;
    text-shadow: 1px 1px 0px #FFFFFF;
} */


/* Common division block */

.holder {
    /* border: 6px solid #FFFFFF; */
    /* float: left; */
    /* margin: 20px; */
    /* position: relative; */
    overflow: hidden;
    /* box-shadow: 0px 0px 5px #333333; */
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;
}


/* Caption and Light */


/* .caption {
    color: rgba(0, 0, 0, 0);
    line-height: 100px;
}

.caption:hover {
    border: 6px solid #E0E0E0;
    color: rgb(255, 255, 255);
    line-height: 500px;
    box-shadow: 0px 0px 10px 7px #FFFFFF;
}

.caption>div {
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 30px;
} */


/* Smooth Caption */

.smooth {
    opacity: 1;
}


/* .smooth:hover img {
    opacity: 0.6;
    box-shadow: 0px 0px 10px #333333;
} */


/* .go-left {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    position: absolute;
    bottom: 0px;
    right: -600px;
    width: 360px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;
}

.smooth:hover>.go-left {
    right: 0px;
} */

.go-top {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    /* position: absolute;
    bottom: 0px;
    top: 600px;
    width: 360px; */
    height: 300px;
    position: fixed;
    bottom: -400px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    /* margin: 10px;
    padding: 10px; */
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;
}

.smooth:hover>.go-top {
    bottom: -140px;
}

.go-top p {
    font-size: 12px;
}


/* Неоновая подсветка текста */


/* .neon {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff, 0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
} */


/* Show Details */


/* .details-holder {
    float: left;
    position: relative;
    margin: 20px 5px 120px 5px;
} */


/* .show-details img {
    opacity: 0.5;
    width: 200px;
    height: 150px;
}

.show-details:hover img {
    position: relative;
    opacity: 1;
    z-index: 99;
} */


/* .img-info {
    padding: 170px 10px 0px 10px;
    position: absolute;
    z-index: 20;
    top: -10px;
    left: -10px;
    width: 200px;
    height: 100px;
    background-color: #888888;
    color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 8px 5px -6px #333333;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;
    opacity: 0;
} */


/* .show-details:hover .img-info {
    opacity: 1;
}

.details-holder h1 {
    font-size: 18px;
    text-transform: uppercase;
}

.details-holder p {
    font-size: 12px;
} */


/* #atsdh_text {
    color: #b5c3d3;
    text-decoration: none;
    font: 500 19px arial;
    display: table;
}

@keyframes topFadeOut {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        top: 25%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bottomFadeOut {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        bottom: 25%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes topFadeOutVertical {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        top: 45%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rightFadeInOut {
    0% {
        position: absolute;
        right: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        right: 10rem;
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 10rem;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    100% {
        opacity: 0%;
    }
}

.first-text:hover {
    font-size: 4.4rem;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: white;
}

.second-text {
    font-size: 3.4rem;
    position: absolute;
    top: 8.5rem;
    opacity: 0;
    animation-name: rightFadeInOut;
    animation-delay: 3s;
    animation-duration: 6s;
    color: #ccc;
}

.third-text {
    transform: rotate(-90deg);
    font-size: 2rem;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0;
    animation-name: topFadeOutVertical;
    animation-delay: 7.5s;
    animation-duration: 6s;
    color: #A3DDF0;
    white-space: nowrap;
}

.fourth-text {
    font-size: 3.4rem;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: #F0A3BE;
    animation-name: fadeInOut;
    animation-delay: 8.5s;
    animation-duration: 9s;
}

.fifth-text {
    font-size: 5rem;
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: bottomFadeOut;
    animation-delay: 10s;
    animation-duration: 9s;
} */


/* #atsdh_text:after {
    transform: rotate(-90deg) translateX(-1em) translateY(-1em);
    opacity: 0;
    content: url('../img/atsdh_text.png');
    font-family: 'FontAwesome';
    display: inline-block;
    margin-top: -350px;
}

#atsdh_text:hover {
    color: rgb(255, 255, 255);
}

#atsdh_text:hover:after {
    transition: opacity .25s, transform .5s;
    transform: rotate(0) translateX(0) translateY(0);
    opacity: 1;
} */


/* bootstrap hack: fix content width inside hidden tabs */


/* .tab-content>.tab-pane:not(.active),
.pill-content>.pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} */


/* bootstrap hack end */


/*
.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: inline;
    visibility: hidden;
    position: absolute;
}

.tab-content>.active,
.pill-content>.active {
    display: inline;
    visibility: visible;
    position: absolute;
} */
