<template>
  <div id="admin-nav" class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
    <span class="fs-4 text-center">Панель администратора</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <NavAdminItem v-for="(item,index) in adminItems" :key="index"
                    :title="item.title"
                    :icon="item.icon"
                    :link="item.link"
      />
    </ul>
  </div>
</template>

<script>
import NavAdminItem from "@/components/admin/NavAdminItem";

export default {
  name: "NavAdminPanel",
  components: {NavAdminItem},
  data() {
    return {
      adminItems: [
        {
          title: 'Пользователи',
          icon: 'users',
          link: ''
        },
        {
          title: 'Доступы',
          icon: 'role',
          link: 'role'
        },
        {
          title: 'Миграция с IB',
          icon: 'migration',
          link: 'migration'
        }
      ]
    }
  }
}
</script>

<style scoped>

</style>
