<template>
  <li class="nav-item">
    <router-link
        :to="linkRef"
        custom
        v-slot="{href, navigate, isExactActive }"
    >
      <a :href="href" :class="['nav-link', isExactActive  ? 'active' : 'link-dark']" aria-current="page"
         @navigate="navigate">
        <BaseIcon :name="icon"/>
        {{ title }} </a>
    </router-link>
  </li>
</template>

<script>
import BaseIcon from "@/components/BaseIcon";

export default {
  components: {BaseIcon},
  props: {
    title: String,
    icon: String,
    link: String,
    active: Boolean
  },
  data() {
    return {
      linkRef: "/admin/" + this.link
    }
  },
  name: "NavAdminItem"
}
</script>

<style scoped>

</style>
