<template>
  <div class="container">
    <SearchWindow
        title="СПРАВКА ПО ИСПОЛНИТЕЛЯМ"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-2 mt-1"><label>Статья бюджета</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option></option>
            <option>НИОКР</option>
            <option>Внеплановая тематика</option>
            <option>Информационное обеспечение</option>
            <option>ГЛОНАСС</option>
            <option>Реформирование</option>
            <option>Информатизация</option>
            <option>Транспортная безопасность</option>
            <option>Госзадания</option>
          </select>
        </div>
        <div class="col-3 mt-0"><label>Год формирования Плана</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="year" id="year" name="year" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Исполнитель контракта</label></div>
        <div class="form-group col-9 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import DetailTable from "@/components/search/components/DetailTable";
import DetailModal from "@/components/DetailModal";
import TableView from "@/components/table/TableView";

export default {
  name: "TheContractorSearch",
  components: {
    SearchWindow,
    TableView,
    DetailTable,
    DetailModal
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      budgetItem: null,
      year: null,
      executor: null,
      detailTr: null,
      rows: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Исполнитель:',
          field: 'executor'
        },
        {
          title: 'Сумма всего:',
          field: 'price_all'
        },
        {
          title: 'Сумма за год:',
          field: 'price_year'
        },
        {
          title: 'Оплачено за год:',
          field: 'payment_year'
        },
        {
          title: 'Остаток за год:',
          field: 'debt_year'
        },
        {
          title: 'Номера контрактов:',
          field: 'numbers'
        }
      ]
    }
  },
  methods: {
    search() {
      const data = {
        budgetItem: this.budgetItem,
        year: this.year,
        executor: this.executor
      }
      privateApi
          .post('/api/private-search/information/contractor', data)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    executor: rawRows[i].executor,
                    price_all: rawRows[i].price_all,
                    price_year: rawRows[i].price_year,
                    payment_year: rawRows[i].payment_year,
                    debt_year: rawRows[i].debt_year,
                    numbers: rawRows[i].numbers
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public-search/ats-dh/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.budgetItem = null
      this.year = null
      this.executor = null
    }
  }
}
</script>

<style scoped>

</style>
