<template>
  <div class="container">
    <SearchWindow
        title="глобальный поиск"
        :alt-button="altButton"
        :search-helper="rows == null"
        all-search=true
        @search="search"
        ref="searchWindow"
    />
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

export default {
  name: "TheSearchGlobal",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    DetailTable
  },
  data() {
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы' +
          ' и информации в Базах Данных ЭБ НТД, НИОКТР, ЭБ ПАТЕНТЫ',
      rows: null,
      admin: false,
      detailTr: null,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'база',
          field: 'table_name'
        },
        {
          title: 'Результат поиска',
          field: 'title'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery
      }
      this.axios
          .post('/api/public-search/global', data)
          .then(res => {
                let rawRows = res.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        table_name: rawRows[i].table_name,
                        title: rawRows[i].title,
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      // this.$emit('loader', true)
      this.axios
          .post('/api/public-search/global/detail', id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
  }
}
</script>

<style scoped>

</style>
