<template>
  <div class="container">
    <SearchWindow
        title="поиск по ниоктр"
        extended-title="по реквизитам государственных контрактов"
        :alt-button="altButton"
        all-search=true
        :search-helper="rows == null"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-1 mt-0"><label>Интервал лет с:</label></div>
        <div class="form-group col-2 gy-2">
          <select id="yearFrom" class="form-select" name="yearFrom" v-model="yearFrom">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>по:</label></div>
        <div class="form-group col-2 gy-2">
          <select id="yearTo" name="yearTo" v-model="yearTo" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Номер</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>№ в архиве</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="numberArh" id="numberArh" type="search" name="numberArh" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Наименование</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-5 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control"></div>
        <div class="col-1 mt-1"><label>Реализация</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="implementation" id="implementation" name="implementation" class="form-select">
            <option></option>
            <option value="ntd">НТД</option>
            <option value="project_ntd">Проект НТД</option>
            <option value="bdis">БД/ИС</option>
            <option value="patent">Патент</option>
            <option value="integration">Внедрение</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-6 mt-1"><label>Дата заключения с:</label></div>
        <div class="col-6 mt-1"><label>По дату заключения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <input v-model="conclusionDateFrom" id="conclusionDateFrom" type="date" name="conclusionDateFrom"
                 class="form-control">
        </div>
        <div class="form-group col-6">
          <input v-model="conclusionDateTo" id="conclusionDateTo" type="date" name="conclusionDateTo"
                 class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
      @clipboard="clipboard"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

export default {
  name: "TheNioktrSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    DetailTable
  },
  data() {
    return {
      yearFrom: null,
      yearTo: null,
      number: null,
      numberArh: null,
      name: null,
      implementation: null,
      conclusionDateFrom: null,
      conclusionDateTo: null,
      executor: null,
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы' +
          ' и информации в Базе Данных НИОКТР',
      listYear: list.currentListYear.reverse(),
      rows: null,
      detailTr: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Наименование',
          field: 'title'
        },
        {
          title: 'Год завершения',
          field: 'year_finish'
        },
        {
          title: 'Номер',
          field: 'number'
        },
        {
          title: 'Дата',
          field: 'conclusionDate'
        },
        {
          title: 'Разработчик',
          field: 'developer'
        },
        {
          title: 'Номер в Архиве',
          field: 'numberArh'
        },
        {
          title: 'Реализации',
          field: 'realization',
          subtitle:[
            {title: "Все реализации"},
            {title: "Патент"},
            {title: "НТД"},
            {title: "БД/ИС"},
            {title: "Проект НТД"}
          ]
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        yearFrom: this.yearFrom,
        yearTo: this.yearTo,
        number: this.number,
        numberArh: this.numberArh,
        name: this.name,
        implementation: this.implementation,
        executor: this.executor,
        conclusionDateFrom: this.conclusionDateFrom,
        conclusionDateTo: this.conclusionDateTo
      }
      this.axios
          .post('/api/public-search/niokr', data)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              let implementation = [];
              if (rawRows[i].bdis) implementation.push("БД/ИС");
              if (rawRows[i].project_ntd) implementation.push("Проект НТД");
              if (rawRows[i].patent) implementation.push("Патент");
              if (rawRows[i].ntd) implementation.push("НТД");
              if (rawRows[i].integration) implementation.push("Внедрение");
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    title: rawRows[i].title,
                    year_finish: rawRows[i].year_finish,
                    number: rawRows[i].number,
                    conclusionDate: rawRows[i].conclusion_date,
                    developer: rawRows[i].developer == null ? "" : rawRows[i].developer,
                    numberArh: rawRows[i].number_arh,
                    realization: implementation.join("<br>"),
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public-search/niokr/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.yearFrom = null
      this.yearTo = null
      this.number = null
      this.numberArh = null
      this.name = null
      this.implementation = null
      this.executor = null
      this.conclusionDateFrom = null
      this.conclusionDateTo = null
    },
    excel(allSearchQuery){
      const data = {
        allSearchQuery: allSearchQuery,
        yearFrom: this.yearFrom,
        yearTo: this.yearTo,
        number: this.number,
        numberArh: this.numberArh,
        name: this.name,
        implementation: this.implementation,
        executor: this.executor,
        conclusionDateFrom: this.conclusionDateFrom,
        conclusionDateTo: this.conclusionDateTo
      }
      this.axios
          .post('/api/public-search/niokr/excel',data, { responseType: 'blob' })
          .then(response => {
            const disposition = response.headers['content-disposition'];
            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            var matches = filenameRegex.exec(disposition);
            let filename;
            if (matches != null && matches[1]) {
              filename = matches[1].replace(/['"]/g, '');
            }
            const blob = new Blob([response.data],
                { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
            const link = document.createElement('a')
            link.href = URL.createObjectURL(blob)
            link.download = filename;
            link.click()
            URL.revokeObjectURL(link.href)
          })
    }
  }
}
</script>

<style scoped>

</style>
