<template>
  <div class="row">
    <div class="col-4">
      <hr>
    </div>
    <div class="col-4 text-center"><label><strong>Общий поиск:</strong></label></div>
    <div class="col-4">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="input-group">
        <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-light"
                        id="basic-addonmain">
                    <a
                        data-bs-placement="left"
                        data-bs-toggle="popover"
                        data-bs-trigger="hover"
                        :data-bs-content="altButton"
                        :title="title.toUpperCase()">
                      <BaseIcon name="search" width="18" height="18"/></a></span></div>
        <slot></slot></div>
    </div>
  </div>
</template>

<script>
import BaseIcon from "@/components/BaseIcon";

export default {
  props: [
    'altButton',
    'title'
  ],
  name: "SearchWindowBody",
  components: {
    BaseIcon
  }
}
</script>

<style scoped>

</style>
