<template>
  <table class="table table-striped table-bordered table-hover table-lg">
    <tbody class="table-group-divider align-top">
    <tr v-for="item in detail" :key="item.index"
        :class="[item.bold ? 'fw-bold' : '', item.center ? 'text-center' : '', item.blue ? 'table-primary' : '']">
      <DetailTableRow :title="item.title" :info="item.info" :graph="item.graph"/>
    </tr>
    </tbody>
  </table>
</template>

<script>

import DetailTableRow from "@/components/search/components/DetailTableRow";

export default {
  name: "DetailTable",
  props: [
    'detail'
  ],
  components: {
    DetailTableRow
  }
}
</script>

<style scoped>

</style>
