<template>
  <div id="graph">
    <GChart
        type="PieChart"
        :data="data"
        :options="chartOptions"
    />
  </div>
</template>

<script>
import {GChart} from 'vue-google-charts'

export default {
  name: "DetailTableGraph",
  props: ['data'],
  components: {GChart},
  data() {
    return {
      chartOptions: {
        title: null,
        is3D: true,
        width: 600,
        height: 350,
      }
    }
  }
}
</script>

<style scoped>

</style>
