<template>
  <span v-if="working">
    {{ text }}
    <span @click="toggle" class="toggle"> {{ isHide ? '... Показать' : 'Скрыть' }}</span>
  </span> <span v-else v-html="context"/>
</template>

<script>
export default {
  name: "DetailTableSpoiler",
  props: ['context'],
  methods: {
    toggle() {
      this.isHide = !this.isHide
    }
  },
  data() {
    return {
      isHide: true
    }
  },
  computed: {
    text() {
      return this.isHide ? this.context.toString().substring(8, 288) : this.context.toString().substring(8)
    },
    working() {
      return this.context && this.context.toString().substring(0, 8) === '#spoiler'
    }
  }
}
</script>

<style scoped>
.toggle {
  color: blue;
  text-decoration: underline;
}
span{
  margin: 0;
  padding: 0;
}
</style>
