<template>
  <td :colspan="colspan" >
    <DetailTableSpoiler :context="title"/>
  </td>
  <td v-if="info">
    <DetailTableSpoiler :context="info"/>
  </td>
  <td v-if="graph">
    <DetailTableGraph :data="graph"/>
  </td>
</template>

<script>
import DetailTableSpoiler from "@/components/search/components/DetailTableSpoiler";
import DetailTableGraph from "@/components/search/components/DetailTableGraph";

export default {
  name: "DetailTableRow",
  props: ['title', 'info', 'graph'],
  components:{
    DetailTableSpoiler,
    DetailTableGraph
  },
  computed: {
    colspan(){
      return (this.info == null && this.graph == null) ? 2 : 1
    }
  }
}
</script>

<style scoped>

</style>
