<template>
  <div class="row">
    <div class="col-3">
      <hr>
    </div>
    <div class="col-6 text-center"><label><strong>Расширенный поиск {{ title }}:</strong></label></div>
    <div class="col-3">
      <hr>
    </div>
  </div>
  <slot/>
</template>

<script>
export default {
  name: "ExtendedSearchWindow",
  props: [
      'title'
  ]
}
</script>

<style scoped>

</style>
