<template>
  <div class="col-3 text-center mb-5">
    <a :href="href"
       :data-bs-placement="placement"
       data-bs-toggle="popover"
       data-bs-trigger="hover"
       :data-bs-content="content"
       title="Открытые данные (формат CSV)">
      <img class="icon-ois" :src="img"> </a>
  </div>
</template>

<script>
export default {
  name: "SearchPopover"
}
</script>

<style scoped>

</style>
