<template>
  <div class="card bg-primary m-3 searchtable-style">
    <SearchWindowTitle
        :title="title"
        @click-title="toggleVisibleBody"
    />
    <div class="card-body bg-light" v-if="visibleBody">
      <SearchWindowBody v-if="allSearch"
                        :title="title"
                        :alt-button="altButton"
      >
        <input type="text" name="allSearchQuery" v-model="allSearchQuery" class="form-control">
      </SearchWindowBody>
      <ExtendedSearchWindow v-if="extendedTitle"
                            :title="extendedTitle"
      />
      <slot></slot>
      <SearchWindowFooter v-if="showButtons"
                          :searchButton="searchButton"
                          @search="search"
                          @clean="clean"
      />
      <div v-else>
        <div class="row">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <slot name="buttons"></slot>
        </div>
      </div>
    </div>
  </div>
  <SearchHelper v-if="searchHelper"/>
</template>

<script>
import SearchWindowTitle from "@/components/search/components/SearchWindowTitle";
import SearchWindowBody from "@/components/search/components/AllSearchWindow";
import SearchWindowFooter from "@/components/search/components/SearchWindowFooter";
import {Popover} from "bootstrap";
import SearchHelper from "@/components/search/components/SearchHelper";
import ExtendedSearchWindow from "@/components/search/components/ExtendedSearchWindow";

export default {
  props: {
    title: String,
    allSearch: String,
    searchHelper: Boolean,
    extendedTitle: String,
    altButton: String,
    hide: {
      default: false
    },
    searchButton: {
      default: true
    },
    showButtons: {
      default: true
    },
  },
  emits: [
    'search',
    'clean'
  ],
  data() {
    return {
      visibleBody: !this.$props.hide,
      allSearchQuery: null
    }
  },
  name: "SearchWindowAndAllSearch",
  components: {
    ExtendedSearchWindow,
    SearchWindowTitle,
    SearchWindowBody,
    SearchWindowFooter,
    SearchHelper
  },
  mounted() {
    Array.from(document.querySelectorAll('[data-bs-toggle="popover"]'))
        .forEach(popoverNode => new Popover(popoverNode, {}))
  },
  methods: {
    search() {
      if (this.allSearch) {
        this.$emit('search', this.allSearchQuery)
      } else {
        this.$emit('search')
      }
    },
    toggleVisibleBody() {
      this.visibleBody = !this.visibleBody
    },
    hideBody() {
      this.visibleBody = false
    },
    showBody() {
      this.visibleBody = true
    },
    clean() {
      this.allSearchQuery = null
      this.$emit('clean')
    }
  }
}
</script>

<style scoped>

</style>
