<template>
  <div id="helper" class="container-fluid">
    <div class="container jumbotron p-2 m-2" style="padding:20px">
      <ul class="text-left main-li">
        <li>
          <BaseIcon name="rightArrow"/>
          <strong>&nbsp;
            <router-link :to="{name: 'global-search'}">«Глобальный поиск»</router-link>
                  - одновременный поиск по всем базам данных, входящим в
            <router-link :to="{name: 'landing'}"
                         data-bs-placement="top"
                         data-bs-toggle="popover"
                         data-bs-trigger="hover"
                         data-bs-content="Единая поисковая система научно-технического обеспечения дорожного хозяйства"
                         title="ЕПС НТО">ЕПС НТО,
            </router-link>
                  с соответствующей идентификацией в результирующем окне тех ОИС, где нашлась информация по
                  запросу;</strong>
          <ul>
            <span>Искать можно:</span>
            <li v-for="(item, index) in searchHelperItem" :key="index">
              <strong>{{ item.title }}</strong> - {{ item.body }};
            </li>
          </ul>
          <!-- </span>
              <span class='spoiler-title closed'>&nbsp;подробнее...</span> -->
        </li>
        <li class="main-li"><strong>
          <BaseIcon name="rightArrow"/>
          «Расширенный поиск» - поиск по выбранным группам ОИС, состоит из:</strong>
          <ol>
            <li>
              <router-link :to="{name:'nioktr-search'}">НИОКТР</router-link>
              : ОИС «ОФАП», ОИС «Архив НТР», ОИС «Оперативный учет НТР», ОИС «Учет РНТД», ОИС «Конкурс НТР» - поиск
              информации по научно-техническим, опытно-конструкторским и технологическим работам;
              <!-- <br>
                  <span class='spoiler-body'> -->
              <ul>
                <li>Искать можно:<br><strong>по завершенным контрактам</strong> - наименование, номер и дата заключения
                    контракта, год завершения, разработчик, номер в отраслевом Архиве НТР;
                </li>
              </ul>
            </li>
            <li>ЭБ (
              <router-link :to="{name:'eb-ntd-search'}">НТД</router-link>
                /
              <router-link :to="{name:'eb-patents-search'}">Патенты</router-link>
                ) - поиск информации по документам, содержащимся в Библиотеке научно-технических документов и Отраслевом
                фонде технических регламентов и стандартов / по патентам на изобретения в области дорожного хозяйства;
              <ul>
                <li>Искать можно в ЭБ НТД:<br><strong>по изданным научно-техническим документам</strong> - наименование,
                    номер документа, тип документа, организация-разработчик, год издания, цифровой код
                    разделов/подразделов отраслевого Классификатора ЭБ НТД;
                </li>
                <li>Искать можно в ЭБ Патенты:<br><strong>по изобретениям</strong> - наименование, номер патента, дата
                    публикации, цифровой код разделов/подразделов МПК.
                </li>
              </ul>
            </li>
            <li>
              <router-link :to="{name:'ats-dh-search'}">АТС ДХ</router-link>
              - поиск информации по организациям, задействованным в дорожном хозяйстве.
              <ul>
                <li>Искать можно:<br><strong>по организациям дорожного хозяйства</strong> - административная единица,
                    группа организаций, сокращенное/полное наименование организации, вид деятельности, почтовый адрес,
                    сайт, электронная почта организации, телефон организации/контактного лица, Ф.И.О. контактного лица.
                </li>
              </ul>
            </li>
          </ol>
        </li>
      </ul>
      <hr class="my-4">
      <p class="text-center"><strong>Правила пользования
        <router-link :to="{name: 'landing'}"
                     target="_blank"
                     data-bs-placement="top"
                     data-bs-toggle="popover"
                     data-bs-trigger="hover"
                     data-bs-content="Единая поисковая система научно-технического обеспечения дорожного хозяйства">ЕПС
                                                                                                                    НТО
        </router-link>
      </strong>:
      </p>
      <div class="row justify-content-center">
        <div class="col-8">
          <ul>
            <li class="rule">
              <a href="/docs/info/instruction.pdf"
                 target="_blank"
                 data-bs-placement="top"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover"
                 data-bs-content="Открыть/скачать файл в формате PDF">Инструкция пользователя</a></li>
            <li class="rule">
              <a href="/docs/info/podrazdel.pdf"
                 target="_blank"
                 data-bs-placement="top"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover"
                 data-bs-content="Открыть/скачать файл в формате PDF">Разделы и подразделы Международной патентной
                                                                      классификации (МПК)</a></li>
            <li class="rule">
              <a href="/docs/info/class_ntd.pdf"
                 target="_blank"
                 data-bs-placement="top"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover"
                 data-bs-content="Открыть/скачать файл в формате PDF">Классификатор НТД</a></li>
            <li class="rule">
              <a href="/docs/info/class_ebntd.pdf" target="_blank" data-bs-placement="top" data-bs-toggle="popover"
                 data-bs-trigger="hover" data-bs-content="Открыть/скачать файл в формате PDF">Тематика ЭБ НТД</a></li>
            <li class="rule">
              <a href="#" @click.prevent="viewModal('critical')">Критические технологии</a></li>
            <li class="rule"><a href="#"
                                @click.prevent="viewModal('priority')">Приоритетные направления</a></li>
            <li class="rule">
              <a href="#" @click.prevent="viewModal('glossary')">Глоссарий</a></li>
            <li class="rule"><BaseIcon name="phone"/>&nbsp;
              <a href="tel:+74957479251"
                 target="_blank"
                 data-bs-placement="bottom"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover"
                 title="Техническая поддержка"
                 data-bs-content="Телефон технической поддержки: +7&nbsp;(495)&nbsp;747-92-51">+7&nbsp;(495)&nbsp;747-92-51</a>
            </li>
            <li class="rule">
              <BaseIcon name="mail"/>&nbsp;
              <a href="mailto:sif@infad.ru" target="_blank"
                 data-bs-placement="bottom"
                 data-bs-toggle="popover"
                 data-bs-trigger="hover"
                 title="Служба поддержки «ЭБ НТД»"
                 data-bs-content="Служба поддержки «ЭБ НТД»: sif@infad.ru">Служба поддержки «ЭБ НТД»: sif@infad.ru</a>
            </li>
          </ul>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <DetailModal ref="detailModal" :title="modalTitle[modalBody]">
    <template v-slot:body>
      <GlossaryHelper v-if="modalBody==='glossary'"/>
      <ol v-if="modalBody==='priority'">
        <li v-for="item in priorityHelperItems" :key="item">{{ item }}</li>
      </ol>
      <ol v-if="modalBody==='critical'">
        <li v-for="item in criticalHelperItem" :key="item">{{ item }}</li>
      </ol>
    </template>
  </DetailModal>
</template>

<script>
import BaseIcon from "@/components/BaseIcon";
import DetailModal from "@/components/DetailModal";
import GlossaryHelper from "@/components/helper/GlossaryHelper";

export default {
  name: "SearchHelper",
  components: {
    GlossaryHelper,
    BaseIcon,
    DetailModal
  },
  data() {
    return {
      modalBody: null,
      modalTitle: {
        'glossary': 'Глоссарий',
        'priority': 'Приоритетные направления',
        'critical': 'Критические технологии'
      },
      searchHelperItem: [
        {
          title: 'по завершенным контрактам',
          body: 'наименование, номер и дата заключения контракта, наименование результата интеллектуальной деятельности (РИД)'
        },
        {
          title: 'по изданным научно-техническим документам',
          body: 'наименование, номер документа'
        },
        {
          title: 'по изобретениям',
          body: 'наименование, номер изобретения'
        },
        {
          title: 'по организациям дорожного хозяйства',
          body: 'административная единица, группа организаций, сокращенное/полное наименование организации, вид деятельности, почтовый адрес, сайт, электронная почта организации, телефон организации/контактного лица, Ф.И.О. контактного лица'
        }
      ],
      priorityHelperItems: [
        'Безопасность и противодействие терроризму;',
        'Индустрия наносистем;',
        'Информационно-телекоммуникационные системы;',
        'Науки о жизни;',
        'Перспективные виды вооружения, военной и специальной техники;',
        'Рациональное природопользование;',
        'Транспортные и космические системы;',
        'Энергоэффективность, энергосбережение, ядерная энергетика.'
      ],
      criticalHelperItem: [
        'Базовые и критические военные и промышленные технологии для создания перспективных видов вооружения, военной и специальной техники;',
        'Базовые технологии силовой электротехники;',
        'Биокаталитические, биосинтетические и биосенсорные технологии;',
        'Биомедицинские и ветеринарные технологии;',
        'Геномные, протеомные и постгеномные технологии;',
        'Клеточные технологии;',
        'Компьютерное моделирование наноматериалов, наноустройств и нанотехнологий;',
        'Нано-, био-, информационные, когнитивные технологии;',
        'Технологии атомной энергетики, ядерного топливного цикла, безопасного обращения с радиоактивными отходами и отработавшим ядерным топливом;',
        'Технологии биоинженерии;',
        'Технологии диагностики наноматериалов и наноустройств;',
        'Технологии доступа к широкополосным мультимедийным услугам;',
        'Технологии информационных, управляющих, навигационных систем;',
        'Технологии наноустройств и микросистемной техники;',
        'Технологии новых и возобновляемых источников энергии, включая водородную энергетику;',
        'Технологии получения и обработки конструкционных наноматериалов;',
        'Технологии получения и обработки функциональных наноматериалов;',
        'Технологии и программное обеспечение распределенных и высокопроизводительных вычислительных систем;',
        'Технологии мониторинга и прогнозирования состояния окружающей среды, предотвращения и ликвидации ее загрязнения;',
        'Технологии поиска, разведки, разработки месторождений полезных ископаемых и их добычи;',
        'Технологии предупреждения и ликвидации чрезвычайных ситуаций природного и техногенного характера;',
        'Технологии снижения потерь от социально значимых заболеваний;',
        'Технологии создания высокоскоростных транспортных средств и интеллектуальных систем управления новыми видами транспорта;',
        'Технологии создания ракетно-космической и транспортной техники нового поколения;',
        'Технологии создания электронной компонентной базы и энергоэффективных световых устройств;',
        'Технологии создания энергосберегающих систем транспортировки, распределения и использования энергии;',
        'Технологии энергоэффективного производства и преобразования энергии на органическом топливе.',
      ]
    }
  },
  methods: {
    viewModal(id) {
      this.modalBody = id
      this.$refs.detailModal.openModal()
    }
  }
}
</script>

<style scoped>
.main-li {
  list-style-type: none;
}

.rule {
  list-style-type: none; /* Убираем маркеры у списка */
}

.rule:before {
  content: "—"; /* Добавляем в качестве маркера символ */
  padding-right: 5px;
}
</style>
