<template>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div :class="[searchButton ? 'col-10' :  'col-11']"></div>
      <div class="col-1">
        <button class="btn btn-danger btn-md float-right" @click.prevent="$emit('clean')">Очистить</button>
      </div>
      <div class="col-1" v-if="searchButton">
        <button class="btn btn-primary btn-md float-right" @click.prevent="$emit('search')">Поиск</button>
      </div>
    </div>
</template>

<script>
export default {
  name: "SearchWindowFooter",
  props: [
      'searchButton'
  ],
  emits: [
      'search',
      'clean'
  ]
}
</script>

<style scoped>

</style>
