<template>
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-primary" type="button" @click="$emit('clickTitle')">{{ title.toUpperCase() }}
      </button>
    </h5>
  </div>
</template>

<script>
export default {
  name: "SearchWindowTitle",
  props: ['title'],
  emits: ['clickTitle']
}
</script>

<style scoped>

</style>
