<template>
  <div class="card bg-light" v-for="(item,index) in blocks" :key="index">
    <div class="card-header text-center fw-bold" style="cursor: pointer" @click="changeBlock(index)">
      {{ item.title }}
    </div>

    <div class="card-body" v-show="index === viewBlock">
      <table class="table table-striped table-bordered table-hover table-lg">
        <tbody>
        <tr v-for="(tr, indexTr) in item.info" :key="indexTr">
          <td colspan="2" v-if="tr.value === null" :class="[tr.center ? 'text-center':'']">{{ tr.title }}</td>
          <td v-else>{{ tr.title }}</td>
          <td v-if="tr.value !== null" v-html="tr.value"/>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
export default {
  name: "TheBlocksDetail",
  props: [
    'blocks'
  ],
  data() {
    return {
      viewBlock: 0
    }
  },
  methods: {
    changeBlock(id) {
      this.viewBlock = this.viewBlock === id ? -1 : id
    }
  }
}
</script>

<style scoped>
.card-body {
  background-color: white;
}

.card-header:hover {
  text-decoration: underline;
  background-color: #ccc;
}

.slide-fade-enter-active {
  transition: all 0.05s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.04s ease-in;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(5px);
  opacity: 0;
}
</style>
