<template>
  <div class="container">
    <ul id="list-tab" class="nav nav-tabs nav-fill" role="tablist">
      <nav-item-innovation
          v-for="year in [2016,2017,2018,2019,2020,2021,2022]"
          :key="year"
          :year="year"
          :is-selected="year===this.year"
          @change-tab="changeTab"
      >
      </nav-item-innovation>
    </ul>
    <div class="tab-content mt-3" id="nav-tabContent">
      <transition name="fade">
        <view-innovation v-if="showView"
                         :year="year"
                         :urls="urls[year]"
        ></view-innovation>
      </transition>
    </div>
  </div>
</template>

<script>
import NavItemInnovation from "@/components/innovation/NavItemInnovation";
import ViewInnovation from "@/components/innovation/ViewInnovation";

export default {
  params: {
    year: Number,
    showView: Boolean
  },
  components: {
    NavItemInnovation,
    ViewInnovation
  },
  methods: {
    changeTab(year) {
      this.showView = false
      this.year = year
      setTimeout(
          () => {
            this.showView = true
          }, 500
      );
    }
  },
  mounted() {
    this.year = 2022
    this.showView = true
  },
  data() {
    return {
      showView: this.showView,
      year: this.year,
      urls: {
        2016: [
          'https://89.175.3.107/docs/sif/2016/1_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/2_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/3_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/4_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/5_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/6_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/7_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/8_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/9_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/10_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/11_2016.pdf',
          'https://89.175.3.107/docs/sif/2016/12_2016.pdf'
        ],
        2017: [
          'https://89.175.3.107/docs/sif/2017/1_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/2_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/3_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/4_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/5_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/6_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/7_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/8_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/9_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/10_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/11_2017.pdf',
          'https://89.175.3.107/docs/sif/2017/12_2017.pdf'
        ],
        2018: [
          'https://89.175.3.107/docs/sif/2018/1_2018.pdf',
          'https://89.175.3.107/docs/sif/2018/2_2018.pdf',
          'https://89.175.3.107/docs/sif/2018/3_2018.pdf',
          'https://89.175.3.107/docs/sif/2018/4_2018.pdf',
          'https://89.175.3.107/docs/sif/2018/5_2018.pdf'
        ],
        2019: [
          'https://89.175.3.107/docs/sif/2019/1_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/2_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/3_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/4_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/5_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/6_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/7_2019.pdf',
          'https://89.175.3.107/docs/sif/2019/8_2019.pdf'
        ],
        2020: [
          'https://89.175.3.107/docs/sif/2020/1_2020.pdf'
        ],
        2021: [
          'https://89.175.3.107/docs/sif/2020/1_2020.pdf',
          'https://89.175.3.107/docs/sif/2020/2_2020.pdf',
          'https://89.175.3.107/docs/sif/2020/3_2020.pdf',
          'https://89.175.3.107/docs/sif/2020/4_2020.pdf'
        ],
        2022: [
          'https://89.175.3.107/docs/sif/2022/1_2022.pdf'
        ]
      }
    }
  },
  name: "HeaderView"
}
</script>

<style scoped>

</style>
