<template>
  <div class="card">
    <div class="card-header" :id="`headingNews${fullId}`">
      <button class="btn btn-link"
              type="button"
              data-bs-toggle="collapse"
              :data-bs-target="`#collapseNews${fullId}`"
              aria-expanded="true"
              :aria-controls="`collapseNews${fullId}`">
        Информационный листок №{{ id }}
      </button>
    </div>

    <div :id="`collapseNews${fullId}`"
         :class="['collapse', isShow ? 'show': 'hide']"
         :aria-labelledby="`headingNews${fullId}`"
         :data-bs-parent="`#accordionNews${year}`">
      <div class="card-body">
        <div class="row">
          <iframe
              style="width:1100px;
              height:355px;"
              frameborder="0"
              :src="`https://docs.google.com/gview?url=${url}&amp;embedded=true`"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  params: {
    year: Number,
    id: Number,
    url: String,
    isShow: Boolean
  },
  props: {
    year: Number,
    id: Number,
    url: String,
    isShow: Boolean
  },
  data() {
    return {
      fullId: this.year + '_' + this.id
    }
  },
  name: "CardViewInnovation"
}
</script>

<style scoped>

</style>
