<template>
  <div class="container mb-3">
    <div class="col-12 text-center mt-5 mb-5">
      <span class="sif-header"><strong>В отраслевой справочно-информационный фонд (СИФ) поступила следующая литература:</strong></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderInnovation"
}
</script>

<style scoped>

</style>
