<template>
  <li class="nav-item" role="presentation">
    <a
        :class="['nav-link', isSelected ? 'active':'']"
        :href="this.year"
        @click.prevent="this.$emit('change-tab', this.year)"
        :aria-selected="isSelected">{{ title }} </a>
  </li>
</template>

<script>
export default {
  emits: [
    'change-tab'
  ],
  props: {
    year: Number,
    isSelected: Boolean
  },
  data() {
    return {
      title: `${this.year} ГОД`
    }
  },
  name: "NavItemInnovation"
}
</script>

<style scoped>

</style>
