<template>
  <div role="tabpanel" :id="`news_${year}`" class="tab-pane fade active show">
    <div class="container">
      <div class="accordion" :id="`accordionNews${year}`">
        <card-view-innovation
            v-for="(url, index) in urls"
            :key="index"
            :isShow="index===0"
            :year="year"
            :id="index+1"
            :url="url"
        ></card-view-innovation>
      </div>
    </div>
  </div>
</template>

<script>
import CardViewInnovation from "@/components/innovation/CardViewInnovation";

export default {
  components: {CardViewInnovation},
  props: {
    year: Number,
    urls: Array
  },
  param: {
    year: String
  },
  name: "ViewInnovation"
}
</script>

<style scoped>

</style>
