<template>
  <div class="container">
    <SearchWindow
        title="СПРАВКА ПО МОНИТОРИНГУ ПРОЕКТОВ НТД"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-2"><label><strong>Проект НТД:</strong></label></div>
        <div class="col-5">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Вид</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option></option>
            <option>ГОСТ</option>
            <option>ПНСТ</option>
            <option>ОДМ</option>
            <option>Другие</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Событие</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="eventProject" id="eventProject" name="eventProject" class="form-select">
            <option></option>
            <option>ТК</option>
            <option>Росстандарт</option>
            <option>На утверждении</option>
            <option>На рассмотрении</option>
          </select>
        </div>
        <div class="col-1 mt-0"><label>Наимено-вание</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="projectName" id="projectName" type="search" name="projectName" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Год формирования Плана</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="year" id="year" name="year" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Номер</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Состояние</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="condition" id="condition" name="condition" class="form-select">
            <option></option>
            <option>Выполняется</option>
            <option>Завершен</option>
            <option>Расторгнут</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Наименование</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="title" id="title" type="search" name="title" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Заказчик</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="customer" id="customer" name="customer" class="form-select">
            <option :value="null">Все заказчики</option>
            <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateStartFrom" id="dateStartFrom" type="date" name="dateStartFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateStartTo" id="dateStartTo" type="date" name="dateStartTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishFrom" id="dateFinishFrom" type="date" name="dateFinishFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishTo" id="dateFinishTo" type="date" name="dateFinishTo" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :aggregate="aggregate"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

export default {
  name: "TheProjectSearch",
  components: {
    SearchWindow,
    TableView,
    DetailTable,
    DetailModal
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      customers: list.customers,
      budgetItem: null,
      eventProject: null,
      projectName: null,
      year: null,
      number: null,
      condition: null,
      title: null,
      executor: null,
      customer: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      rows: null,
      aggregate: null,
      blocks: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Наименование темы',
          field: 'title'
        },
        {
          title: 'Год плана',
          field: 'year'
        },
        {
          title: 'Номер контракта',
          field: 'number'
        },
        {
          title: 'Дата заключения контракта',
          field: 'date'
        },
        {
          title: 'Исполнитель',
          field: 'executor'
        },
        {
          title: 'Стоимость',
          field: 'price'
        },
        {
          title: 'Состояние',
          field: 'stage'
        },
        {
          title: 'Реализация',
          field: 'realization'
        }
      ]
    }
  },
  methods: {
    search() {
      const data = {
        budgetItem: this.budgetItem,
        eventProject: this.eventProject,
        projectName: this.projectName,
        year: this.year,
        number: this.number,
        condition: this.condition,
        title: this.title,
        executor: this.executor,
        customer: this.customer,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo
      }
      privateApi
          .post('/api/private-search/information/project', data)
          .then(res => {
                let rawRows = res.data.rows
                this.aggregate = res.data.aggregate
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        title: rawRows[i].title,
                        year: rawRows[i].year,
                        number: rawRows[i].number,
                        date: rawRows[i].date,
                        executor: rawRows[i].executor,
                        price: rawRows[i].price,
                        stage: rawRows[i].stage,
                        realization: rawRows[i].realization,
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      // this.$emit('loader', true)
      privateApi
          .get('/api/private-search/information/project/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.budgetItem = null
      this.eventProject = null
      this.projectName = null
      this.year = null
      this.number = null
      this.condition = null
      this.title = null
      this.executor = null
      this.customer = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
    }
  }
}
</script>

<style scoped>

</style>
