<template>
  <div class="container">
    <SearchWindow
        title="ТИПОВЫЕ ФОРМЫ"
        :searchButton="false"
        @clean="clean"
    >
      <div class="row">
        <div class="col-3 mt-1"><label>Год формирования Плана с:</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="yearFrom" id="yearFrom" name="yearFrom" class="form-select">
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>по:</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="yearTo" id="yearTo" name="yearTo" class="form-select">
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="form-group gy-2 col-3" v-for="(item,index) in forms" :key="index">
          <input type="button" class="btn btn-primary btn-md float-left" :value="item.title"
                 @click.prevent="search(item.type)">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :aggregate="aggregate"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import DetailModal from "@/components/DetailModal.vue";
import TableView from "@/components/table/TableView.vue";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail.vue";

export default {
  name: "TheFormSearch",
  components: {
    TheBlocksDetail,
    TableView, DetailModal,
    SearchWindow
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      yearFrom: new Date().getFullYear(),
      yearTo: new Date().getFullYear(),
      rows: null,
      aggregate: null,
      columns: null,
      forms: [
        {
          type: 'form5-io',
          title: 'Форма 5 ИО'
        },
        {
          type: 'form5-is',
          title: 'Форма 5 ИС'
        },
        {
          type: 'form-executor',
          title: 'Форма по Исполнителям'
        },
        {
          type: 'report-ed-176',
          title: 'Отчёт ЕД-176'
        },
        {
          type: 'form-gk',
          title: 'Форма по ГК'
        },
      ]
    }
  },
  methods: {
    search(searchType) {
      if (searchType === 'form5-io' || searchType === 'form5-is') {
        this.columns = [
          {
            title: '№',
            field: 'index'
          },
          {
            title: 'Наименование мероприятия*, реквизиты госконтракта, исполнитель (для субсидии - предмет и реквизиты соглашения, получатель)',
            field: 'title'
          },
          {
            title: 'Код вида расходов',
            field: 'code'
          },
          {
            title: 'Вид работ, услуг**',
            field: 'type'
          },
          {
            title: 'Период выполнения работ',
            field: 'period'
          },
          {
            title: 'Дата размещения заказа для государственных нужд',
            field: 'date'
          },
          {
            title: 'Всего за период реализации мероприятия по источникам',
            field: 'all_pay'
          },
          {
            title: 'Предусмотрено на ' + this.yearFrom + ' год по источникам',
            field: 'plan_pay'
          },
          {
            title: 'Фактические расходы за ' + this.yearFrom + ' год по источникам',
            field: 'fact_pay'
          },
          {
            title: 'Результат выполненных работ (услуг, поставок) за отчетный период',
            field: 'status'
          }
        ]
      }
      if (searchType === 'form-executor') {
        this.columns = [
          {
            title: '№',
            field: 'index'
          },
          {
            title: 'Исполнитель',
            field: 'org'
          },
          {
            title: 'Количество заключенных контрактов, в том числе в стадии подписания',
            field: 'count'
          },
          {
            title: 'Бюджетные обязательства тыс. руб (всего по годам)',
            field: 'all'
          },
          {
            title: this.yearFrom,
            field: 'now'
          },
          {
            title: this.yearFrom + 1,
            field: 'first'
          },
          {
            title: this.yearFrom + 2,
            field: 'second'
          },
          {
            title: 'Удельный показатель (общая стоимость контрактов/общее количество контрактов), тыс. рублей',
            field: 'coef'
          }
        ]
      }
      if (searchType === 'report-ed-176') {
        this.columns = [
          {
            title: '№',
            field: 'index'
          },
          {
            title: 'Наименование темы',
            field: 'title'
          },
          {
            title: 'Номер и дата контракта',
            field: 'contract'
          },
          {
            title: 'Исполнитель',
            field: 'design'
          },
          {
            title: 'Функциональный заказчик',
            field: 'consumer'
          },
          {
            title: 'Заинтересованное структурное подразделение',
            field: 'office'
          },
          {
            title: 'Сроки выполнения работ начало',
            field: 'date_start'
          },
          {
            title: 'Сроки выполнения работ окончание',
            field: 'date_finish'
          },
          {
            title: 'Стоимость работы',
            field: 'price'
          },
          {
            title: 'В ' + this.yearTo,
            field: 'price_this_year'
          },
          {
            title: 'В ' + (this.yearTo + 1),
            field: 'price_this_year_plus1'
          },
          {
            title: 'В ' + (this.yearTo + 2),
            field: 'price_this_year_plus2'
          },
          {
            title: 'Примечание',
            field: 'description'
          }
        ]
      }
      if (searchType === 'form-gk') {
        this.columns = [
          {
            title: '№',
            field: 'index'
          },
          {
            title: 'Год плана',
            field: 'year'
          },
          {
            title: 'Наименование ГК',
            field: 'title'
          },
          {
            title: 'Исполнитель',
            field: 'design'
          },
          {
            title: 'Номер ГК',
            field: 'number'
          },
          {
            title: 'Дата заключения ГК',
            field: 'date_start'
          },
          {
            title: 'Дата завершения ГК',
            field: 'date_finish'
          },
          {
            title: 'Стоимость всего',
            field: 'price'
          },
          {
            title: 'Реализация',
            field: 'realization'
          },
          {
            title: 'Документ',
            field: 'documents'
          }
        ]
      }
      if (searchType !== 'form-gk') {
        this.yearTo = this.yearFrom
      }
      const data = {
        type: searchType,
        yearTo: this.yearTo,
        yearFrom: this.yearFrom
      }
      privateApi
          .post('/api/private-search/information/form', data)
          .then(res => {
            this.aggregate = res.data.aggregate
            this.rows = res.data.rows
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      alert('clean')
    }
  }
}
</script>

<style scoped>

</style>
