<template>
  <div class="container">
    <SearchWindow
        title="Поиск в энциклопедии терминов и определений"
        all-search=true
        :alt-button="altButton"
        @search="search"
        @clean="clean"
        ref="searchWindow"
        :search-helper="rows == null"
    >
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-3"><label><strong>Расширенный поиск:</strong></label></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-1"><label>Вид документа</label></div>
        <div class="form-group col-3 gy-2">
          <select class="form-select" v-model="ntdType">
            <option :value="null">Все виды</option>
            <option value="Нет">Нет</option>
            <option value="ГОСТ">ГОСТ</option>
            <option value="ГОСТ Р">ГОСТ Р</option>
            <option value="ОДМ">ОДМ</option>
            <option value="ПНСТ">ПНСТ</option>
            <option value="ФЗ">ФЗ</option>
            <option value="СП">СП</option>
            <option value="ТР ТС">ТР ТС</option>
            <option value="ПП РФ">ПП РФ</option>
            <option value="РП РФ">РП РФ</option>
            <option value="Договор">Договор</option>
            <option value="СТО">СТО</option>
            <option value="СНиП">СНиП</option>
            <option value="Справочник">Справочник</option>
          </select></div>
        <div class="col-1 mt-0"><label>Номер документа</label></div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="ntdNumber"></div>
        <div class="col-2 mt-1"><label>Год издания</label></div>
        <div class="form-group col-2 gy-2">
          <select class="form-select" v-model="year">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-2 mt-0">
          <label>Наименование документа</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="title"></div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="detail"
      @excel="excel"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'" size="xl">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView.vue";
import DetailModal from "@/components/DetailModal.vue";
import DetailTable from "@/components/search/components/DetailTable.vue";

export default {
  name: "TheDocsTerms",
  components: {
    DetailTable, DetailModal,
    TableView,
    SearchWindow
  },
  data() {
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению ' +
          'введенной фразы и информации в энциклопедии терминов и определений',
      listYear: list.currentListYear.reverse(),
      ntdType: null,
      ntdNumber: null,
      year: null,
      title: null,
      rows: null,
      detailTr: null,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Вид НТД',
          field: 'ntd_type'
        },
        {
          title: 'Номер НТД',
          field: 'ntd_number'
        },
        {
          title: 'Наименование НТД',
          field: 'title'
        },
        {
          title: 'Год НТД',
          field: 'year'
        },
        {
          title: 'Примечание',
          field: 'description'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      let request = {
        allSearchQuery,
        ntdType: this.ntdType,
        ntdNumber: this.ntdNumber,
        year: this.year,
        title: this.title
      }
      this.$emit('loader', true)
      privateApi.post('/api/private-search/term-docs', request)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    ntd_type: rawRows[i].ntd_type,
                    ntd_number: rawRows[i].ntd_number,
                    title: rawRows[i].title,
                    year: rawRows[i].year,
                    description: rawRows[i].description
                  })
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    clean() {
      this.ntdType = null
      this.ntdNumber = null
      this.year = null
      this.title = null
    },
    detail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/term-docs/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
