<template>
  <div class="container">
    <SearchWindow
        title="ЭНЦИКЛОПЕДИЯ ТЕРМИНОВ"
        @search="search"
        @clean="clean"
        ref="searchWindow"
        :search-helper="rows == null"
    >
      <div class="row">
        <div class="col-5 mt-1"><label>Вывод терминов по всем документам или по основным</label></div>
        <div class="form-group col-7 gy-2">
          <select class="form-select" v-model="type">
            <option value="1">Вывод терминов по всем документам</option>
            <option value="2">Вывод терминов по основным документам</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-5"><label><strong>Общий поиск по терминам и определениям, документам:</strong></label></div>
        <div class="col-3">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text bg-primary text-light" id="basic-addonterms">
              <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom"
                 data-bs-content="Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы и информации в энциклопедии терминов и определений"
                 aria-label="Поиск в энциклопедии терминов и определений">
                <BaseIcon name="search" width="18" height="18"/>
              </a>
            </span>
            </div>
            <input type="search" class="form-control" v-model="query"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-3"><label><strong>Поиск терминов по алфавиту:</strong></label></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div v-for="(letter,index) in alphabets" :key="index" :class="['col-1', index > 11 ? 'gy-1':'']">
          <span type="button" class="btn btn-primary btn-md float-start" v-text="letter" @click="buttonSearch(letter)"/>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-3"><label><strong>Расширенный поиск:</strong></label></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Термин</label></div>
        <div class="form-group col-9 gy-2">
          <input type="search" class="form-control" v-model="term">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Определение термина</label></div>
        <div class="form-group col-9 gy-2">
          <input type="search" class="form-control" v-model="definition">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-1"><label>Вид документа</label></div>
        <div class="form-group col-3 gy-2">
          <select class="form-select" v-model="typeDoc">
            <option :value="null">Все виды</option>
            <option value="Нет">Нет</option>
            <option value="ГОСТ">ГОСТ</option>
            <option value="ГОСТ Р">ГОСТ Р</option>
            <option value="ОДМ">ОДМ</option>
            <option value="ПНСТ">ПНСТ</option>
            <option value="ФЗ">ФЗ</option>
            <option value="СП">СП</option>
            <option value="ТР ТС">ТР ТС</option>
            <option value="ПП РФ">ПП РФ</option>
            <option value="РП РФ">РП РФ</option>
            <option value="Договор">Договор</option>
            <option value="СТО">СТО</option>
            <option value="СНиП">СНиП</option>
            <option value="Справочник">Справочник</option>
          </select>
        </div>
        <div class="col-1 mt-0">
          <label>Номер документа</label></div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="numberDoc">
        </div>
        <div class="col-2 mt-1"><label>Год издания</label></div>
        <div class="form-group col-2 gy-2">
          <select class="form-select" v-model="year">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Наименование документа</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="title">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mt-0">
          <label>Классификатор межгосударственных стандартов, документов национальной системы стандартизации и
                 отраслевых дорожных методических документов</label>
        </div>
        <div class="form-group col-7 gy-2">
          <select v-model="qualifier" id="qualifier" name="qualifier" class="form-select">
            <option :value="null">Все разделы Классификатора</option>
            <option v-for="item in qualifiers" :key="item.id" :value="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="detail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'" size="xl">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>
<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import BaseIcon from "@/components/BaseIcon";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView.vue";
import DetailModal from "@/components/DetailModal.vue";
import DetailTable from "@/components/search/components/DetailTable.vue";

function priorityName(priority) {
  switch (priority) {
    case 1:
      return "Альтернативный термин"
    case 2:
      return "Основной термин"
    default:
      return "Не указан"
  }
}

function qualifierString(qualifier) {
  let str = "";
  if (qualifier) {
    for (let i = 0; i < qualifier.length; i++) {
      str += qualifier[i].number + " " + qualifier[i].name + "<br/>";
    }
  }
  return str;
}

export default {
  name: "TheTerms",
  components: {
    DetailTable,
    DetailModal,
    TableView,
    SearchWindow,
    BaseIcon
  },
  data() {
    let alphabets = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П',
      'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я'];
    const topics = list.topics;
    const qualifiers = topics.filter(item => item.type === 2).map(item => {
      return {
        id: item.code,
        name: item.code + ' ' + item.name
      }
    });
    return {
      listYear: list.currentListYear.reverse(),
      qualifiers: qualifiers,
      alphabets: alphabets,
      type: 1,
      query: null,
      term: null,
      definition: null,
      typeDoc: null,
      numberDoc: null,
      year: null,
      letter: null,
      title: null,
      qualifier: null,
      rows: null,
      detailTr: null,
      columns: [
        {
          title: '#',
          field: 'index'
        },
        {
          title: 'Термин',
          field: 'terms'
        },
        {
          title: 'Определение',
          field: 'definition'
        },
        {
          title: 'Вид НТД',
          field: 'type'
        },
        {
          title: 'Номер НТД',
          field: 'number'
        },
        {
          title: 'Наименование НТД',
          field: 'title'
        },
        {
          title: 'Год НТД',
          field: 'year'
        },
        {
          title: 'Приоритет определения',
          field: 'priority'
        },
        {
          title: 'Классификация',
          field: 'qualifiers'
        },
        {
          title: 'Примечание',
          field: 'description'
        }
      ]
    }
  },
  methods: {
    buttonSearch(letter) {
      this.letter = letter
      this.search()
    },
    search() {
      let request = {
        type: this.type,
        query: this.query,
        term: this.term,
        definition: this.definition,
        typeDoc: this.typeDoc,
        numberDoc: this.numberDoc,
        year: this.year,
        letter: this.letter,
        title: this.title,
        qualifier: this.qualifier
      }
      this.$emit('loader', true)
      privateApi.post('/api/private-search/term', request)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    terms: rawRows[i].terms,
                    definition: rawRows[i].definition,
                    type: rawRows[i].type,
                    number: rawRows[i].number,
                    title: rawRows[i].title,
                    year: rawRows[i].year,
                    priority: priorityName(rawRows[i].priority),
                    qualifiers: qualifierString(rawRows[i].qualifiers),
                    description: rawRows[i].description,
                    fontBold: rawRows[i].priority == 2 ? true : null
                  })
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    clean() {
      this.type = 1
      this.query = null
      this.term = null
      this.definition = null
      this.typeDoc = null
      this.numberDoc = null
      this.year = null
      this.title = null
      this.qualifier = null
    },
    detail(id) {
      // this.$emit('loader', true)
      privateApi
          .get('/api/private-search/term/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
