<template>
  <div class="container">
    <SearchWindow
        title="поиск по эб патенты"
        extended-title="по ЭБ ПАТЕНТЫ"
        :alt-button="altButton"
        all-search=true
        :search-helper="rows == null"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-2 mt-1"><label>Год публикации</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="yearPublished" id="yearPublished" name="yearPublished" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select></div>
        <div class="col-1 mt-0"><label>Вид патента</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="typePatent" id="typePatent" name="typePatent" class="form-select">
            <option></option>
            <option value="true">Изобретение</option>
            <option value="false">Полезная модель</option>
          </select></div>
        <div class="col-1 mt-0"><label>Номер патента</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="numberPatent" id="numberPatent" type="search" name="numberPatent" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Дата публикации</label></div>
        <div class="form-group col-3 gy-2">
          <input v-model="datePublished" id="datePublished" type="date" name="datePublished" class="form-control">
        </div>
        <div class="col-2 mt-0"><label>Наименование патента</label></div>
        <div class="form-group col-5 gy-2">
          <input v-model="namePatent" id="namePatent" type="search" name="namePatent" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Раздел МПК</label></div>
        <div class="form-group col-10 gy-2">
          <select v-model="mpkChapter" id="mpkChapter" name="mpkChapter" class="form-select">
            <option selected :value="null">Все разделы</option>
            <option v-for="item in mpkChapters" :key="item.id" :value="item.id">{{ item.id }} {{ item.name }}</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Подраздел МПК</label></div>
        <div class="form-group col-10 gy-2">
          <select v-model="mpkSubsection" id="mpkSubsection" name="mpkSubsection" class="form-select">
            <option selected :value="null">Все подразделы</option>
            <option v-for="item in mpkSubsections" :key="item.id" :value="item.id">{{ item.id }} {{ item.name }}
            </option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Разработка ФДА</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="developFDA" id="developFDA" name="developFDA" class="form-select">
            <option></option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
          </select>
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

export default {
  name: "TheEbPatentsSearch",
  emits: [
    'loader'
  ],
  components: {
    TableView,
    SearchWindow,
    DetailModal,
    DetailTable
  },
  data() {
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы ' +
          'и информации в Базе Данных ЭБ ПАТЕНТЫ',
      listYear: list.currentListYear.reverse(),
      mpkChapters: list.mpkChapter,
      mpkSubsections: list.mpkSubsection,
      yearPublished: null,
      typePatent: null,
      numberPatent: null,
      datePublished: null,
      namePatent: null,
      mpkChapter: null,
      mpkSubsection: null,
      developFDA: null,
      detailItems: null,
      rows: null,
      admin: false,
      detailTr: null,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Вид патента',
          field: 'type'
        },
        {
          title: 'Номер патента',
          field: 'number'
        },
        {
          title: 'Наименование патента',
          field: 'title'
        },
        {
          title: 'Дата публикации',
          field: 'date_published'
        },
        {
          title: 'Год публикации',
          field: 'year_published'
        },
        {
          title: 'Раздел',
          field: 'mpk'
        },
        {
          title: 'Подраздел',
          field: 'mpk_sub'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        yearPublished: this.yearPublished,
        typePatent: this.typePatent,
        numberPatent: this.numberPatent,
        datePublished: this.datePublished,
        namePatent: this.namePatent,
        mpkChapter: this.mpkChapter,
        mpkSubsection: this.mpkSubsection,
        developFDA: this.developFDA
      }
      this.axios
          .post('/api/public-search/eb-patents', data)
          .then(res => {
                let rawRows = res.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        type: rawRows[i].type,
                        number: rawRows[i].number,
                        title: rawRows[i].title,
                        date_published: rawRows[i].date_published,
                        year_published: rawRows[i].year_published,
                        mpk: rawRows[i].mpk,
                        mpk_sub: rawRows[i].mpk_sub,
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.yearPublished = null
      this.typePatent = null
      this.numberPatent = null
      this.datePublished = null
      this.namePatent = null
      this.mpkChapter = null
      this.mpkSubsection = null
      this.developFDA = null
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public-search/eb-patents/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
