<template>
  <div role="tabpanel" id="AllNaprOsn" class="tab-pane">
    <div class="container-fluid">
      <div class="container">
        <ul id="list-tab" class="nav nav-tabs nav-fill" role="tablist">
          <tab-item-analytics
              v-for="(nav, index) in navs"
              :key="index"
              :id="index"
              :href="nav.component"
              :title="nav.title"
              :active="index === this.selectTab"
              @change-tab="changeTab"
          ></tab-item-analytics>
        </ul>
      </div>

      <div class="tab-content" id="nav-tabContent2">
        <transition name="component-fade" mode="out-in" duration="300">
          <component :is="this.currentChart"></component>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import TabItemAnalytics from "@/components/analytics/TabItemAnalytics";
import NIOKRBasicChart from "@/components/analytics/NIOKRBasicChart";
import GOSTBasicChart from "@/components/analytics/GOSTBasicChart";
import PNSTBasicChart from "@/components/analytics/PNSTBasicChart";
import ODMBasicChart from "@/components/analytics/ODMBasicChart";

export default {
  name: "BasicGroupAnalytics",
  components: {
    TabItemAnalytics,
    NIOKRBasicChart,
    GOSTBasicChart,
    PNSTBasicChart,
    ODMBasicChart
  },
  data() {
    return {
      selectTab: 0,
      currentChart: this.currentChart,
      navs: [
        {
          title: 'НИОКР',
          component: 'NIOKRBasicChart'
        },
        {
          title: 'ГОСТ Р',
          component: 'GOSTBasicChart'
        },
        {
          title: 'ПНСТ',
          component: 'PNSTBasicChart'
        },
        {
          title: 'ОДМ',
          component: 'ODMBasicChart'
        },
      ]
    }
  },
  methods: {
    changeTab(tab, id) {
      this.selectTab = id
      this.currentChart = tab
    }
  },
  mounted() {
    this.currentChart = 'NIOKRBasicChart'
  }
}
</script>

<style scoped>

</style>
