<template>
  <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <nav-item-analytics
        v-for="(nav, index) in navs"
        :href="nav.component"
        :key="index"
        :id="index"
        :title="nav.title"
        :is-active="index===selectNav"
        @change-chart="changeChart"
    ></nav-item-analytics>

  </div>
</template>

<script>
import NavItemAnalytics from "@/components/analytics/NavItemAnalytics";

export default {
  emits: [
    'change-chart'
  ],
  name: "LeftNavAnalytics",
  params: {
    selectNav: Number
  },
  data() {
    return {
      selectNav: 0,
      navs: [
        {
          title: 'количество ниокр по годам',
          component: 'NIOKRAnalytics'
        },
        {
          title: 'количество одм по годам',
          component: 'ODMAnalytics'
        },
        {
          title: 'распределение по основным направлениям дорожной деятельности',
          component: 'BasicGroupAnalytics'
        },
        {
          title: 'распределение по приоритетным технологиям дорожного хозяйства',
          component: 'PrioryGroupAnalytics'
        },
      ],
    }
  },
  methods: {
    changeChart(chart) {
      this.$emit('change-chart', chart)
    }
  },
  components: {NavItemAnalytics}
}
</script>

<style scoped>

</style>
