<template>
  <a :class="['nav-link', isActive ? 'active' : '']"
     :id="`${id}-tab`"
     data-bs-toggle="pill"
     :href="href"
     role="tab"
     @click="this.$emit('change-chart', href)"
     :aria-selected="isActive"> {{ title.toUpperCase() }} </a>
</template>

<script>
export default {
  emits: [
    'change-chart'
  ],
  props: {
    title: String,
    href: String,
    isActive: Boolean,
    id: Number
  },
  mounted() {
    document.body.classList.add("bg-color")
  },
  unmounted() {
    document.body.classList.remove("bg-color");
  },
  name: "NavItemAnalytics"
}
</script>

<style scoped>

</style>
