<template>
  <div id="diagram">
    <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
    />
  </div>
</template>

<script>
import {GChart} from 'vue-google-charts'

export default {
  name: "NIOKRPrioryChart",
  components: {GChart},
  data() {
    let data = [
      ['Наименование',
        '2018', {role: 'annotation', type: 'number'},
        '2019', {role: 'annotation', type: 'number'},
        '2020', {role: 'annotation', type: 'number'},
        '2021', {role: 'annotation', type: 'number'},
        '2022', {role: 'annotation', type: 'number'}],
      ['01. Технологии увеличения пропускной способности и оптимизации уровня загрузки автомобильных дорог', 5, 2, 0, 3, 2],
      ['02. Технологии увеличения сроков службы дорожных одежд и покрытий автомобильных дорог', 4, 6, 8, 4, 4],
      ['03. Технологии увеличения сроков службы искусственных сооружений на автомобильных дорогах', 1, 2, 17, 11, 1],
      ['04. Технологии обеспечения экологической безопасности и безопасности дорожного движения', 5, 1, 3, 2, 2],
      ['05. Технологии обеспечения заданного уровня эксплуатационного содержания автомобильных дорог и искусственных сооружений на них', 1, 2, 3, 2, 3],
      ['06. Дорожно-строительные материалы', 5, 17, 7, 3, 7]
    ]
    for (let i = 1; i < data.length; i++) {
      data[i] = [
        data[i][0],
        data[i][1], data[i][1],
        data[i][2], data[i][2],
        data[i][3], data[i][3],
        data[i][4], data[i][4],
        data[i][5], data[i][5]
      ]
    }
    return {
      chartData: data,
      chartOptions: {
        animation: {
          duration: 500,
          easing: 'in',
          startup: true
        },
        annotations: {
          alwaysOutside: false
        },
        tooltip: {ignoreBounds: false},
        explorer: {actions: ['dragToZoom', 'rightClickToReset']},
        bar: {groupWidth: "90%"},
        isStacked: true,
        'title': 'Распределение НИОКР по приоритетным технологиям дорожного хозяйства (по годам)',
        'is3D': true,
        'width': window.innerWidth * 0.82,
        'height': window.innerHeight * 0.75,
        series: {
          0: {color: '#14419B'},
          1: {color: '#395ABD'},
          2: {color: '#178FEB'},
          3: {color: '#40acff'},
          4: {color: '#40f6ff'},
        },
        legend: {position: 'top', alignment: 'end', maxlines: 4},
        chartArea: {left: 35, right: 20, top: 40, bottom: 40, height: '100%'},
        hAxis: {
          textPosition: 'out',
          direction:1,
          textStyle : {
            fontSize: 10, // or the number you want
            bold: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
