<template>
  <div id="diagram">
    <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
    />
  </div>
</template>

<script>
import {GChart} from 'vue-google-charts'

export default {
  name: "NIOKRAnalytics",
  components: {GChart},
  data() {
    let dataInfo = [5, 5, 10, 14, 17, 80, 20, 99, 42, 74, 50, 42, 91, 112, 64, 66, 48, 27, 46, 41, 33, 20]
    let data = []
    data.push(['Year', 'Количество завершенных НИОКР', {role: 'annotation', type: 'number'}])
    let allCount = 0
    for (let i = 0; i < dataInfo.length; i++) {
      allCount += dataInfo[i];
      data.push([(2001 + i).toString(), dataInfo[i], dataInfo[i]])
    }
    return {
      chartData: data,
      chartOptions: {
        animation: {
          duration: 500,
          easing: 'in',
          startup: true
        },
        bar: {groupWidth: "90%"},
        'title': 'Количество завершенных НИОКР (по годам): ' + allCount,
        'is3D': true,
        'width': window.innerWidth * 0.82,
        'height': window.innerHeight * 0.8,
        colors: ['#007BFF'],
        legend: {
          position: 'none'
        },
        chartArea: {left: 55, right: 35, top: 40, bottom: 40, height: '100%'},
        hAxis: {
          textStyle: {
            fontSize: 15,
            bold: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
