<template>
  <div id="diagram">
    <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
    />
  </div>
</template>

<script>
import {GChart} from 'vue-google-charts'

export default {
  name: "ODMAnalytics",
  components: {GChart},
  data() {
    let dataInfo = [
      ['1998', 1],
      ['2006', 1],
      ['2007', 5],
      ['2008', 15],
      ['2009', 10],
      ['2010', 7],
      ['2011', 13],
      ['2012', 20],
      ['2013', 28],
      ['2014', 12],
      ['2015', 32],
      ['2016', 35],
      ['2017', 37],
      ['2018', 18],
      ['2019', 31],
      ['2020', 20],
      ['2021', 18],
      ['2022', 5]
    ]
    let data = []
    data.push(['Year', 'Введено в действие ОДМ', {role: 'annotation', type: 'number'}])
    for (let i = 0; i < dataInfo.length; i++) {
      data.push([dataInfo[i][0], dataInfo[i][1], dataInfo[i][1]])
    }
    return {
      chartData: data,
      chartOptions: {
        animation: {
          duration: 500,
          easing: 'in',
          startup: true
        },
        vAxis: {
          gridlines: {
            count: 10
          }
        },
        bar: {groupWidth: "90%"},
        'title': 'Введено в действие ОДМ (по годам)',
        'is3D': true,
        'width': window.innerWidth * 0.82,
        'height': window.innerHeight * 0.8,
        colors: ['#28A745'],
        legend: {
          position: 'none'
        },
        chartArea: {left: 55, right: 35, top: 40, bottom: 40, height: '100%'},
        hAxis: {
          textStyle: {
            fontSize: 15,
            bold: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
