<template>
  <div id="diagram">
    <GChart
        type="ColumnChart"
        :data="chartData"
        :options="chartOptions"
    />
  </div>
</template>

<script>
import {GChart} from 'vue-google-charts'

export default {
  name: "ODMBasicChart",
  components: {GChart},
  data() {
    let data = [
      ['Наименование',
        '2018', {role: 'annotation', type: 'number'},
        '2019', {role: 'annotation', type: 'number'},
        '2020', {role: 'annotation', type: 'number'},
        '2021', {role: 'annotation', type: 'number'},
        '2022', {role: 'annotation', type: 'number'}],
      ['01. Управление в дорожном хозяйстве', 0, 0, 0, 0, 0],
      ['02. Экономика дорожного хозяйства', 0, 0, 0, 0, 0],
      ['03. Развитие дорожной сети', 0, 0, 0, 0, 0],
      ['04. Проектирование и строительство автомобильных дорог и искусственных сооружений', 2, 1, 5, 1, 1],
      ['05. Ремонт автомобильных дорог и искусственных сооружений', 1, 0, 0, 1, 0],
      ['06. Содержание автомобильных дорог и искусственных сооружений', 1, 0, 0, 0, 0],
      ['07. Системы информатизации и связи в дорожном хозяйстве', 1, 0, 0, 0, 0],
      ['08. Развитие инновационной деятельности в дорожном хозяйстве', 0, 0, 0, 0, 0],
      ['09. Безопасность дорожного движения', 0, 0, 0, 0, 0],
      ['10. Дорожная экология, охрана труда и техника безопасности', 3, 0, 0, 0, 0],
      ['11. Дорожно-строительные материалы', 1, 1, 5, 0, 0],
      ['12. Конструкции дорожных одежд', 1, 0, 1, 1, 1],
      ['13. Транспортно-эксплуатационные качества автомобильных дорог и искусственных сооружений', 0, 0, 0, 1, 0],
      ['14. Дорожная техника', 1, 0, 0, 0, 0],
      ['15. Лаборатории, приборы, оборудование', 1, 1, 0, 0, 0],
      ['16. Управление качеством дорожных работ, методы лабораторных испытаний', 1, 2, 2, 0, 0],
      ['17. Техническое регулирование в дорожном хозяйстве', 1, 0, 0, 1, 0],
      ['18. Система ценообразования в дорожном хозяйстве', 0, 0, 0, 0, 0],
      ['19. Профилактика чрезвычайных ситуаций в дорожном хозяйстве', 1, 0, 2, 0, 0],
      ['20. Нормативно-правовое обеспечение дорожного хозяйства', 0, 0, 0, 0, 0],
      ['21. Общие проблемы развития транспорта', 0, 0, 0, 0, 0]
    ]
    for (let i = 1; i < data.length; i++) {
      data[i] = [
        data[i][0],
        data[i][1], data[i][1],
        data[i][2], data[i][2],
        data[i][3], data[i][3],
        data[i][4], data[i][4],
        data[i][5], data[i][5]
      ]
    }
    return {
      chartData: data,
      chartOptions: {
        animation: {
          duration: 500,
          easing: 'in',
          startup: true
        },
        annotations: {
          alwaysOutside: false
        },
        tooltip: {ignoreBounds: false},
        explorer: {actions: ['dragToZoom', 'rightClickToReset']},
        bar: {groupWidth: "90%"},
        isStacked: true,
        'title': 'Распределение НИОКР на разработку ОДМ по основным направлениям дорожной деятельности (по годам)',
        'is3D': true,
        'width': window.innerWidth * 0.82,
        'height': window.innerHeight * 0.75,
        series: {
          0: {color: '#009500'},
          1: {color: '#00C200'},
          2: {color: '#00F000'},
          3: {color: '#95f895'},
          4: {color: '#d8f895'},
        },
        legend: {position: 'top', alignment: 'end', maxlines: 4},
        chartArea: {left: 35, right: 20, top: 40, bottom: 240, height: '100%'},
        hAxis: {
          // title: "Years" ,
          textPosition: 'out',
          direction: 1,
          slantedText: true,
          slantedTextAngle: 90,
          textStyle: {
            fontSize: 10, // or the number you want
            bold: true
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
