<template>
  <div role="tabpanel" id="AllNaprOsn" class="tab-pane">
    <div class="container-fluid">
      <div class="container">
        <ul id="list-tab" class="nav nav-tabs nav-fill" role="tablist">
          <tab-item-analytics
              v-for="(nav, index) in navs"
              :key="index"
              :id="index"
              :href="nav.component"
              :title="nav.title"
              :active="index === this.selectTab"
              @change-tab="changeTab"
          ></tab-item-analytics>
        </ul>
      </div>

      <div class="tab-content" id="nav-tabContent2">
        <transition name="component-fade" mode="out-in" duration="300">
          <component :is="this.currentChart"></component>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import TabItemAnalytics from "@/components/analytics/TabItemAnalytics";
import GOSTPrioryChart from "@/components/analytics/GOSTPrioryChart";
import PNSTPrioryChart from "@/components/analytics/PNSTPrioryChart";
import ODMPrioryChart from "@/components/analytics/ODMPrioryChart";
import NIOKRPrioryChart from "@/components/analytics/NIOKRPrioryChart";

export default {
  name: "PrioryGroupAnalytics",
  components: {
    TabItemAnalytics,
    NIOKRPrioryChart,
    GOSTPrioryChart,
    PNSTPrioryChart,
    ODMPrioryChart
  },
  data() {
    return {
      selectTab: 0,
      currentChart: this.currentChart,
      navs: [
        {
          title: 'НИОКР',
          component: 'NIOKRPrioryChart'
        },
        {
          title: 'ГОСТ Р',
          component: 'GOSTPrioryChart'
        },
        {
          title: 'ПНСТ',
          component: 'PNSTPrioryChart'
        },
        {
          title: 'ОДМ',
          component: 'ODMPrioryChart'
        },
      ]
    }
  },
  methods: {
    changeTab(tab, id) {
      this.selectTab = id
      this.currentChart = tab
    }
  },
  mounted() {
    this.currentChart = 'NIOKRPrioryChart'
  }
}
</script>

<style scoped>

</style>
