<template>
  <li class="nav-item" role="presentation">
    <a
        :class="['nav-link', active ? 'active' : '']"
        :id="id"
        :name="href"
        :href="href"
        @click.prevent="this.$emit('change-tab', href, id)"
        role="tab"> {{ title }}</a>
  </li>
</template>

<script>
export default {
  emits: [
    'change-tab'
  ],
  props: {
    id: Number,
    href: String,
    title: String,
    active: Boolean
  },
  name: "TabItemAnalytics"
}
</script>

<style scoped>

</style>
