<template>
  <div class="col-3 mt-3"><label v-text="label"/></div>
  <div class="form-group col-9 gy-2" v-show="linkFilename">
    <input class="btn btn-success mt-2 me-2" type="button" @click="download(file)"
           :value="'Просмотреть файл: '+linkFilename"/>
    <input class="btn btn-danger mt-2" type="button" @click="reset()" value="Заменить"/>
  </div>
  <div class="form-group col-9 gy-2" v-show="!linkFilename">
    <input type="file" class="form-control" accept=".pdf" ref="file" @change="uploadFile()"/>
  </div>
</template>


<script>
import axios from "axios";

export default {
  props: [
    'label',
    'filename'
  ],
  emits: [
    'update:file-uuid'
  ],
  data() {
    return {
      file: this.$props.filename ? this.$props.filename.uuid : null,
      linkFilename: this.$props.filename ? this.$props.filename.file : null
    }
  },
  name: "FileInput",
  methods: {
    reset() {
      this.$refs.file.value = null
      this.file = null
      this.linkFilename = null
    },
    uploadFile() {
      let formData = new FormData();
      formData.append('file', this.$refs.file.files[0]);
      axios.post('/api/helper/upload',
          formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          }
      )
          .then(ref => {
            this.file = ref.data.uuid
            this.$emit('update:file-uuid', ref.data.uuid)
            this.linkFilename = ref.data.filename
          })
    },
    download(file) {
      axios.get("/api/helper/download?file=" + file)
          .then(response => {
            let blob = new Blob([response.data], {type: 'application/pdf'}),
                url = window.URL.createObjectURL(blob)
            window.open(url)
          })
    }
  }
}
</script>

<style scoped>

</style>
