<template>
  <div class="container">
    <SearchWindow
        title="СПРАВКА ПО ПОСТАНОВКЕ НА БАЛАНС ИС ФДА"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>ИС&nbsp;ФДА:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Инвентарный №</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="inventoryNumber" id="inventoryNumber" type="search" name="inventoryNumber"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Номер</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>Наимено-вание</label></div>
        <div class="form-group col-5 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mt-1"><label>Дата заключения с:</label></div>
        <div class="col-6 mt-1"><label>По дату заключения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <input v-model="dateFrom" id="dateFrom" type="date" name="dateFrom" class="form-control">
        </div>
        <div class="form-group col-6">
          <input v-model="dateTo" id="dateTo" type="date" name="dateTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-1"><label>Состояние</label></div>
        <div class="form-group col-4 gy-2">
          <select id="state" class="form-select" v-model="state">
            <option :value="null"></option>
            <option value="true">На балансе</option>
            <option value="false">Не на балансе</option>
          </select></div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailTable from "@/components/search/components/DetailTable";
import DetailModal from "@/components/DetailModal";

export default {
  name: "TheBalanceSearch",
  components: {
    TableView,
    SearchWindow,
    DetailTable,
    DetailModal
  },
  data() {
    return {
      inventoryNumber: null,
      number: null,
      name: null,
      executor: null,
      dateFrom: null,
      dateTo: null,
      state: null,
      rows: null,
      blocks: null,
      admin: false,
      detailTr: null,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Наименование темы',
          field: 'name'
        },
        {
          title: 'Номер контракта',
          field: 'number'
        },
        {
          title: 'Дата заключения контракта',
          field: 'date_start'
        },
        {
          title: 'Исполнитель',
          field: 'executor'
        },
        {
          title: 'Наименование ИС',
          field: 'name'
        },
        {
          title: 'Инвентарный номер',
          field: 'inventory_number'
        },
        {
          title: 'Балансовая стоимость',
          field: 'price'
        },
        {
          title: 'Состояние',
          field: 'state'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      const data = {
        inventoryNumber: this.inventoryNumber,
        number: this.number,
        name: this.name,
        dateFrom: this.dateFrom,
        dateTo: this.dateTo,
        state: this.state,
        executor: this.executor
      }
      privateApi
          .post('/api/private-search/information/balance', data)
          .then(res => {
                let rawRows = res.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        name: rawRows[i].name,
                        number: rawRows[i].number,
                        executor: rawRows[i].executor,
                        date_start: rawRows[i].date_start,
                        inventory_number: rawRows[i].inventory_number,
                        price: rawRows[i].price,
                        state: rawRows[i].state,
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/information/balance/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.inventoryNumber = null
      this.number = null
      this.name = null
      this.executor = null
      this.dateFrom = null
      this.dateTo = null
      this.state = null
    }
  }
}
</script>

<style scoped>

</style>
