<template>
  <div class="container">
    <SearchWindow
        title="ПЕРЕЧЕНЬ ПРЕДЛОЖЕНИЙ ДЛЯ НИОКР"
        ref="searchWindow"
        :search-helper="rows == null"
        @search="search"
        @clean="clean"
    >
      <div class="row">
        <div class="col-3 mt-0"><label>Год плана НИОКР</label></div>
        <div class="form-group col-2 gy-2">
          <select id="year" class="form-select" v-model="year">
            <option :value="null"></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year" v-text="year"/>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Тип формы</label></div>
        <div class="form-group col-2 gy-2">
          <select class="form-select" v-model="type">
            <option :value="null"></option>
            <option value="ca-fda">ЦА ФДА</option>
            <option value="organization">От организаций</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Наименование тематики научно-исследовательской работы</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="title"/>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Краткое описание</label></div>
        <div class="form-group col-9 gy-2">
          <input type="search" class="form-control" v-model="description"></div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Направление стратегии развития инновационной деятельности в области дорожного
                                       хозяйства</label></div>
        <div class="form-group col-9 gy-2"><select class="form-select" v-model="niokrDirection">
          <option :value="null">Все стратегии развития</option>
          <option value="Не назначена">Не назначена</option>
          <option v-for="(niokr,index) in niokrDirections" :key="index" :value="niokr.title" v-text="niokr.title"/>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Инициатор/Функциональный заказчик</label></div>
        <div class="form-group col-9 gy-2"><select v-model="customer" id="customer" name="customer" class="form-select">
          <option :value="null">Все заказчики</option>
          <option v-for="(item,index) in customers" :key="index" :value="item" v-text="item"/>
          <option value=""></option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Заявка одобрена?</label></div>
        <div class="form-group col-2 gy-2"><select class="form-select" v-model="approved">
          <option :value="null"></option>
          <option :value="true">Да</option>
          <option :value="false">Нет</option>
        </select></div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="detail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import TableView from "@/components/table/TableView.vue";
import privateApi from "@/plugins/private";
import detailModal from "@/components/DetailModal.vue";
import DetailTable from "@/components/search/components/DetailTable.vue";
import DetailModal from "@/components/DetailModal.vue";

export default {
  name: "OfferList",
  computed: {
    detailModal() {
      return detailModal
    }
  },
  components: {
    DetailModal,
    DetailTable,
    TableView,
    SearchWindow
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      niokrDirections: list.niokrDirections,
      customers: list.customers,
      year: null,
      type: null,
      title: null,
      description: null,
      niokrDirection: null,
      customer: null,
      approved: null,
      detailTr: null,
      rows: null,
      columns: [
        {
          title: '#',
          field: 'uuid'
        },
        {
          title: 'Тип формы',
          field: 'type'
        },
        {
          title: 'Год плана НИОКР',
          field: 'year'
        },
        {
          title: 'Получено одобрение',
          field: 'approved'
        },
        {
          title: 'Наименование тематики научно-исследовательской работы',
          field: 'title'
        },
        {
          title: 'Краткое описание',
          field: 'description'
        },
        {
          title: 'Направление стратегии развития инновационной деятельности в области дорожного хозяйства',
          field: 'niokrDirection'
        },
        {
          title: 'Инициатор/Функциональный заказчик',
          field: 'customer'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      let request = {
        year: this.year,
        type: this.type,
        title: this.title,
        description: this.description,
        niokrDirection: this.niokrDirection,
        customer: this.customer,
        approved: this.approved
      }
      privateApi.post('/api/offer/search', request)
          .then(response => {
            let rawRows = response.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].uuid,
                    type: rawRows[i].type === 'ca-fda' ? 'ЦА ФДА' : 'От организаций',
                    uuid: rawRows[i].uuid,
                    year: rawRows[i].year,
                    approved: rawRows[i].approved ? 'Да' : 'Нет',
                    title: rawRows[i].title,
                    description: `Цель работы: ${rawRows[i].targetWork ?? "-"} <hr>Отличие и новизна: ${rawRows[i].infoWork ?? "-"}`,
                    niokrDirection: rawRows[i].niokrDirection,
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    clean() {
      this.year = null
      this.type = null
      this.title = null
      this.description = null
      this.niokrDirection = null
      this.customer = null
      this.approved = null
    },
    detail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/offer/' + id + '/detail')
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
  }
}
</script>

<style scoped>

</style>
