<template>
  <div class="container">
    <SearchWindow
        title="ВНЕСЕНИЕ ПРЕДЛОЖЕНИЯ В ПЛАН НИОКР (от организаций)"
        ref="searchWindow"
        :search-helper="rows == null"
        :showButtons="false"
    >
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4 text-center">
          <label><strong>Уникальный номер заявки:</strong></label></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center"><strong>{{ uuid }}</strong></div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4 text-center"><strong>Контактные данные руководителя организации:</strong></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Наименование организации</label></div>
        <div class="form-group col-9 gy-2">
          <input type="search" class="form-control" v-model="organization"></div>
      </div>
      <div class="row">
        <div class="col-1 mt-3">
          <label>Фамилия</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="lastName">
        </div>
        <div class="col-1 mt-3">
          <label>Имя</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="firstName">
        </div>
        <div class="col-1 mt-3">
          <label>Отчество</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="middleName">
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-3">
          <label>Должность</label>
        </div>
        <div class="form-group col-5 gy-2">
          <input type="search" class="form-control" v-model="position">
        </div>
        <div class="col-2 mt-3">
          <label>Телефонный номер</label>
        </div>
        <div class="form-group col-4 gy-2">
          <input type="search" class="form-control" v-model="phoneNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4 text-center">
          <label><strong>Контактные данные руководителя темы:</strong></label>
        </div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-3">
          <label>Фамилия</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="leadLastName">
        </div>
        <div class="col-1 mt-3">
          <label>Имя</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="leadFirstName">
        </div>
        <div class="col-1 mt-3">
          <label>Отчество</label>
        </div>
        <div class="form-group col-3 gy-2">
          <input type="search" class="form-control" v-model="leadMiddleName">
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-3"><label>Должность</label></div>
        <div class="form-group col-5 gy-2">
          <input type="search" class="form-control" v-model="leadPosition">
        </div>
        <div class="col-2 mt-3">
          <label>Телефонный номер</label>
        </div>
        <div class="form-group col-4 gy-2">
          <input type="search" class="form-control" v-model="leadPhoneNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <hr>
        </div>
        <div class="col-6 text-center">
          <label><strong>Предложение в Перечень приоритетных научных исследований ФДА:</strong></label>
        </div>
        <div class="col-3">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Год плана НИОКР</label></div>
        <div class="form-group col-2 gy-2">
          <select id="year" class="form-select" v-model="year">
            <option :value="null"></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3">
          <label>Наименование темы (исследований, работ)</label> <label>* <i>(Полное наименование темы)</i></label>
        </div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="title"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <FileInput
            label="Исходные данные"
            v-model:file-uuid="initDataFile"
            ref="initDataFile"
            :filename="initDataFileLoad"
        />
      </div>

      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Указываются программы, концепции выполненных ранее научных исследований (отечественных и
                      зарубежных, в том числе выполненных с участием организации или авторского коллектива-заявителя),
                      перечень нормативных и законодательных актов, стандартов, требующих переработки или разработки
                      (для норм, стандартов, законов)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <FileInput
            label="Состояние проблемы (вопроса)"
            v-model:file-uuid="conditionFile"
            ref="conditionFile"
            :filename="conditionFileLoad"
        />
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Кратко описывается состояние данного вопроса (направления, проблемы) в России и за рубежом. Для
                      нормативов дается сопоставление отечественных и зарубежных показателей. Дается оценка состояния и
                      уровня исследований по данному вопросу (проблеме). Указываются недостатки и проблемы, требующие
                      решения)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Цель работы</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="targetWork"/></div>
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Указываются ожидаемые конечные результаты, которые будут достигнуты в процессе
                      работы)</i></label></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Отличия, новизна и преимущества</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="infoWork"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Указывается, чем конкретно будут отличаться методы и результаты исследований, свойства
                      материалов, конструкций, технологий или подходы и параметры нормативных документов от существующих
                      отечественных и зарубежных аналогов. Дается оценка новизны, преимущества, которые будут достигнуты
                      в результате работы)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <FileInput
            label="Содержание работы"
            v-model:file-uuid="contentWorkFile"
            ref="contentWorkFile"
            :filename="contentWorkFileLoad"
        />
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Указывается предполагаемый перечень работ, который должен быть выполнен Исполнителем (изучение
                      опыта, проведение исследований и испытаний, сопоставительный анализ, рассмотрение замечаний
                      рецензентов, согласование с заинтересованными организациями, представление на утверждение и т.п.).
                      В данном разделе должны быть коротко перечислены все виды работ и их этапы, которые позволили бы
                      дать объективную оценку трудозатрат и стоимости работы)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Конечный результат работы</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="finishWork"/></div>
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label> * <i>(Указывается, что будет конечным результатом работы (норма, стандарт, материал, технология, отчет
                       и т.п.)</i> </label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Область применения</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="3" v-model="scopeApplication"/></div>
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Указывается, где, и для каких целей, кем и в каком регионе предполагается использовать конечные
                      результаты работы)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <FileInput
            label="Предложения в части актуализации"
            v-model:file-uuid="suggestionFile"
            ref="contentWorkFile"
            :filename="suggestionFileLoad"
        />
      </div>
      <div class="row">
        <div class="col-12 text-begin"><label>* <i>(Предложения в части актуализации)</i></label></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-3"><label>Ориентировочные сроки выполнения работ</label></div>
        <div class="form-group col-9 gy-2">
          <textarea class="form-control" rows="2" v-model="deadlineWork"/>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(В месяцах на полный комплекс работ, начало, окончание)</i></label>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <FileInput
            label="Прикрепить файл в формате *.pdf"
            v-model:file-uuid="offersFile"
            ref="contentWorkFile"
            :filename="offersFileLoad"
        />
      </div>
      <div class="row">
        <div class="col-12 text-begin">
          <label>* <i>(Обязательным является подключение в системе файла формата *.pdf c предложением в План НИОКР.
                      подписанным руководителем</i></label>
        </div>
      </div>
      <template v-slot:buttons>
        <div class="col-2 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Создать новую заявку"
                 @click="newOffer"/>
        </div>
        <div class="col-3 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Показать все заявки пользователя"
                 @click="list"/>
        </div>
        <div class="col-4"></div>
        <div class="col-1 text-center">
          <input type="button" class="btn btn-danger btn-md float-right" value="Очистить" @click="clean"/>
        </div>
        <div class="col-2 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Отправить заявку" @click="save"/>
        </div>
      </template>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="load"
  />
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import {uuid} from 'vue-uuid'
import user from "@/plugins/users";
import FileInput from "@/components/component/FileInput";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";

export default {
  name: "OfferOrganization",
  components: {
    SearchWindow,
    FileInput,
    TableView
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      uuid: uuid.v4(),
      organization: user ? user.organization : null,
      lastName: user ? user.last_name : null,
      firstName: user ? user.first_name : null,
      middleName: user ? user.middle_name : null,
      position: user ? user.position : null,
      phoneNumber: user ? user.phone : null,
      leadFirstName: null,
      leadMiddleName: null,
      leadLastName: null,
      leadPosition: null,
      leadPhoneNumber: null,
      year: null,
      title: null,
      initDataFile: null,
      conditionFile: null,
      targetWork: null,
      infoWork: null,
      contentWorkFile: null,
      finishWork: null,
      scopeApplication: null,
      suggestionFile: null,
      deadlineWork: null,
      offersFile: null,
      initDataFileLoad: null,
      conditionFileLoad: null,
      contentWorkFileLoad: null,
      suggestionFileLoad: null,
      offersFileLoad: null,
      rows: null,
      columns: [
        {
          title: 'uuid',
          field: 'uuid'
        },
        {
          title: 'Год плана НИОКР',
          field: 'year'
        },
        {
          title: 'Получено одобрение',
          field: 'approved'
        },
        {
          title: 'Наименование темы работ',
          field: 'title'
        },
        {
          title: 'Конечный результат работ',
          field: 'finishWork'
        },
        {
          title: 'Область применения работ',
          field: 'scopeApplication'
        },
        {
          title: 'Ориентировочные сроки выполнения работ',
          field: 'deadlineWork'
        },
      ]
    }
  },
  methods: {
    newOffer() {
      this.clean()
      this.uuid = uuid.v4()
      this.organization = user ? user.organization : null
      this.lastName = user ? user.last_name : null
      this.firstName = user ? user.first_name : null
      this.middleName = user ? user.middle_name : null
      this.position = user ? user.position : null
      this.phoneNumber = user ? user.phone : null
    },
    clean() {
      this.organization = user ? user.organization : null
      this.lastName = user ? user.last_name : null
      this.firstName = user ? user.first_name : null
      this.middleName = user ? user.middle_name : null
      this.position = user ? user.position : null
      this.phoneNumber = user ? user.phone : null
      this.leadFirstName = null
      this.leadMiddleName = null
      this.leadLastName = null
      this.leadPosition = null
      this.leadPhoneNumber = null
      this.year = null
      this.title = null
      this.initDataFile = null
      this.conditionFile = null
      this.targetWork = null
      this.infoWork = null
      this.contentWorkFile = null
      this.finishWork = null
      this.scopeApplication = null
      this.suggestionFile = null
      this.deadlineWork = null
      this.offersFile = null
      this.initDataFileLoad = null
      this.conditionFileLoad = null
      this.contentWorkFileLoad = null
      this.suggestionFileLoad = null
      this.offersFileLoad = null
    },
    save() {
      let request = {
        uuid: this.uuid,
        organization: this.organization,
        lastName: this.lastName,
        firstName: this.firstName,
        middleName: this.middleName,
        position: this.position,
        phoneNumber: this.phoneNumber,
        year: this.year,
        title: this.title,
        leadFirstName: this.leadFirstName,
        leadMiddleName: this.leadMiddleName,
        leadLastName: this.leadLastName,
        leadPosition: this.leadPosition,
        leadPhoneNumber: this.leadPhoneNumber,
        initDataFile: this.initDataFile,
        conditionFile: this.conditionFile,
        targetWork: this.targetWork,
        infoWork: this.infoWork,
        contentWorkFile: this.contentWorkFile,
        finishWork: this.finishWork,
        scopeApplication: this.scopeApplication,
        suggestionFile: this.suggestionFile,
        deadlineWork: this.deadlineWork,
        offersFile: this.offersFile
      }
      privateApi.post('/api/offer/organization/save', request)
          .then(res => {
            this.list()
          })
    },
    list() {
      this.$emit('loader', true)
      privateApi.get('/api/offer/organization/list')
          .then(res => {
                let rawRows = res.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].uuid,
                        uuid: rawRows[i].uuid,
                        year: rawRows[i].year,
                        approved: rawRows[i].approved ? 'Да' : 'Нет',
                        title: rawRows[i].title,
                        finishWork: rawRows[i].finishWork,
                        scopeApplication: rawRows[i].scopeApplication,
                        deadlineWork: rawRows[i].deadlineWork
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    load(uuid) {
      this.$emit('loader', true)
      privateApi.get('/api/offer/organization/load/' + uuid)
          .then(res => {
            let data = res.data
            this.uuid = data.uuid
            this.organization = data.organization
            this.lastName = data.lastName
            this.firstName = data.firstName
            this.middleName = data.middleName
            this.position = data.position
            this.phoneNumber = data.phoneNumber
            this.year = data.year
            this.title = data.title
            this.leadFirstName = data.leadFirstName
            this.leadMiddleName = data.leadMiddleName
            this.leadLastName = data.leadLastName
            this.leadPosition = data.leadPosition
            this.leadPhoneNumber = data.leadPhoneNumber
            this.initDataFile = data.initDataFile
            this.conditionFile = data.conditionFile
            this.targetWork = data.targetWork
            this.infoWork = data.infoWork
            this.contentWorkFile = data.contentWorkFile
            this.finishWork = data.finishWork
            this.scopeApplication = data.scopeApplication
            this.suggestionFile = data.suggestionFile
            this.deadlineWork = data.deadlineWork
            this.offersFile = data.offersFile
            this.initDataFileLoad = data.initDataFileLoad
            this.conditionFileLoad = data.conditionFileLoad
            this.contentWorkFileLoad = data.contentWorkFileLoad
            this.suggestionFileLoad = data.suggestionFileLoad
            this.offersFileLoad = data.offersFileLoad
            this.$refs.searchWindow.showBody();
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
