<template>
  <div class="container">
    <SearchWindow
        title="ВНЕСЕНИЕ ПРЕДЛОЖЕНИЯ В ПЛАН НИОКР (ЦА ФДА)"
        ref="searchWindow"
        :search-helper="rows == null"
        :showButtons="false"
    >
      <template v-slot:default>
        <div class="row">
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4 text-center">
            <label><strong>Уникальный номер заявки:</strong></label></div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <strong><span>{{ uuid }}</span></strong>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <hr>
          </div>
          <div class="col-6 text-center">
            <strong>Контактные данные руководителя Управления ЦА ФДА:</strong>
          </div>
          <div class="col-3">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-0"><label>Наименование структурного подразделения</label></div>
          <div class="form-group col-9 gy-2">
            <input id="direction" type="search" class="form-control" v-model="organization">
          </div>
        </div>
        <div class="row">
          <div class="col-1 mt-3"><label>Фамилия</label></div>
          <div class="form-group col-3 gy-2">
            <input id="lastName" type="search" class="form-control" v-model="lastName"></div>
          <div class="col-1 mt-3"><label>Имя</label></div>
          <div class="form-group col-3 gy-2">
            <input id="firstName" type="search" class="form-control" v-model="firstName">
          </div>
          <div class="col-1 mt-3"><label>Отчество</label></div>
          <div class="form-group col-3 gy-2">
            <input id="middleName" type="search" class="form-control" v-model="middleName"></div>
        </div>
        <div class="row">
          <div class="col-1 mt-3"><label>Должность</label></div>
          <div class="form-group col-5 gy-2">
            <input id="position" type="search" class="form-control" v-model="position">
          </div>
          <div class="col-2 mt-3"><label>Телефонный номер</label></div>
          <div class="form-group col-4 gy-2">
            <input id="phoneNumber" type="search" class="form-control" v-model="phoneNumber">
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4 text-center">
            <label><strong>Данные о вносимом предложении:</strong></label>
          </div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-0"><label>Год плана НИОКР</label></div>
          <div class="form-group col-2 gy-2">
            <select id="year" class="form-select" v-model="year">
              <option :value="null"></option>
              <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4 text-center"><label><strong>Техническое задание:</strong></label></div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-1"><label>Наименование темы (исследований, работ)</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="title" class="form-control" rows="3" v-model="title"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Функциональный заказчик(и)</label></div>
          <div class="form-group col-9 gy-2">
            <select v-model="customer" id="customer" name="customer" class="form-select">
              <option :value="null">Все заказчики</option>
              <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Основание для разработки</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="basis" class="form-control" rows="2" v-model="basis"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Статус работы</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="workStatus" v-model="workStatus" class="form-control" rows="1"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Источник финансирования</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="sourceFinance" v-model="sourceFinance" class="form-control" rows="1"/></div>
        </div>
        <div class="row">
          <FileInput
              label="Исходные данные"
              v-model:file-uuid="initDataFile"
              ref="initDataFile"
              :filename="initDataFileLoad"
          />
        </div>
        <div class="row">
          <FileInput
              label="Состояние проблемы (вопроса)"
              v-model:file-uuid="conditionFile"
              ref="conditionFile"
              :filename="conditionFileLoad"
          />
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Цель работы</label></div>
          <div class="form-group col-9 gy-2">
            <textarea class="form-control" rows="2" v-model="targetWork"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Отличия, новизна и преимущества</label></div>
          <div class="form-group col-9 gy-2">
            <textarea class="form-control" rows="2" v-model="infoWork"/>
          </div>
        </div>
        <div class="row">
          <FileInput
              label="Содержание работы"
              v-model:file-uuid="contentWorkFile"
              ref="contentWorkFile"
              :filename="contentWorkFileLoad"
          />
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Конечный результат работы</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="finishWork" class="form-control" rows="5" v-model="finishWork"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Область применения</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="scopeApplication" class="form-control" rows="2" v-model="scopeApplication"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Внедрение результатов работы</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="integrationWork" class="form-control" rows="2" v-model="integrationWork"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Права сторон</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="rights" class="form-control" rows="1" v-model="rights"/>
          </div>
        </div>
        <div class="row">
          <FileInput
              label="Требования к представляемой продукции"
              v-model:file-uuid="requirementFile"
              ref="requirementFile"
              :filename="requirementFileLoad"
          />
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Условия приемки работ</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="conditionWork" class="form-control" rows="2" v-model="conditionWork"/>
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Сроки выполнения работ</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="deadlineWork" class="form-control" rows="1" v-model="deadlineWork"/></div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Предмет стандартизации</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="subject" class="form-control" v-model="subject" rows="2"/>
          </div>
        </div>
        <div class="row">
          <FileInput
              label="Перечень рецензентов"
              v-model:file-uuid="listReviewerFile"
              ref="listReviewerFile"
              :filename="listReviewerFileLoad"
          />
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Особые условия</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="specialConditions" class="form-control" rows="3" v-model="specialConditions"/></div>
        </div>
        <div class="row">
          <div class="col-3 mt-3"><label>Место выполнения работ</label></div>
          <div class="form-group col-9 gy-2">
            <textarea id="placeWork" class="form-control" rows="1" v-model="placeWork"/>
          </div>
        </div>
        <div class="row">
          <FileInput
              label="Календарный план работ"
              v-model:file-uuid="planWorkFile"
              ref="planWorkFile"
              :filename="planWorkFileLoad"
          />
        </div>
      </template>
      <template v-slot:buttons>
        <div class="col-2 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Создать новую заявку"
                 @click="newOffer"/>
        </div>
        <div class="col-3 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Показать все заявки пользователя"
                 @click="list"/>
        </div>
        <div class="col-4"></div>
        <div class="col-1 text-center">
          <input type="button" class="btn btn-danger btn-md float-right" value="Очистить" @click="clean"/>
        </div>
        <div class="col-2 text-center">
          <input type="button" class="btn btn-primary btn-md float-right" value="Отправить заявку" @click="save"/>
        </div>
      </template>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="load"
  />
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import {uuid} from 'vue-uuid'
import user from "@/plugins/users";
import FileInput from "@/components/component/FileInput";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";


export default {
  name: "OfferCaFda",
  components: {
    SearchWindow,
    FileInput,
    TableView
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      customers: list.customers,
      uuid: uuid.v4(),
      organization: user ? user.organization : null,
      lastName: user ? user.last_name : null,
      firstName: user ? user.first_name : null,
      middleName: user ? user.middle_name : null,
      position: user ? user.position : null,
      phoneNumber: user ? user.phone : null,
      year: null,
      title: null,
      customer: null,
      basis: null,
      workStatus: null,
      sourceFinance: null,
      initDataFile: null,
      conditionFile: null,
      targetWork: null,
      infoWork: null,
      contentWorkFile: null,
      finishWork: null,
      scopeApplication: null,
      integrationWork: null,
      rights: null,
      requirementFile: null,
      conditionWork: null,
      deadlineWork: null,
      subject: null,
      listReviewerFile: null,
      specialConditions: null,
      placeWork: null,
      planWorkFile: null,
      initDataFileLoad: null,
      conditionFileLoad: null,
      contentWorkFileLoad: null,
      requirementFileLoad: null,
      listReviewerFileLoad: null,
      planWorkFileLoad: null,
      rows: null,
      columns: [
        {
          title: 'uuid',
          field: 'uuid'
        },
        {
          title: 'Год плана НИОКР',
          field: 'year'
        },
        {
          title: 'Получено одобрение',
          field: 'approved'
        },
        {
          title: 'Наименование темы работ',
          field: 'title'
        },
        {
          title: 'Конечный результат работ',
          field: 'finishWork'
        },
        {
          title: 'Область применения работ',
          field: 'scopeApplication'
        },
        {
          title: 'Внедрение результатов работ',
          field: 'integrationWork'
        },
        {
          title: 'Условия приемки работ',
          field: 'conditionWork'
        },
        {
          title: 'Предмет стандартизации',
          field: 'subject'
        },
        {
          title: 'Особые условия',
          field: 'specialConditions'
        },
        {
          title: 'Место выполнения работ',
          field: 'placeWork'
        }
      ]
    }
  },
  methods: {
    newOffer() {
      this.clean()
      this.uuid = uuid.v4()
      this.organization = user ? user.organization : null
      this.lastName = user ? user.last_name : null
      this.firstName = user ? user.first_name : null
      this.middleName = user ? user.middle_name : null
      this.position = user ? user.position : null
      this.phoneNumber = user ? user.phone : null
    },
    clean() {
      this.organization = null
      this.lastName = null
      this.firstName = null
      this.middleName = null
      this.position = null
      this.phoneNumber = null
      this.year = null
      this.title = null
      this.customer = null
      this.basis = null
      this.workStatus = null
      this.sourceFinance = null
      this.initDataFile = null
      this.conditionFile = null
      this.targetWork = null
      this.infoWork = null
      this.contentWorkFile = null
      this.finishWork = null
      this.scopeApplication = null
      this.integrationWork = null
      this.rights = null
      this.requirementFile = null
      this.conditionWork = null
      this.deadlineWork = null
      this.subject = null
      this.listReviewerFile = null
      this.specialConditions = null
      this.placeWork = null
      this.planWorkFile = null
      this.$refs.initDataFile.reset()
      this.$refs.conditionFile.reset()
      this.$refs.contentWorkFile.reset()
      this.$refs.requirementFile.reset()
      this.$refs.listReviewerFile.reset()
      this.$refs.planWorkFile.reset()
    },
    save() {
      let request = {
        uuid: this.uuid,
        organization: this.organization,
        lastName: this.lastName,
        firstName: this.firstName,
        middleName: this.middleName,
        position: this.position,
        phoneNumber: this.phoneNumber,
        year: this.year,
        title: this.title,
        customer: this.customer,
        basis: this.basis,
        workStatus: this.workStatus,
        sourceFinance: this.sourceFinance,
        initDataFile: this.initDataFile,
        conditionFile: this.conditionFile,
        targetWork: this.targetWork,
        infoWork: this.infoWork,
        contentWorkFile: this.contentWorkFile,
        finishWork: this.finishWork,
        scopeApplication: this.scopeApplication,
        integrationWork: this.integrationWork,
        rights: this.rights,
        requirementFile: this.requirementFile,
        conditionWork: this.conditionWork,
        deadlineWork: this.deadlineWork,
        subject: this.subject,
        listReviewerFile: this.listReviewerFile,
        specialConditions: this.specialConditions,
        placeWork: this.placeWork,
        planWorkFile: this.planWorkFile
      }
      privateApi.post('/api/offer/ca-fda/save', request)
          .then(res => {
            this.list()
          })
    },
    list() {
      this.$emit('loader', true)
      privateApi.get('/api/offer/ca-fda/list')
          .then(res => {
                let rawRows = res.data
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].uuid,
                        uuid: rawRows[i].uuid,
                        year: rawRows[i].year,
                        approved: rawRows[i].approved ? 'Да' : 'Нет',
                        title: rawRows[i].title,
                        finishWork: rawRows[i].finishWork,
                        scopeApplication: rawRows[i].scopeApplication,
                        integrationWork: rawRows[i].integrationWork,
                        conditionWork: rawRows[i].conditionWork,
                        subject: rawRows[i].subject,
                        specialConditions: rawRows[i].specialConditions,
                        placeWork: rawRows[i].placeWork
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    load(uuid) {
      this.$emit('loader', true)
      privateApi.get('/api/offer/ca-fda/load/' + uuid)
          .then(res => {
            let data = res.data
            this.uuid = data.uuid
            this.organization = data.organization
            this.lastName = data.lastName
            this.firstName = data.firstName
            this.middleName = data.middleName
            this.position = data.position
            this.phoneNumber = data.phoneNumber
            this.year = data.year
            this.title = data.title
            this.customer = data.customer
            this.basis = data.basis
            this.workStatus = data.workStatus
            this.sourceFinance = data.sourceFinance
            this.initDataFile = data.initDataFile
            this.conditionFile = data.conditionFile
            this.targetWork = data.targetWork
            this.infoWork = data.infoWork
            this.contentWorkFile = data.contentWorkFile
            this.finishWork = data.finishWork
            this.scopeApplication = data.scopeApplication
            this.integrationWork = data.integrationWork
            this.rights = data.rights
            this.requirementFile = data.requirementFile
            this.conditionWork = data.conditionWork
            this.deadlineWork = data.deadlineWork
            this.subject = data.subject
            this.listReviewerFile = data.listReviewerFile
            this.specialConditions = data.specialConditions
            this.placeWork = data.placeWork
            this.planWorkFile = data.planWorkFile
            this.initDataFileLoad = data.initDataFileLoad
            this.conditionFileLoad = data.conditionFileLoad
            this.contentWorkFileLoad = data.contentWorkFileLoad
            this.requirementFileLoad = data.requirementFileLoad
            this.listReviewerFileLoad = data.listReviewerFileLoad
            this.planWorkFileLoad = data.planWorkFileLoad
            this.$refs.searchWindow.showBody();
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
