<template>
  <div class="text-center p-1 d-grid gap-2">
    <a href="#" class="btn btn-sm btn-primary" @click.prevent="insert">Добавить пользователя</a>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Логин</th>
      <th scope="col">ФИО</th>
      <th scope="col">Организация</th>
      <th scope="col">Должность</th>
      <th scope="col">email</th>
      <th scope="col">Телефоны</th>
      <th scope="col">Роль</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <UserRow v-for="(user,index) in users"
             :key="user.id"
             :id="user.id"
             :number="index"
             :login="user.login"
             :fio="user.last_name + ' ' + user.first_name + ' ' + user.middle_name"
             :organization="user.organization"
             :email="user.email"
             :position="user.position"
             :phone="user.phone"
             :role="user.role === 'Admin' ? 'Администратор' : 'Пользователь'"
             @remove="remove"
             @edit="edit"
             @resetPassword="resetPassword"
    />
    </tbody>
  </table>
  <TheUserModal
      ref="userModal"
      :title="title"
      :type="type"
      :id="userId"
      :showPassword="showPassword"
      :showUserInfo="showUserInfo"
      @save="saveUser"
  />
</template>

<script>
import UserRow from "@/components/admin/users/UserRow";
import privateApi from '@/plugins/private'
import TheUserModal from "@/components/admin/users/TheUserModal";

const prefixUrl = '/api/admin/'

const user = {
  id: null,
  login: null,
  name: null,
  role: "User",
  email: null,
  first_name: null,
  middle_name: null,
  last_name: null,
  position: null,
  organization: null,
  phone: null,
  fax: null
}

export default {
  name: "TheUserTable",
  data() {
    return {
      users: [],
      title: null,
      userId: null,
      showPassword: false,
      showUserInfo: false,
      type: null
    }
  },
  methods: {
    resetPassword(id) {
      this.userId = id
      this.type = "resetPassword"
      this.title = `Сброс пароля`
      this.showUserInfo = false
      this.showPassword = true
      this.$refs.userModal.openModal()
    },
    insert() {
      this.title = `Новый пользователь`
      this.type = "insert"
      this.showPassword = true
      this.showUserInfo = true
      this.$refs.userModal.openModal(user)
    },
    edit(id) {
      let user = this.users.find(user => user.id === id)
      this.title = `Редактирование: ${user.last_name} ${user.first_name} ${user.middle_name}`
      this.userId = id
      this.showUserInfo = true
      this.showPassword = false
      this.$refs.userModal.openModal(user)
      this.type = "update"
    },
    getUsers() {
      privateApi
          .get(prefixUrl + 'users')
          .then(res => {
            this.users = res.data.data
          })
          .catch(error => {
            this.$emit('showAlert', error.response.data.error, 'warning')
          })
    },
    saveUser(type, user, password, password_confirmation) {
      let data = null
      let url = '';
      if (type === "insert") {
        url = prefixUrl + 'register';
        data = {
          user,
          password,
          password_confirmation
        }
      }
      if (type === "update") {
        url = prefixUrl + 'update';
        data = {
          user
        }
      }
      if (type === "resetPassword") {
        url = prefixUrl + 'reset-password';
        data = {
          id: user.id,
          password: password,
          password_confirmation: password_confirmation,
        }
      }
      privateApi
          .post(url, data)
          .then(res => {
            this.users = res.data.data
            this.getUsers()
          })
          .catch(error => {
            this.$emit('showAlert', error.response.data.error, 'warning')
          })
    },
    remove(id) {
      privateApi
          .delete(prefixUrl + 'delete/' + id)
          .then(res => {
            this.users = res.data.data
            this.getUsers()
          })
          .catch(error => {
            this.$emit('showAlert', error.response.data.error, 'warning')
          })
    }
  },
  mounted() {
    this.getUsers()
  },
  components: {TheUserModal, UserRow}
}
</script>

<style scoped>

</style>
