<template>
  <div
      class="modal fade"
      id="UserModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="LoginModalLabel"
      aria-hidden="true" style="z-index:2000;"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="btn-close" @click.prevent="closeModal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <span v-show="showUserInfo">
            <div class="row">
              <div class="col-12">
                <label for="login">Логин пользователя</label>
                <input
                    id="login"
                    type="text"
                    class="form-control"
                    placeholder="Логин пользователя"
                    v-model="login"
                />
            </div>
          </div>
            <div class="row">
          <div class="col-4">
            <label for="last_name">Фамилия пользователя</label> <input
              id="last_name"
              type="text"
              class="form-control"
              placeholder="Фамилия пользователя"
              v-model="last_name"
          />
          </div>
          <div class="col-4">
            <label for="first_name">Имя пользователя</label> <input
              id="first_name"
              type="text"
              class="form-control"
              placeholder="Имя пользователя"
              v-model="first_name"
          />
          </div>
          <div class="col-4">
            <label for="middle_name">Отчество пользователя</label> <input
              id="middle_name"
              type="text"
              class="form-control"
              placeholder="Отчество пользователя"
              v-model="middle_name"
          />
          </div>
          </div>
            <div class="row">
            <div class="col-6">
            <label for="organization">Организация</label> <input
                id="organization"
                type="text"
                class="form-control"
                placeholder="Организация"
                v-model="organization"
            >
          </div>
            <div class="col-6">
            <label for="position">Должность</label> <input
                id="position"
                type="text"
                class="form-control"
                placeholder="Должность"
                v-model="position"
            >
              </div>
            </div>
          <div class="row">
          <div class="col-4">
            <label for="email">email</label> <input
              id="email"
              type="text"
              class="form-control"
              placeholder="email"
              v-model="email"
          />
          </div>
          <div class="col-4">
            <label for="phone">Телефон</label> <input
              id="phone"
              type="text"
              class="form-control"
              placeholder="Телефон"
              v-model="phone"
          />
          </div>
          <div class="col-4">
            <label for="fax">Факс</label> <input
              id="fax"
              type="text"
              class="form-control"
              placeholder="Факс"
              v-model="fax"
          />
            </div>
          </div>
          <div class="mb-3">
            <label for="user-role"> Уровень доступа</label>
            <select class="form-select" id="user-role" v-model="role">
            <option value="Admin">Администратор</option>
            <option value="Operator">Оператор</option>
            <option value="UNTIiIT">УНТИиИТ</option>
            <option value="Central">Центральный Аппарат Росавтодора</option>
            <option value="FKU">ФКУ (подведомственные организации)</option>
            <option value="User" selected>Пользователь</option>
          </select>
          </div>
            </span>
          <div class="row" v-show="showPassword">
            <div class="col-6">
              <label for="user-password">Пароль</label> <input
                type="password"
                class="form-control"
                aria-label="Пароль"
                id="user-password"
                v-model="password"
            ></div>
            <div class="col-6">
              <label for="user-password">Подтверждение пароля</label> <input
                type="password"
                class="form-control"
                aria-label="Пароль"
                id="user-password-confirmation"
                v-model="passwordConfirmation"
            >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" @click.prevent="closeModal">Закрыть</button>
          <button type="button" class="btn btn-primary" @click.prevent="update">Сохранить изменения</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bootstrap from "bootstrap/dist/js/bootstrap.bundle";

export default {
  name: "TheUserModal",
  emits: [
    'update'
  ],
  props: {
    type: String,
    title: String,
    id: Number,
    showPassword: Boolean,
    showUserInfo: Boolean
  },
  data() {
    return {
      login: null,
      last_name: null,
      first_name: null,
      middle_name: null,
      organization: null,
      position: null,
      email: null,
      phone: null,
      fax: null,
      role: null,
      userModal: null,
      password: null,
      passwordConfirmation: null
    }
  },
  methods: {
    openModal(user) {
      if (user != null) {
        this.login = user.login
        this.last_name = user.last_name
        this.first_name = user.first_name
        this.middle_name = user.middle_name
        this.organization = user.organization
        this.position = user.position
        this.email = user.email
        this.phone = user.phone
        this.fax = user.fax
        this.role = user.role
      }
      this.password = null
      this.passwordConfirmation = null
      this.userModal.show()
    },
    closeModal() {
      this.userModal.hide()
    },
    update() {
      let user = {
        id: this.id,
        login: this.login,
        last_name: this.last_name,
        first_name: this.first_name,
        middle_name: this.middle_name,
        organization: this.organization,
        position: this.position,
        email: this.email,
        phone: this.phone,
        fax: this.fax,
        role: this.role
      }
      this.$emit('save',
          this.type,
          user,
          this.password,
          this.passwordConfirmation
      )
      this.userModal.hide()
    }
  },
  mounted() {
    this.userModal = new bootstrap.Modal('#UserModal', {})
  }
}
</script>

<style scoped>
form {
  margin-top: 1px;
  margin-bottom: 1px;
}

</style>
