<template>
  <tr>
    <th scope="row" :id="id">{{ number + 1 }}</th>
    <td>{{ login }}</td>
    <td>{{ fio }}</td>
    <td>{{ organization }}</td>
    <td>{{ position }}</td>
    <td>{{ email }}</td>
    <td>{{ phone }}</td>
    <td>{{ role }}</td>
    <td>
      <div class="btn-group-sm" role="group" aria-label="Basic outlined example" title="Изменить данные">
        <button type="button" class="btn btn-outline-info" @click="edit">
          <BaseIcon
              name="userEdit"
          />
        </button>
        <button type="button" class="btn btn-outline-warning" title="сбросить пароль" @click.prevent="resetPassword">
          <BaseIcon
              name="password"
          />
        </button>
        <button type="button" class="btn btn-outline-danger" title="удалить пользователя" @click.prevent="remove">
          <BaseIcon
              name="remove"
          />
        </button>
      </div>
    </td>
  </tr>
</template>

<script>
import BaseIcon from "@/components/BaseIcon";

export default {
  emits: [
    'edit',
    'remove',
    'resetPassword'
  ],
  components: {BaseIcon},
  props: {
    id: Number,
    number: Number,
    login: String,
    fio: String,
    organization: String,
    email: String,
    position: String,
    phone: String,
    role: String,
  },
  methods: {
    edit() {
      this.$emit("edit", this.id)
    },
    resetPassword() {
      this.$emit("resetPassword", this.id)
    },
    remove() {
      this.$emit("remove", this.id)
    }
  },
  name: "UserRow"
}
</script>

<style scoped>

</style>
