<template>
  <div class="container">
    <SearchWindow
        title="поиск по атс дх"
        extended-title="по реквизитам организации"
        :alt-button="altButton"
        all-search=true
        :search-helper="rows == null"
        ref="searchWindow"
        @search="search"
        @clean="clean"
    >
      <div class="row">
        <div class="col-2 mt-0"><label>Наименование организации</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="organizationName" id="organizationName" type="search" name="organizationName"
                 class="form-control">
        </div>
        <div class="col-2 mt-0"><label>Административная единица</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="district" id="admUnit" name="admUnit" class="form-select">
            <option selected value="null">Все административные единицы</option>
            <option v-for="(item,index) in districts" :key="index" :value="item.name">{{ item.name }}</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Вид деятельности</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="typeBusiness" id="typeBusiness" type="search" name="typeBusiness" class="form-control">
        </div>
        <div class="col-2 mt-1"><label>Группа организаций</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="organizationGroup" id="organizationGroup" name="organizationGroup" class="form-select">
            <option selected value="null">Все группы организаций</option>
            <option v-for="(item,index) in organizationGroups" :key="index" :value="item.id">{{ item.name }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4"><label><strong>Контактные данные организации:</strong></label></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Почтовый адрес</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="organizationAddress" id="organizationAddress" type="search" name="organizationAddress"
                 class="form-control">
        </div>
        <div class="col-2 mt-0"><label>Телефон</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="organizationPhone" id="organizationPhone" type="search" name="organizationPhone"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Сайт организации</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="organizationSite" id="organizationSite" type="search" name="organizationSite"
                 class="form-control">
        </div>
        <div class="col-2 mt-0"><label>Электронная почта</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="organizationEmail" id="organizationEmail" type="search" name="organizationEmail"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-6"><label><strong>Контактные данные руководителя организации:</strong></label></div>
        <div class="col-2">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Ф.И.О.</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="contactName" id="contactName" type="search" name="contactName" class="form-control">
        </div>
        <div class="col-2 mt-0"><label>Телефон</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="contactPhone" id="contactPhone" type="search" name="contactPhone" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Должность</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="contactPosition" id="contactPosition" name="contactPosition" class="form-select">
            <option selected value="null">Все должности</option>
            <option v-for="(item,index) in officePositions" :key="index" :value="item.id">{{ item.name }}</option>
          </select>
        </div>
        <div class="col-2 mt-0"><label>Электронная почта</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="contactEmail" id="contactEmail" type="search" name="contactEmail" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
      @clipboard="clipboard"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";

export default {
  name: "TheAtsDhSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    DetailTable
  },
  data() {
    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы и информации в Базе Данных АТС ДХ',
      organizationGroups: list.organizationGroups,
      districts: list.districts,
      officePositions: list.officePositions,
      organizationName: null,
      organizationGroup: null,
      typeBusiness: null,
      district: null,
      organizationAddress: null,
      organizationPhone: null,
      organizationSite: null,
      organizationEmail: null,
      contactName: null,
      contactPosition: null,
      contactPhone: null,
      contactEmail: null,
      detailTr: null,
      rows: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Название',
          field: 'name'
        },
        {
          title: 'Вид деятельности',
          field: 'type_business'
        },
        {
          title: 'Почтовой адрес',
          field: 'address'
        },
        {
          title: 'Сайт',
          field: 'site'
        },
        {
          title: 'Электроная почта',
          field: 'email'
        },
        {
          title: 'Контактное лицо',
          field: 'person'
        },
        {
          title: 'Административная единица',
          field: 'district'
        },
        {
          title: 'Группа организаций:',
          field: 'group'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        organizationName: this.organizationName,
        organizationGroup: this.organizationGroup,
        typeBusiness: this.typeBusiness,
        district: this.district,
        organizationAddress: this.organizationAddress,
        organizationPhone: this.organizationPhone,
        organizationSite: this.organizationSite,
        organizationEmail: this.organizationEmail,
        contactName: this.contactName,
        contactPosition: this.contactPosition,
        contactPhone: this.contactPhone,
        contactEmail: this.contactEmail
      }
      this.axios
          .post('/api/public-search/ats-dh', data)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    name: rawRows[i].name,
                    type_business: rawRows[i].type_business,
                    address: rawRows[i].address,
                    site: rawRows[i].site,
                    email: rawRows[i].email,
                    person: rawRows[i].person,
                    district: rawRows[i].district,
                    group: rawRows[i].group,
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public-search/ats-dh/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.organizationName = null
      this.organizationGroup = null
      this.typeBusiness = null
      this.district = null
      this.organizationAddress = null
      this.organizationPhone = null
      this.organizationSite = null
      this.organizationEmail = null
      this.contactName = null
      this.contactPosition = null
      this.contactPhone = null
      this.contactEmail = null
    }
  }
}
</script>

<style scoped>

</style>
