<template>
  <div class="col-3">
    <div class="text-center">
      <router-link :to="{name: link}"> <img class="icon" :src="imgSrc"> </router-link>
    </div>
    <div class="text-center mt-3 mb-3">
      <div class="second-content-container">
      <span class="second-header2">
        <strong>{{ title }} <br>
          <span class="second-content-systems">{{ shortTitle }}</span>
        </strong>
      </span> <br><br> <span class="second-content">{{ paragraph }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    link: String,
    imgSrc: String,
    title: String,
    shortTitle: String,
    paragraph: String
  },
  name: 'AboutSearchBlock'
}
</script>

<style scoped>

</style>
