<template>
  <div class="row mb-2 mt-2">
    <div class="col-3 text-center">
      <span class="main-header"><strong>ГЛОБАЛЬНЫЙ ПОИСК:</strong></span>
    </div>
    <div class="col-1 text-left">
    </div>
    <div class="col-8 text-left">
      <span class="main-header"><strong>ЕПС НТО — ЕДИНАЯ ПОИСКОВАЯ СИСТЕМА</strong></span>
    </div>
  </div>
  <div class="row">
    <div class="col-2 text-right">
      <router-link :to="{name: 'global-search'}">
        <img class="icon" src="img/newdesign/icons_nto-33.png">
      </router-link>
    </div>
    <div class="col-2 text-left">
            <span class="blue-text">Поиск по всем <br> базам данных, <br> входящих в ЕПС&nbsp;НТО: <br> НИОКТР,<br>
                ЭБ&nbsp;НТД,<br> ЭБ&nbsp;ПАТЕНТЫ, <br> АТС&nbsp;ДХ</span>
    </div>
    <div class="col-7 text-left">
            <span class="blue-text">Предназначена для поддержания единого информационного пространства в области учета,
                контроля и вовлечения в хозяйственный оборот результатов научно-технической деятельности Росавтодора в
                рамках реализации мероприятий подпрограммы «Дорожное хозяйство» государственной программы
                Российской Федерации «Развитие транспортной системы» путем объединения функционирующих в
                настоящее время отдельных отраслевых информационных ресурсов
                с возможностью поиска как глобального по всем отраслевым информационным ресурсам сразу, так и
                расширенного в зависимости от области специализации запрашиваемых данных</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutBlock'
}
</script>

<style scoped>

</style>
