<template>
  <div class="main-bg">
    <div class="row mb-3 mt-3">
      <div class="col-4 text-center">
        <span class="second-header"><strong>РАСШИРЕННЫЙ ПОИСК ПО БАЗАМ ДАННЫХ:</strong></span>
      </div>
      <div class="col-8 text-center">
      </div>
    </div>
    <div class="row">
      <about-search-block v-for="item in itemsAboutSearchBlocks"
                          :key = item.id
                          :title=item.title
                          :img-src=item.imgSrc
                          :link=item.link
                          :paragraph=item.paragraph
                          :short-title=item.shortTitle
      ></about-search-block>
    </div>
  </div>
</template>

<script>
import AboutSearchBlock from '@/components/landing/AboutSearchBlock'

export default {
  name: 'AboutSearch',
  data () {
    return {
      itemsAboutSearchBlocks: [
        {
          id: 1,
          imgSrc: 'img/newdesign/icons_nto-46.png',
          link: 'nioktr-search',
          title: 'Научно-Исследовательские, Опытно-Конструкторские и Технологические Работы',
          shortTitle: 'НИОКТР',
          paragraph: 'Содержит сведения по работам, проводимым в рамках государственных контрактов с ФДА,' +
            ' результатам данных работ и их государственной регистрации'
        },
        {
          id: 2,
          imgSrc: 'img/newdesign/icons_nto-47.png',
          link: 'eb-ntd-search',
          title: 'Электронная библиотека',
          shortTitle: 'ЭБ НТД',
          paragraph: 'Содержит сведения по действующим в дорожной отрасли Нормативно-Техническим Документам (НТД) с ' +
            'электронными видами текстов отраслевых НТД, а также другие научные и справочно-информационные материалы'
        },
        {
          id: 3,
          imgSrc: 'img/newdesign/icons_nto-48.png',
          link: 'eb-patents-search',
          title: 'Подсистема «Патенты»',
          shortTitle: 'ЭБ ПАТЕНТЫ',
          paragraph: 'Содержит сведения о патентах на изобретения, относящихся к сфере дорожного хозяйства'
        },
        {
          id: 4,
          imgSrc: 'img/newdesign/icons_nto-49.png',
          link: 'ats-dh-search',
          title: 'Адресно-телефонный справочник',
          shortTitle: 'АТС ДХ',
          paragraph: 'Содержит сведения по организациям, относящимся к сфере дорожного хозяйства'
        }
      ]
    }
  },
  components: {
    'about-search-block': AboutSearchBlock
  }
}
</script>

<style scoped>

</style>
