<template>
  <div class="ms-2 me-auto">
    <span class="fw-bold">Номер свидетельства в отраслевом фонде РИД:</span>
    <input type="text" name="dataKey" class="form-control" :value="dataKey" @input="$emit('update:dataKey', $event.target.value)">
  </div>
  <div class="ms-2 me-auto">
    <div class="fw-bold">Наименование объекта:</div>
    <input type="text" name="dataName" class="form-control" :value="dataName" @input="$emit('update:dataName', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <div class="fw-bold">Наименование контракта:</div>
    <input type="text" name="dataContractName" class="form-control" :value="dataContractName" @input="$emit('update:dataContractName', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Номер контракта:</span>
    <input type="text" name="dataContractNumber" class="form-control" :value="dataContractNumber" @input="$emit('update:dataContractNumber', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Дата заключения контракта:</span>
    <input type="date" name="dataContractDate" class="form-control" :value="dataContractDate" @input="$emit('update:dataContractDate', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <div class="fw-bold">Роспатент: Вид документа регистрации:</div>
    <input type="text" name="dataPatentName" class="form-control" :value="dataPatentName" @input="$emit('update:dataPatentName', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <div class="fw-bold">Роспатент: Вид документа регистрации:</div>
    <input type="text" name="dataPatentNumber" class="form-control" :value="dataPatentNumber" @input="$emit('update:dataPatentNumber', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Роспатент: Дата регистрации документа:</span>
    <input type="date" name="dataPatentDate" class="form-control" :value="dataPatentDate" @input="$emit('update:dataPatentDate', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Минобрнауки: Номер регистрационного свидетельства на объект учета:</span>
    <input type="text" name="dataCertificateNumber" class="form-control" :value="dataCertificateNumber" @input="$emit('update:dataCertificateNumber', $event.target.value)">
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Минобрнауки: Дата регистрационного свидетельства на объект учета:</span>
    <input type="date" name="dataCertificateDate" class="form-control" :value="dataCertificateDate" @input="$emit('update:dataCertificateDate', $event.target.value)">
  </div>
  <div class="ms-2 me-auto">
    <div class="fw-bold">Описание РИД:</div>
    <textarea  name="dataCertificateNumber" class="form-control" :value="dataDescription"  @input="$emit('update:dataDescription', $event.target.value)"/>
  </div>
</template>

<script>
export default {
  name: "RegistryModalBodyView",
  props: [
    'dataKey',
    'dataName',
    'dataContractName',
    'dataContractNumber',
    'dataContractDate',
    'dataPatentName',
    'dataPatentNumber',
    'dataPatentDate',
    'dataCertificateNumber',
    'dataCertificateDate',
    'dataDescription'
  ],
  emits: [
    'update:dataKey',
    'update:dataName',
    'update:dataContractName',
    'update:dataContractNumber',
    'update:dataContractDate',
    'update:dataPatentName',
    'update:dataPatentNumber',
    'update:dataPatentDate',
    'update:dataCertificateNumber',
    'update:dataCertificateDate',
    'update:dataDescription'
  ]
}
</script>

<style scoped>

</style>
