<template>
  <div class="ms-2 me-auto">
    <span class="fw-bold">Номер свидетельства в отраслевом фонде РИД:</span> {{ dataKey }}
  </div>
  <div class="ms-2 me-auto">
    <div class="fw-bold">Наименование объекта:</div>
    {{ dataName }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <div class="fw-bold">Наименование контракта:</div>
    {{ dataContractName }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Номер контракта:</span> {{ dataContractNumber }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Дата заключения контракта:</span> {{ dataContractDate }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <div class="fw-bold">Роспатент: Вид документа регистрации:</div>
    {{ dataPatentName }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Роспатент: Номер документа регистрации:</span> {{ dataPatentNumber }}
  </div>
  <div class="ms-2 me-auto border-bottom">
    <span class="fw-bold">Роспатент: Дата регистрации документа:</span> {{ dataPatentDate }}
  </div>
  <span v-if="dataCertificateNumber !== null ">
    <div class="ms-2 me-auto border-bottom">
      <span class="fw-bold">Минобрнауки: Номер регистрационного свидетельства на объект учета:</span>
      {{ dataCertificateNumber }}
    </div>
    <div class="ms-2 me-auto border-bottom">
      <span class="fw-bold">Минобрнауки: Дата регистрационного свидетельства на объект учета:</span>
      {{ dataCertificateDate }}
    </div>
    </span>
  <div class="ms-2 me-auto">
    <div class="fw-bold">Описание РИД:</div>
    <p>{{ dataDescription }}</p>
  </div>
</template>

<script>
export default {
  name: "RegistryModalBodyView",
  props: [
    'dataKey',
    'dataName',
    'dataContractName',
    'dataContractNumber',
    'dataContractDate',
    'dataPatentName',
    'dataPatentNumber',
    'dataPatentDate',
    'dataCertificateNumber',
    'dataCertificateDate',
    'dataDescription'
  ]
}
</script>

<style scoped>

</style>
