<template>
  <tr>
    <td>
      {{ id }}
    </td>
    <td>
      {{ name }}
    </td>
    <td>
      {{ access }}
    </td>
  </tr>
</template>
<script>
export default {
  name: 'AdminRoleItems',
  props: ['id', 'name', 'access'],
}
</script>
<style scoped>

</style>