<template>
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя роли</th>
      <th scope="col">Доступы</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

</div>
</template>

<script>
export default {
  name: "TheRole"
}
</script>

<style scoped>

</style>
