<template>
  <div class="container-fluid bg-gradient-primary mt-2">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item" v-for="(item,index) in navItems" :key="index">
        <router-link class="nav-link" :to="{name:`information-${item.link}-search`}" exact-active-class="active">
          {{ item.title }}
        </router-link>
      </li>
    </ul>
    <router-view name="searchInformationView" @loader="viewLoader"></router-view>
  </div>
</template>

<script>

export default {
  name: "TheInformationSearch",
  data() {
    return {
      navItems: [
        {link: 'monitoring', title: 'МОНИТОРИНГ ГК'},
        {link: 'realization', title: 'РЕАЛИЗАЦИЯ ГК'},
        {link: 'act', title: 'АКТЫ/ПРЕТЕНЗИИ'},
        {link: 'contractor', title: 'СПРАВКА ПО ИСПОЛНИТЕЛЯМ'},
        {link: 'form', title: 'ТИПОВЫЕ ФОРМЫ'},
        {link: 'classification', title: 'КЛАССИФИКАЦИЯ НИОКР'},
        {link: 'project', title: 'МОНИТОРИНГ ПРОЕКТОВ НТД'},
        {link: 'assertion', title: 'УТВЕРЖДЕНИЕ НТД'},
        {link: 'balance', title: 'ПОСТАНОВКА НА БАЛАНС ИС ФДА'}
      ]
    }
  },
  methods: {
    viewLoader(view) {
      this.$emit('loader', view)
    }
  }
}
</script>

<style scoped>

</style>
