<template>
  <div class="container">
    <SearchWindow
        title="поиск по ЭБ НТД"
        extended-title="по ЭБ НТД"
        :alt-button="altButton"
        :search-helper="rows == null"
        all-search=true
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-1 mt-1"><label>Вид документов</label></div>
        <div class="form-group col-3 gy-2">
          <select v-model="typeDoc" id="typeDoc" name="typeDoc" class="form-select">
            <option selected>Все виды</option>
            <option v-for="(item,index) in typesDoc" :key="index" :value="item">{{ item }}</option>
          </select></div>
        <div class="col-1 mt-1"><label>Год издания с:</label></div>
        <div class="form-group col-1 gy-2">
          <input v-model="yearPublishedFrom" id="yearPublishedFrom" type="search" name="yearPublishedFrom"
                 class="form-control">
        </div>
        <div class="col-1 mt-3"><label>По:</label></div>
        <div class="form-group col-1 gy-2">
          <input v-model="yearPublishedTo" id="yearPublishedTo" type="search" name="yearPublishedTo"
                 class="form-control">
        </div>
        <div class="col-1 mt-1"><label>История НТД</label></div>
        <div class="form-group col-1 gy-2">
          <select v-model="historyNTD" id="historyNTD" name="historyNTD" class="form-select">
            <option></option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
          </select>
        </div>
        <div class="col-1 mt-3"><label>Действует</label></div>
        <div class="form-group col-1 gy-2">
          <select v-model="enabled" id="enabled" name="enabled" class="form-select">
            <option></option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mt-1"><label>Дата ввода в действие НТД с:</label></div>
        <div class="col-6 mt-1"><label>По дату ввода НТД в действие:</label></div>
        <div class="form-group col-6">
          <input v-model="dateEntryFrom" id="dateEntryFrom" type="date" name="dateEntryFrom" class="form-control">
        </div>
        <div class="form-group col-6">
          <input v-model="dateEntryTo" id="dateEntryTo" type="date" name="dateEntryTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="row">
          <div class="col-12">
            <BaseIcon name="alert" class="text-warning h1"/>
            <i> Поиск по дате утверждения актуален только для ГОСТ, ГОСТ Р, ПНСТ и ОДМ, разработанных по заказу ФДА</i>
          </div>
        </div>
        <div class="col-6 mt-1"><label>Дата утверждения НТД с:</label></div>
        <div class="col-6 mt-1"><label>По дату утверждения НТД:</label></div>
        <div class="form-group col-6">
          <input v-model="dateApprovalFrom" id="dateApprovalFrom" type="date" name="dateApprovalFrom"
                 class="form-control">
        </div>
        <div class="form-group col-6">
          <input v-model="dateApprovalTo" id="dateApprovalTo" type="date" name="dateApprovalTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Наименование документа</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="nameDoc" id="nameDoc" type="search" name="nameDoc" class="form-control"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-5 mt-0"><label>Классификатор межгосударственных стандартов, документов национальной системы
                                       стандартизации и отраслевых дорожных методических документов</label></div>
        <div class="form-group col-7 gy-2">
          <select v-model="qualifier" id="qualifier" name="qualifier" class="form-select">
            <option selected>Все разделы Классификатора</option>
            <option v-for="item in qualifiers" :key="item.id" :value="item.id">
              {{ item.name }}
            </option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-0"><label>Тематика по уровню регулирования</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="regulationTopic" id="regulationTopic" name="regulationTopic" class="form-select">
            <option selected>Все уровни регулирования</option>
            <option v-for="item in regulations" :key="item.id" :value="item.id">
              {{ item.name }}
            </option>
          </select></div>
        <div class="col-2 mt-0"><label>Тематика по функциональной ориентации и объекту нормирования</label></div>
        <div class="form-group col-4 gy-2">
          <select v-model="functionTopic" id="functionTopic" name="functionTopic" class="form-select">
            <option selected>Все функциональные ориентации и объекты нормирования</option>
            <option v-for="item in functions" :key="item.id" :value="item.id">
              {{ item.name }}
            </option>
          </select></div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-1 mt-0"><label>Номер НТД</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="numberNTD" id="numberNTD" type="search" name="numberNTD" class="form-control">
        </div>
        <div class="col-1 mt-0"><label>Разработ-чик НТД</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="developerNTD" id="developerNTD" type="search" name="developerNTD" class="form-control"></div>
        <div class="col-1 mt-0"><label>Разработка ФДА</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="developFDA" id="developFDA" name="developFDA" class="form-select">
            <option value="null"></option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
          </select>
        </div>
        <div class="col-1 mt-0"><label>Входит в ФТРИС</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="entryFTRIS" id="entryFTRIS" name="entryFTRIS" class="form-select">
            <option value="null"></option>
            <option value="true">Да</option>
            <option value="false">Нет</option>
          </select></div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :admin="admin"
      @getDetail="getDetail"
      @excel="excel"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>
<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import DetailModal from "@/components/DetailModal";
import list from "@/plugins/list";
import BaseIcon from "@/components/BaseIcon";
import TableView from "@/components/table/TableView";
import DetailTable from "@/components/search/components/DetailTable";


export default {
  name: "TheEbNtdSearch",
  emits: [
    'loader'
  ],
  components: {
    SearchWindow,
    BaseIcon,
    TableView,
    DetailModal,
    DetailTable
  },
  data() {
    const topics = list.topics;
    const qualifiers = topics.filter(item => item.type === 2).map(item => {
      return {
        id: item.id,
        name: item.code + ' ' + item.name
      }
    });
    const regulations = topics.filter(item => item.type === 1 && item.code.charAt(0) === '1').map(item => {
      return {
        id: item.id,
        name: item.code + ' ' + item.name
      }
    });
    const functions = topics.filter(item => item.type === 1 && item.code.charAt(0) === '2').map(item => {
      return {
        id: item.id,
        name: item.code + ' ' + item.name
      }
    });

    let topicDictionary = [];
    topics.forEach((item) => {
      let type = 0;
      if (item.type === 2) {
        type = 1
      }
      if (item.type === 1 && item.code.charAt(0) === '1') {
        type = 2
      }
      if (item.type === 1 && item.code.charAt(0) === '2') {
        type = 3
      }
      topicDictionary[item.id] = {
        name: item.code + ' ' + item.name,
        type
      }
    });


    return {
      altButton: 'Введите Ваш запрос и нажмите кнопку Поиск. Запрос осуществляется по сопоставлению введенной фразы ' +
          'и информации в Базе Данных ЭБ НТД',
      typesDoc: list.typesDoc,
      qualifiers,
      topicDictionary,
      regulations,
      functions,
      detailTr: null,
      typeDoc: null,
      yearPublishedFrom: null,
      yearPublishedTo: null,
      historyNTD: null,
      enabled: null,
      dateEntryFrom: null,
      dateEntryTo: null,
      dateApprovalFrom: null,
      dateApprovalTo: null,
      nameDoc: null,
      qualifier: null,
      regulationTopic: null,
      functionTopic: null,
      numberNTD: null,
      developerNTD: null,
      developFDA: null,
      entryFTRIS: null,
      rows: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Вид документа',
          field: 'type_doc'
        },
        {
          title: 'Номер документа',
          field: 'number'
        },
        {
          title: 'Наименование',
          field: 'title'
        },
        {
          title: 'Год издания',
          field: 'year_published'
        },
        {
          title: 'Разработчик',
          field: 'developer'
        },
        {
          title: 'Входит в ФТРиС',
          field: 'is_ftris'
        },
        {
          title: 'Разработано для Росавтодора',
          field: 'contract_number'
        },
        {
          title: 'Классификатор стандартов и отраслевых документов',
          field: 'qualifiers'
        },
        {
          title: 'Тематика по уровню регулирования',
          field: 'regulation_topic'
        },
        {
          title: 'Тематика по функциональной ориентации и объекту нормирования',
          field: 'function_topic'
        }
      ]
    }
  },
  methods: {
    search(allSearchQuery) {
      this.$emit('loader', true)
      const data = {
        allSearchQuery: allSearchQuery,
        typeDoc: this.typeDoc,
        yearPublishedFrom: this.yearPublishedFrom,
        yearPublishedTo: this.yearPublishedTo,
        historyNTD: this.historyNTD,
        enabled: this.enabled,
        dateEntryFrom: this.dateEntryFrom,
        dateEntryTo: this.dateEntryTo,
        dateApprovalFrom: this.dateApprovalFrom,
        dateApprovalTo: this.dateApprovalTo,
        nameDoc: this.nameDoc,
        qualifier: this.qualifier,
        regulationTopic: this.regulationTopic,
        functionTopic: this.functionTopic,
        numberNTD: this.numberNTD,
        developerNTD: this.developerNTD,
        developFDA: this.developFDA,
        entryFTRIS: this.entryFTRIS
      }
      this.axios
          .post('/api/public-search/eb-ntd', data)
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              let qualifierForRow = []
              let regulationForRow = []
              let functionForRow = []
              if (rawRows[i].topics) {
                rawRows[i].topics
                    .split(",")
                    .map((item) => this.topicDictionary[item.trim()])
                    .forEach(item => {
                          switch (item.type) {
                            case 1:
                              qualifierForRow.push(item.name);
                              break;
                            case 2:
                              regulationForRow.push(item.name);
                              break;
                            case 3:
                              functionForRow.push(item.name);
                              break;
                          }
                        }
                    )
              }
              rows.push(
                  {
                    id: rawRows[i].id,
                    index: i + 1,
                    type_doc: rawRows[i].type_doc,
                    number: rawRows[i].number,
                    title: rawRows[i].title,
                    year_published: rawRows[i].year_published,
                    developer: rawRows[i].developer,
                    is_ftris: rawRows[i].is_ftris ? '√' : '-',
                    contract_number: rawRows[i].contract_number,
                    qualifiers: qualifierForRow && qualifierForRow.join("<br>"),
                    regulation_topic: regulationForRow && regulationForRow.join("<br>"),
                    function_topic: functionForRow && functionForRow.join("<br>")
                  }
              )
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      this.axios
          .get('/api/public-search/eb-ntd/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
    clean() {
      this.typeDoc = null
      this.yearPublishedFrom = null
      this.yearPublishedTo = null
      this.historyNTD = null
      this.enabled = null
      this.dateEntryFrom = null
      this.dateEntryTo = null
      this.dateApprovalFrom = null
      this.dateApprovalTo = null
      this.nameDoc = null
      this.qualifier = null
      this.functionTopic = null
      this.regulationTopic = null
      this.numberNTD = null
      this.developerNTD = null
      this.developFDA = null
      this.entryFTRIS = null
    },
    excel(allSearchQuery){
      const data = {
        allSearchQuery: allSearchQuery,
        typeDoc: this.typeDoc,
        yearPublishedFrom: this.yearPublishedFrom,
        yearPublishedTo: this.yearPublishedTo,
        historyNTD: this.historyNTD,
        enabled: this.enabled,
        dateEntryFrom: this.dateEntryFrom,
        dateEntryTo: this.dateEntryTo,
        dateApprovalFrom: this.dateApprovalFrom,
        dateApprovalTo: this.dateApprovalTo,
        nameDoc: this.nameDoc,
        qualifier: this.qualifier,
        regulationTopic: this.regulationTopic,
        functionTopic: this.functionTopic,
        numberNTD: this.numberNTD,
        developerNTD: this.developerNTD,
        developFDA: this.developFDA,
        entryFTRIS: this.entryFTRIS
      }
      this.axios
          .post('/api/public-search/eb-ntd/excel',data, { responseType: 'blob' })
          .then(response => {
            const disposition = response.headers['content-disposition'];
            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
            var matches = filenameRegex.exec(disposition);
            let filename;
            if (matches != null && matches[1]) {
              filename = matches[1].replace(/['"]/g, '');
            }
            const blob = new Blob([response.data],
                { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' })
            const link = document.createElement('a')
            link.href = URL.createObjectURL(blob)
            link.download = filename;
            link.click()
            URL.revokeObjectURL(link.href)
          })
    }
  }
}
</script>

<style scoped>

</style>
