<template>
  <div class="container">
    <SearchWindow
        title="ПОИСК ПО ВНЕДРЕНИЮ НТД"
        ref="searchWindow"
        :search-helper="rows == null"
        @search="search"
        @clean="clean"
    >
      <div class="row">
        <div class="col-2 mt-3"><label>Уникальный номер отчета</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" :value="uuid">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <hr>
        </div>
        <div class="col-4"><strong>Данные о внедрении НТД:</strong></div>
        <div class="col-4">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Вид НТД</label></div>
        <div class="form-group col-4 gy-2">
          <select class="form-select" v-model="typeNtd">
            <option :value="null"></option>
            <option value="ГОСТ">ГОСТ</option>
            <option value="ГОСТ Р">ГОСТ Р</option>
            <option value="ПНСТ">ПНСТ</option>
            <option value="ОДМ">ОДМ</option>
          </select>
        </div>
        <div class="col-2 mt-3"><label>Номер НТД</label></div>
        <div class="form-group col-4 gy-2">
          <input type="search" class="form-control" v-model="numberNtd"/>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Наименование НТД</label></div>
        <div class="form-group col-10 gy-2">
          <div class="suggestions-container">
            <input type="search" class="form-control" v-model="titleNtd">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Наименование ФКУ</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="titleFku">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-2"><label>Номер закупки</label></div>
        <div class="form-group col-4 gy-2">
          <input type="search" class="form-control" v-model="numberPurchase">
        </div>
        <div class="col-2 mt-2"><label>Регистрационный номер контракта</label></div>
        <div class="form-group col-4 gy-2">
          <input type="search" class="form-control" v-model="numberContract">
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения контракта с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения контракта:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения работ с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения работ:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input type="date" class="form-control" v-model="dateStartFrom">
        </div>
        <div class="form-group col-3">
          <input type="date" name="referal" class="form-control" v-model="dateStartTo">
        </div>
        <div class="form-group col-3">
          <input type="date" class="form-control" v-model="dateFinishFrom">
        </div>
        <div class="form-group col-3">
          <input type="date" class="form-control" v-model="dateFinishTo">
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Наименование организации-исполнителя</label></div>
        <div class="form-group col-9 gy-2">
          <input type="search" class="form-control" v-model="developer">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Наименование работ</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="title">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Место проведения работ</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="place">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-3"><label>Вид работ</label></div>
        <div class="form-group col-10 gy-2">
          <input type="search" class="form-control" v-model="type">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="detail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr"/>
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import privateApi from "@/plugins/private";
import DetailTable from "@/components/search/components/DetailTable.vue";
import DetailModal from "@/components/DetailModal.vue";
import TableView from "@/components/table/TableView.vue";

export default {
  name: "FindNtd",
  components: {
    TableView, DetailModal, DetailTable,
    SearchWindow
  },
  data() {
    return {
      uuid: null,
      typeNtd: null,
      numberNtd: null,
      titleNtd: null,
      titleFku: null,
      numberPurchase: null,
      numberContract: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      developer: null,
      title: null,
      place: null,
      type: null,
      rows: null,
      detailTr: null,
      columns: [
        {
          title: 'uuid',
          field: 'uuid'
        },
        {
          title: 'Наименование ФКУ',
          field: 'titleFku'
        },
        {
          title: 'Номер закупки',
          field: 'numberPurchase'
        },
        {
          title: 'Наименование темы работ',
          field: 'title'
        },
        {
          title: 'Регистрационный номер контракта',
          field: 'numberContract'
        },
        {
          title: 'Дата заключения контракта',
          field: 'dateStart'
        },
        {
          title: 'Дата завершения работ',
          field: 'dateFinish'
        },
        {
          title: 'Наименование организации-исполнителя',
          field: 'developer'
        },
        {
          title: 'Наименование работ',
          field: 'title'
        },
        {
          title: 'Место проведения работ',
          field: 'place'
        },
        {
          title: 'Вид работ',
          field: 'type'
        },
        {
          title: 'Вид НТД',
          field: 'typeNtd'
        },
        {
          title: 'Номер НТД',
          field: 'numberNtd'
        },
        {
          title: 'Наименование НТД',
          field: 'titleNtd'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      let request = {
        uuid: this.uuid,
        typeNtd: this.typeNtd,
        numberNtd: this.numberNtd,
        titleNtd: this.titleNtd,
        titleFku: this.titleFku,
        numberPurchase: this.numberPurchase,
        numberContract: this.numberContract,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo,
        developer: this.developer,
        title: this.title,
        place: this.place,
        type: this.type
      }
      privateApi.post('/api/ntd/search', request)
          .then(response => {
            let rawRows = response.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push({
                id: rawRows[i].uuid,
                uuid: rawRows[i].uuid,
                typeNtd: rawRows[i].typeNtd,
                numberNtd: rawRows[i].numberNtd,
                titleNtd: rawRows[i].titleNtd,
                titleFku: rawRows[i].titleFku,
                numberPurchase: rawRows[i].numberPurchase,
                numberContract: rawRows[i].numberContract,
                dateStart: rawRows[i].dateStart,
                dateFinish: rawRows[i].dateFinish,
                developer: rawRows[i].developer,
                title: rawRows[i].title,
                place: rawRows[i].place,
                type: rawRows[i].type
              })
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    },
    clean() {
      this.uuid = null
      this.typeNtd = null
      this.numberNtd = null
      this.titleNtd = null
      this.titleFku = null
      this.numberPurchase = null
      this.numberContract = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
      this.developer = null
      this.title = null
      this.place = null
      this.type = null
    },
    detail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/ntd/detail/' + id)
          .then(res => {
            this.detailTr = res.data.sort((a, b) => a.index - b.index)
            this.$refs.detailModal.openModal()
            this.$emit('loader', false)
          })
    },
  }
}
</script>

<style scoped>

</style>
