<template>
  <div class="container">
    <SearchWindow
        title="ВНЕДРЕНИЕ НТД (ФКУ)"
        ref="searchWindow"
        :search-helper="rows == null"
        :showButtons="false"
    >
      <template v-slot:default>
        <div class="row">
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4 text-center">
            <strong>Уникальный номер отчета:</strong>
          </div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-begin"><strong v-text="uuid"/>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <hr>
          </div>
          <div class="col-4"><strong>Данные о внедрении НТД:</strong></div>
          <div class="col-4">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Вид НТД</label></div>
          <div class="form-group col-4 gy-2">
            <select class="form-select" v-model="typeNtd">
              <option :value="null"></option>
              <option value="ГОСТ">ГОСТ</option>
              <option value="ГОСТ Р">ГОСТ Р</option>
              <option value="ПНСТ">ПНСТ</option>
              <option value="ОДМ">ОДМ</option>
            </select>
          </div>
          <div class="col-2 mt-3"><label>Номер НТД</label></div>
          <div class="form-group col-4 gy-2">
            <input type="search" class="form-control" v-model="numberNtd"/>
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Наименование НТД</label></div>
          <div class="form-group col-10 gy-2">
            <div class="suggestions-container">
              <input type="search" class="form-control" v-model="titleNtd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Наименование ФКУ</label></div>
          <div class="form-group col-10 gy-2">
            <input type="search" class="form-control" v-model="titleFku">
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-2"><label>Номер закупки</label></div>
          <div class="form-group col-4 gy-2">
            <input type="search" class="form-control" v-model="numberPurchase">
          </div>
          <div class="col-2 mt-2"><label>Регистрационный номер контракта</label></div>
          <div class="form-group col-4 gy-2">
            <input type="search" class="form-control" v-model="numberContract">
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-1"><label>Дата заключения контракта</label></div>
          <div class="form-group col-4 gy-2">
            <input type="date" class="form-control" v-model="dateStart">
          </div>
          <div class="col-2 mt-3"><label>Дата завершения работ</label></div>
          <div class="form-group col-4 gy-2">
            <input type="date" class="form-control" v-model="dateFinish">
          </div>
        </div>
        <div class="row">
          <div class="col-3 mt-1"><label>Наименование организации-исполнителя</label></div>
          <div class="form-group col-9 gy-2">
            <input type="search" class="form-control" v-model="developer">
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Наименование работ</label></div>
          <div class="form-group col-10 gy-2">
            <input type="search" class="form-control" v-model="title">
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Место проведения работ</label></div>
          <div class="form-group col-10 gy-2">
            <input type="search" class="form-control" v-model="place">
          </div>
        </div>
        <div class="row">
          <div class="col-2 mt-3"><label>Вид работ</label></div>
          <div class="form-group col-10 gy-2">
            <input type="search" class="form-control" v-model="type">
          </div>
        </div>
      </template>
      <template v-slot:buttons>
        <div class="row">
          <div class="col-2">
            <input type="button" class="btn btn-primary btn-md float-right" value="Создать новый отчет"
                   @click="newntd"/>
          </div>
          <div class="col-3">
            <input type="button" class="btn btn-primary btn-md float-right" value="Показать все отчеты пользователя"
                   @click="list"/>
          </div>
          <div class="col-4"></div>
          <div class="col-1">
            <input type="button" class="btn btn-danger btn-md float-right" value="Очистить" @click="clean"/>
          </div>
          <div class="col-2">
            <input type="button" class="btn btn-primary btn-md float-right" value="Отправить отчет" @click="save"/>
          </div>
        </div>
      </template>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      @getDetail="load"
  />
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import {uuid} from "vue-uuid";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView.vue";


export default {
  name: "InputNtd",
  components: {
    TableView,
    SearchWindow
  },
  data() {
    return {
      uuid: uuid.v4(),
      typeNtd: null,
      numberNtd: null,
      titleNtd: null,
      titleFku: null,
      numberPurchase: null,
      numberContract: null,
      dateStart: null,
      dateFinish: null,
      developer: null,
      title: null,
      place: null,
      type: null,
      rows: null,
      columns: [
        {
          title: 'uuid',
          field: 'uuid'
        },
        {
          title: 'Наименование ФКУ',
          field: 'titleFku'
        },
        {
          title: 'Номер закупки',
          field: 'numberPurchase'
        },
        {
          title: 'Наименование темы работ',
          field: 'title'
        },
        {
          title: 'Регистрационный номер контракта',
          field: 'numberContract'
        },
        {
          title: 'Дата заключения контракта',
          field: 'dateStart'
        },
        {
          title: 'Дата завершения работ',
          field: 'dateFinish'
        },
        {
          title: 'Наименование организации-исполнителя',
          field: 'developer'
        },
        {
          title: 'Наименование работ',
          field: 'title'
        },
        {
          title: 'Место проведения работ',
          field: 'place'
        },
        {
          title: 'Вид работ',
          field: 'type'
        },
        {
          title: 'Вид НТД',
          field: 'typeNtd'
        },
        {
          title: 'Номер НТД',
          field: 'numberNtd'
        },
        {
          title: 'Наименование НТД',
          field: 'titleNtd'
        }
      ]
    }
  },
  methods: {
    load(uuid) {
      this.$emit('loader', true)
      privateApi.get('/api/ntd/load/' + uuid)
          .then(res => {
            let data = res.data
            this.uuid = data.uuid
            this.typeNtd = data.typeNtd
            this.numberNtd = data.numberNtd
            this.titleNtd = data.titleNtd
            this.titleFku = data.titleFku
            this.numberPurchase = data.numberPurchase
            this.numberContract = data.numberContract
            this.dateStart = data.dateStart
            this.dateFinish = data.dateFinish
            this.developer = data.developer
            this.title = data.title
            this.place = data.place
            this.type = data.type
            this.$refs.searchWindow.showBody();
            this.$emit('loader', false)
          })
    },
    clean() {
      this.typeNtd = null
      this.numberNtd = null
      this.titleNtd = null
      this.titleFku = null
      this.numberPurchase = null
      this.numberContract = null
      this.dateStart = null
      this.dateFinish = null
      this.developer = null
      this.title = null
      this.place = null
      this.type = null
    },
    newntd() {
      this.uuid = uuid.v4()
      this.clean()
    },
    save() {
      this.$emit('loader', true)
      let request = {
        uuid: this.uuid,
        typeNtd: this.typeNtd,
        numberNtd: this.numberNtd,
        titleNtd: this.titleNtd,
        titleFku: this.titleFku,
        numberPurchase: this.numberPurchase,
        numberContract: this.numberContract,
        dateStart: this.dateStart,
        dateFinish: this.dateFinish,
        developer: this.developer,
        title: this.title,
        place: this.place,
        type: this.type
      }
      privateApi.post('/api/ntd/save', request)
          .then(this.list)
    },
    list() {
      this.$emit('loader', true)
      privateApi.get('/api/ntd/list')
          .then(res => {
            let rawRows = res.data
            let rows = []
            for (let i = 0; i < rawRows.length; i++) {
              rows.push(
                  {
                    id: rawRows[i].uuid,
                    uuid: rawRows[i].uuid,
                    typeNtd: rawRows[i].typeNtd,
                    numberNtd: rawRows[i].numberNtd,
                    titleNtd: rawRows[i].titleNtd,
                    titleFku: rawRows[i].titleFku,
                    numberPurchase: rawRows[i].numberPurchase,
                    numberContract: rawRows[i].numberContract,
                    dateStart: rawRows[i].dateStart,
                    dateFinish: rawRows[i].dateFinish,
                    developer: rawRows[i].developer,
                    title: rawRows[i].title,
                    place: rawRows[i].place,
                    type: rawRows[i].type
                  })
            }
            this.rows = rows
            this.$refs.searchWindow.hideBody();
            this.$emit('loader', false)
          })
    }
  }
}
</script>

<style scoped>

</style>
