<template>
  <div class="col-3 text-center mb-5">
    <a :href="href"
       :data-bs-placement="placement"
       data-bs-toggle="popover"
       data-bs-trigger="hover"
       :data-bs-content="content"
       title="Открытые данные (формат CSV)">
      <img class="icon-ois" :src="img"> </a>
    <div class="mt-3 mb-3">
      <div class="second-content-container">
        <span class="ois-header2"><strong>{{ title }}</strong></span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    href: String,
    placement: String,
    content: String,
    img: String,
    title: String
  },
  name: "OpenDataItem"
}
</script>

<style scoped>

</style>
