<template>
  <div class="mt-2">
    <ul id="list-tab-indicator" class="nav nav-pills nav-fill">
      <li v-for="item in items" :key="item.id" class="nav-item">
        <a :class="['nav-link', selectId === item.id ? 'active':'']" href="#" @click.prevent="selected(item.id)">
          {{ item.title }} <span :class="['badge', item.count>0 ? 'bg-danger' :'bg-success']">{{ item.count }}</span>
        </a>
      </li>
    </ul>
  </div>
  <TableView
      :columns="getColumns"
      :rows="getRows"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <DetailTable :detail="detailTr" v-if="selectId === 'STO'"/>
      <TheBlocksDetail :blocks="blocks" v-else/>
    </template>
  </DetailModal>
</template>

<script>
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import DetailTable from "@/components/search/components/DetailTable";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";

export default {
  name: "TheEventsSearch",
  components: {
    TableView,
    DetailModal,
    DetailTable,
    TheBlocksDetail
  },
  data() {
    return {
      items: [
        {id: 'STO', title: 'Анализ сроков согласования СТО', count: 0},
        {id: 'PNST', title: 'Анализ сроков утверждения ПНСТ', count: 0},
        {id: 'GOST', title: 'Анализ сроков утверждения ГОСТ', count: 0},
        {id: 'GOSTR', title: 'Анализ сроков утверждения ГОСТ Р', count: 0},
        {id: 'ODM', title: 'Анализ сроков утверждения ОДМ', count: 0},
        {id: 'contractFinish', title: 'Анализ сроков завершения контрактов', count: 0}
      ],
      selectId: 'STO',
      data: null,
      detailTr: null,
      blocks: null
    }
  },
  computed: {
    getColumns() {
      let column = [
        {
          title: '№',
          field: 'index'
        }
      ]
      switch (this.selectId) {
        case "STO":
          column.push({title: 'Номер СТО', field: 'number'})
          column.push({title: 'Название', field: 'name'})
          column.push({title: 'Разработчик', field: 'organization'})
          column.push({title: 'Дата соглосования', field: 'date_start'})
          column.push({title: 'Дата окончания соглосования', field: 'date_finish'})
          break
        case 'PNST':
        case 'GOST':
        case 'GOSTR':
        case 'ODM':
          column.push({title: 'Название документа', field: 'title'})
          column.push({title: 'Разработчик', field: 'organization'})
          column.push({title: 'Номер ГК', field: 'number'})
          column.push({title: 'Дата ГК', field: 'conclusion_date'})
          column.push({title: 'Название контракта', field: 'name'})
          column.push({title: 'Дата оплаты ГК', field: 'date_payment'})
          column.push({title: 'Срок задержки (дни)', field: 'day_off'})
          break;
        case "contractFinish":
          column.push({title: 'Год плана', field: 'year'})
          column.push({title: 'Номер ГК', field: 'number'})
          column.push({title: 'Дата ГК', field: 'gk_date'})
          column.push({title: 'Название контракта', field: 'title'})
          column.push({title: 'Разработчик', field: 'organization'})
          column.push({title: 'Дата сдачи последнего этапа', field: 'conclusion_date'})
          column.push({title: 'Срок задержки (дни)', field: 'day_off'})
          break
      }
      return column;
    },
    getRows() {
      let rows = []
      if (this.data !== null) {
        switch (this.selectId) {
          case 'STO':
            rows = this.data.sto
            break
          case 'PNST':
            rows = this.data.events.filter(i => i.events === 'ПНСТ')
            break
          case 'GOST':
            rows = this.data.events.filter(i => i.events === 'ГОСТ')
            break
          case 'GOSTR':
            rows = this.data.events.filter(i => i.events === 'ГОСТ Р')
            break
          case 'ODM':
            rows = this.data.events.filter(i => i.events === 'ОДМ')
            break
          case 'contractFinish':
            rows = this.data.contractFinish
        }
      }
      for (let i = 0; i < rows.length; i++) {
        rows[i].index = i + 1
      }
      return rows;
    }
  },
  methods: {
    getEvents() {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/events')
          .then((response) => {
            let items = [];
            let data = response.data;
            items['STO'] = data.sto.length
            items['PNST'] = data.events.filter(i => i.events === 'ПНСТ').length
            items['GOST'] = data.events.filter(i => i.events === 'ГОСТ').length
            items['GOSTR'] = data.events.filter(i => i.events === 'ГОСТ Р').length
            items['ODM'] = data.events.filter(i => i.events === 'ОДМ').length
            items['contractFinish'] = data.contractFinish.length
            this.items.forEach((item) => {
              item.count = items[item.id]
            })
            this.data = data;
            this.$emit('loader', false)
          })
    },
    getDetail(id) {
      this.$emit('loader', true)
      if (this.selectId === 'STO') {
        privateApi
            .get('/api/private-search/events/' + id)
            .then(res => {
              this.detailTr = res.data.sort((a, b) => a.index - b.index)
              this.$refs.detailModal.openModal()
              this.$emit('loader', false)
            })
      } else {
        privateApi
            .get('/api/private-search/special/' + id)
            .then((res) => {
                  this.blocks = res.data
                  this.$refs.detailModal.openModal()
                  this.$emit('loader', false)
                }
            )
      }
    },
    selected(id) {
      this.selectId = id
    }
  },
  mounted() {
    this.getEvents();
  }
}
</script>

<style scoped>

</style>
