<template>
  <div class="container">
    <SearchWindow
        title="АКТЫ/ПРЕТЕНЗИИ"
        @search="search"
        @clean="clean"
        ref="searchWindow"
    >
      <div class="row">
        <div class="col-1 mt-1"><label>Статья</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="budgetItem" id="budgetItem" name="budgetItem" class="form-select">
            <option>НИОКР</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Статус</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="status" id="status" name="status" class="form-select">
            <option></option>
            <option>Вновь начинаемые</option>
            <option>Переходящие</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Претензии</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="claim" id="claim" name="claim" class="form-select">
            <option value="null"></option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
          </select>
        </div>
        <div class="col-1 mt-1"><label>Акты</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="act" id="act" class="act">
            <option value="null"></option>
            <option value="true">Есть</option>
            <option value="false">Нет</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <hr>
        </div>
        <div class="col-1"><label><strong>Контракт:</strong></label></div>
        <div class="col-6">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-0"><label>Год формирования Плана c:</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="yearFrom" id="yearFrom" name="yearFrom" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
        <div class="col-1 mt-0"><label>По:</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="yearTo" id="yearTo" name="yearTo" class="form-select">
            <option></option>
            <option v-for="(year,index) in listYear" :key="index" :value="year">{{ year }}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Номер контракта</label></div>
        <div class="form-group col-2 gy-2">
          <input v-model="number" id="number" type="search" name="number" class="form-control">
        </div>
        <div class="col-2 mt-1"><label>Состояние контракта</label></div>
        <div class="form-group col-2 gy-2">
          <select v-model="condition" id="condition" name="condition" class="form-select">
            <option></option>
            <option>Выполняется</option>
            <option>Завершен</option>
            <option>Расторгнут</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Наименование</label></div>
        <div class="form-group col-10 gy-2">
          <input v-model="name" id="name" type="search" name="name" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-2 mt-1"><label>Исполнитель</label></div>
        <div class="form-group col-4 gy-2">
          <input v-model="executor" id="executor" type="search" name="executor" class="form-control">
        </div>
        <div class="col-1 mt-1"><label>Заказчик</label></div>
        <div class="form-group col-5 gy-2">
          <select v-model="customer" id="customer" name="customer" class="form-select">
            <option selected value="">Все заказчики</option>
            <option v-for="(item,index) in customers" :key="index" :value="item">{{ item }}</option>
            <option value=""></option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата претензии с:</label></div>
        <div class="col-3 mt-1"><label>По дату:</label></div>
        <div class="col-3 mt-1"><label>Дата оплаты штрафа с:</label></div>
        <div class="col-3 mt-1"><label>По дату:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateClaimFrom" id="dateClaimFrom" type="date" name="dateClaimFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateClaimTo" id="dateClaimTo" type="date" name="dateClaimTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="datePayFrom" id="datePayFrom" type="date" name="datePayFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="datePayTo" id="datePayTo" type="date" name="datePayTo" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата подписания акта Исполнителем с:</label></div>
        <div class="col-3 mt-1"><label>По дату:</label></div>
        <div class="col-3 mt-1"><label>Дата подписания акта Заказчиком с:</label></div>
        <div class="col-3 mt-1"><label>По дату:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateSignExecutorFrom" id="dateSignExecutorFrom" type="date" name="dateSignExecutorFrom"
                 class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateSignExecutorTo" id="dateSignExecutorTo" type="date" name="dateSignExecutorTo"
                 class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateSignCustomerFrom" id="dateSignCustomerFrom" type="date" name="dateSignCustomerFrom"
                 class="form-control"></div>
        <div class="form-group col-3">
          <input v-model="dateSignCustomerTo" id="dateSignCustomerTo" type="date" name="dateSignCustomerTo"
                 class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-3 mt-1"><label>Дата заключения контракта с:</label></div>
        <div class="col-3 mt-1"><label>По дату заключения:</label></div>
        <div class="col-3 mt-1"><label>Дата завершения контракта с:</label></div>
        <div class="col-3 mt-1"><label>По дату завершения:</label></div>
      </div>
      <div class="row">
        <div class="form-group col-3">
          <input v-model="dateStartFrom" id="dateStartFrom" type="date" name="dateStartFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateStartTo" id="dateStartTo" type="date" name="dateStartTo" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishFrom" id="dateFinishFrom" type="date" name="dateFinishFrom" class="form-control">
        </div>
        <div class="form-group col-3">
          <input v-model="dateFinishTo" id="dateFinishTo" type="date" name="dateFinishTo" class="form-control">
        </div>
      </div>
    </SearchWindow>
  </div>
  <TableView
      v-if="rows"
      :columns="columns"
      :rows="rows"
      :aggregate="aggregate"
      :admin="admin"
      @getDetail="getDetail"
  />
  <DetailModal ref="detailModal" :title="'Подробная информация'">
    <template v-slot:body>
      <TheBlocksDetail
          :blocks="blocks"
      />
    </template>
  </DetailModal>
</template>

<script>
import SearchWindow from "@/components/search/components/SearchWindow";
import list from "@/plugins/list";
import privateApi from "@/plugins/private";
import TableView from "@/components/table/TableView";
import DetailModal from "@/components/DetailModal";
import TheBlocksDetail from "@/components/search/components/TheBlocksDetail";

export default {
  name: "TheActSearch",
  components: {
    SearchWindow,
    TableView,
    DetailModal,
    TheBlocksDetail
  },
  data() {
    return {
      listYear: list.currentListYear.reverse(),
      customers: list.customers,
      budgetItem: 'НИОКР',
      status: null,
      claim: null,
      act: null,
      yearFrom: new Date().getFullYear(),
      yearTo: new Date().getFullYear(),
      number: null,
      condition: null,
      name: null,
      executor: null,
      customer: null,
      dateClaimFrom: null,
      dateClaimTo: null,
      datePayFrom: null,
      datePayTo: null,
      dateSignExecutorFrom: null,
      dateSignExecutorTo: null,
      dateSignCustomerFrom: null,
      dateSignCustomerTo: null,
      dateStartFrom: null,
      dateStartTo: null,
      dateFinishFrom: null,
      dateFinishTo: null,
      rows: null,
      aggregate: null,
      blocks: null,
      admin: false,
      columns: [
        {
          title: '№',
          field: 'index'
        },
        {
          title: 'Наименование контракта',
          field: 'title'
        },
        {
          title: 'Начало и окончание работ',
          field: 'working'
        },
        {
          title: 'Исполнитель<br/>Заказчик',
          field: 'executor_and_customer'
        },
        {
          title: 'Стоимость всего (тыс. ₽)',
          field: 'price_all'
        },
        {
          title: 'Сумма штрафов по ГК (тыс. ₽)',
          field: 'claims'
        },
        {
          title: 'Этапы, сроки сдачи, стоимость этапов по КП, фактическая оплата',
          field: 'stage'
        },
        {
          title: 'Реализация',
          field: 'realization'
        },
        {
          title: 'Состояние',
          field: 'condition'
        }
      ]
    }
  },
  methods: {
    search() {
      this.$emit('loader', true)
      const data = {
        budgetItem: this.budgetItem,
        status: this.status,
        claim: this.claim,
        act: this.act,
        yearFrom: this.yearFrom,
        yearTo: this.yearTo,
        number: this.number,
        condition: this.condition,
        name: this.name,
        executor: this.executor,
        customer: this.customer,
        dateClaimFrom: this.dateClaimFrom,
        dateClaimTo: this.dateClaimTo,
        datePayFrom: this.datePayFrom,
        datePayTo: this.datePayTo,
        dateSignExecutorFrom: this.dateSignExecutorFrom,
        dateSignExecutorTo: this.dateSignExecutorTo,
        dateSignCustomerFrom: this.dateSignCustomerFrom,
        dateSignCustomerTo: this.dateSignCustomerTo,
        dateStartFrom: this.dateStartFrom,
        dateStartTo: this.dateStartTo,
        dateFinishFrom: this.dateFinishFrom,
        dateFinishTo: this.dateFinishTo
      }
      privateApi
          .post('/api/private-search/information/act', data)
          .then(res => {
                let rawRows = res.data.rows
                this.aggregate = res.data.aggregate
                let rows = []
                for (let i = 0; i < rawRows.length; i++) {
                  rows.push(
                      {
                        id: rawRows[i].id,
                        index: i + 1,
                        title: rawRows[i].title,
                        working: rawRows[i].working,
                        executor_and_customer: rawRows[i].executor_and_customer,
                        price_all: rawRows[i].price_all,
                        claims: rawRows[i].claims,
                        stage: rawRows[i].stage,
                        realization: rawRows[i].realization,
                        condition: rawRows[i].condition
                      }
                  )
                }
                this.rows = rows
                this.$refs.searchWindow.hideBody();
                this.$emit('loader', false)
              }
          )
    },
    getDetail(id) {
      this.$emit('loader', true)
      privateApi
          .get('/api/private-search/special/' + id)
          .then((res) => {
                this.blocks = res.data
                this.$refs.detailModal.openModal()
                this.$emit('loader', false)
              }
          )
    },
    clean() {
      this.budgetItem = 'НИОКР'
      this.status = null
      this.claim = null
      this.act = null
      this.yearFrom = new Date().getFullYear()
      this.yearTo = new Date().getFullYear()
      this.number = null
      this.condition = null
      this.name = null
      this.executor = null
      this.customer = null
      this.dateClaimFrom = null
      this.dateClaimTo = null
      this.datePayFrom = null
      this.datePayTo = null
      this.dateSignExecutorFrom = null
      this.dateSignExecutorTo = null
      this.dateSignCustomerFrom = null
      this.dateSignCustomerTo = null
      this.dateStartFrom = null
      this.dateStartTo = null
      this.dateFinishFrom = null
      this.dateFinishTo = null
    }
  }
}
</script>

<style scoped>

</style>
